[2021-06-08 18:52] cwoffenden commented on #606
@felixhandte Most of these flags are already in the single file build script that, AFAIK, the JS builds are using:

https://github.com/facebook/zstd/blob/8a3bdfaa7bb2944dbed1ce9dede39f512d6da3f9/build/single_file_libs/zstddeclib-in.c#L31

(At the time I did the tradeoff between size and performance and settled on these ones)

[2021-06-08 19:02] photopea commented on #606
Guys, could some of you make a webapp for ZSTD compression? I would drag and drop one binary file into a website, and after a while, it would offer me to save another binary file to my computer. I would like to do some experiments.

As I said, I do not work with C or compilers, and I do not want to install some complex 50 MB EXE program into my computer.

[2021-06-09 08:22] gouthamkrishnakv opened #2701 "Travis Test 'Passed' without running test"
**Describe the bug**
Travis CI running test `test-zstream-2` on **Xenial (Meson+clang)** is executing "help message" **without** running any test.

**To Reproduce**
Steps to reproduce the behavior:
1. Run CI build on Travis
2. Navigate to **Xenial (Meson+clang)** job
3. Get to the log where `test-zstream-2` is running.
4. Check the error.

**Expected behaviour**
- The Tester should run the test `t

[2021-06-09 20:48] 101arrowz commented on #606
@photopea Maybe you could use the command line tool? If not it's trivial to create a webapp that compresses with WASM, there are many existing JS bindings to Zstandard (it seems you already have one, but [this one](https://github.com/evanwashere/wasm/tree/master/src/zstd) seems solid as well).

In case anyone is interested, I am currently working on a pure JS port of Zstandard (not made with Emscr

[2021-06-10 11:10] photopea commented on #606
@101arrowz I looked at your link https://github.com/evanwashere/wasm/tree/master/src/zstd , but it seems their code is not Javascript (I wonder why they name it .js). When I run it, I see an error "Uncaught SyntaxError: Unexpected token 'export'".

BTW. I see you already know my library UZIP.js :) I strongly support you in your goal of creating an independent ZStandard implementation!

[2021-06-10 20:57] #2694 closed, assigned to nobody

[2021-06-11 00:21] ghost commented on #2690
How about manually add unused variables to the struct, so that it's always aligned to 4 bytes.

[2021-06-16 07:15] photopea commented on #606
@101arrowz What is your progress with the Javascript decompressor of ZStandard? I think I already need it :D

People open files in Photopea.com , which are e.g. only 20 MB, but they are over 3 GB after the ZSTD decompression. I can not use the WASM library, because current WASM implementations in browsers are limited to 2 GB of memory for a WASM module.

[2021-06-16 07:19] 101arrowz commented on #606
If you want a contiguous ArrayBuffer, I don't think any engines support over 2GB either, though streaming would be possible.

So far the decompressor is almost done. It will be a few more days before I can publish it. It will support data streaming, so you can bypass the memory limitations of the browser.

[2021-06-18 13:47] klauspost opened #2713 "HTTP "Content-Encoding" window size wrt. RFC 8878"
**Issue**

It seems to me there is a need for RFC 8878 to specify a maximum window size for using "zstd" Content-Encoding. At least 8MB is recommended as max window size for the decoder, but is not a requirement.

The main issue I see with wide adoption is the risk of having to reject data because of the window size chosen by the encoder.

**Describe the solution you'd like**

A clear and concise

[2021-06-21 00:02] aqrit commented on #2679
The scalar fallback has been greatly improved in the `dev` branch.
Vectorization of `ZSTD_row_getMatchMask()` is now expected to be worth less than 5%.

AFAIK, a `IBMz VX SIMD` implementation might look something like
(with the `z13` implementation being just a shot in the dark):

[code]

I wonder if the "find best match in bucket" function could be further improved:
- Vectorize the range checks.

[2021-06-24 16:04] Cyan4973 commented on #2701
The linked test, using `--mt` command, is simply no longer valid.
It should be removed from the list of tests.

[2021-06-24 16:28] Cyan4973 commented on #2695
The code enabled by `--long` is likely better optimized by `gcc` than `clang`.
`clang` improvements may happen in the future, but it's not a trivial issue.
It would take a dedicated effort to alter the code in a way which would be friendlier to `clang`, assuming it's possible. And doing that without impacting negatively other compilers is hard to do. So we'll keep an eye on this topic, but not rus

[2021-06-24 17:57] #2701 closed, assigned to nobody

[2021-06-28 02:22] nariox commented on #1638
Hi @terrelln,
I have been trying to figure out what is happening. Seems like with the addition of the MAINTAINERS file, there shouldn't be major objections to the ZSTD update. Other than David Sterba's endorsement, what else would be needed for the update to be pushed to 5.14?

[2021-06-29 08:15] danlark1 commented on #2695
I can try and help with that as I already tried in #2689 for decompression, yet, as @Cyan4973 said, it takes significant effort to make sure all compilers benefit from it, so no rushing

[2021-06-29 09:19] anon00000000 opened #2718 "Efficient read of input sparse files"
Hello

**Is your feature request related to a problem? Please describe.**
My problem is the following: I may do whole block device backups using `dd if=/dev/sda of=img conv=sparse` to get a sparse file, but if I want to compress it further without zstd having to read TB of data, I have to use GNU tar with the sparse option to make the hole detection effective for further compression.

**Describe t

[2021-06-29 16:37] felixhandte commented on #2718
Hi @anon00000000,

Something like `tar` is probably the appropriate place to address this need. While the `zstd` command line understands the idea of files and so on, the compressed format that it writes out does not. A Zstandard compressed blob (a "frame") simply encodes a stream of bytes. So there isn't really a good place in a Zstandard frame to transport the metadata around where the holes are

[2021-06-30 07:35] anon00000000 commented on #2718
I don't want to "transport" the metadata, zstd can already create sparse files. What is needed is to use `lseek` with `SEEK_DATA` and `SEEK_HOLE` (when available on the  OS/FS combo) instead of just reading the TBs of zeros; this probably implies some voluminous changes to zstd, to handle compression of "N zeros" instead of "a buffer of size N filled with zeros".

For example, GNU tar's way: https

[2021-06-30 23:37] 101arrowz commented on #606
[I've completed the pure JS decompressor](https://github.com/101arrowz/fflate/discussions/69#discussioncomment-945803). It seems to perform OK compared to WASM, but WASM should be preferred if it's available. The main benefit of this JS version is streaming support and tiny bundle size (7kB minified, 3.4kB minzipped).

[2021-06-30 23:47] photopea commented on #606
@101arrowz All your code is TypeScript. Could you provide a JS file somehwere, which I can use directly in a web browser? I have no experience with "compiling".

[2021-07-01 00:12] 101arrowz commented on #606
@photopea Check out the updated README, there are instructions for how to use a CDN. Just download the file from the CDN and use the global `fzstd`. [This is the current CDN link](https://unpkg.com/fzstd@0.0.2/umd/index.js).

[2021-07-01 09:59] photopea commented on #606
@101arrowz Thanks! Your decompressor seems to be about 2.2x slower than the WASM port. On the other hand, it is only 3.6 kB zipped, while WASM is 11.9 kB. I am really happy when I see such "tiny" software :)

[2021-07-01 10:13] 101arrowz commented on #606
Good to hear! @Cyan4973 could you add this port to the list of implementations in other languages?

[2021-07-01 10:16] Cyan4973 commented on #606
done

[2021-07-01 11:00] Cyan4973 commented on #2718
`zstd` already supports writing sparse files,
but your question is about _reading_ sparse files,
and actively skipping  holes, rather than getting them transparently translated into blocks of zeroes.

While this seems in theory possible,
in practice, it's a substantial complexity, with associated increase in maintenance cost and risks.
It would have to result in some substantial gains in order to

[2021-07-01 11:45] anon00000000 commented on #2718
If this is deemed too complex to do (I wouldn't have thought so, but I don't know zstd's internals), tar does do the job, but the bad support for sparse files from almost all compressors has always seemed strange to me.

Even a very simplistic mechanism that would fill zstd's "read buffers" with 0 via memset instead of literally reading from the disk would probably give a substantial improvement.

[2021-07-01 13:01] Cyan4973 commented on #2718
You are of course welcome to submit a patch to provide the feature, especially if you believe it's simple to do.

[2021-07-01 14:27] ghost commented on #2718
You can use a special format to deal with sparse data, and then use zstd to compress it.

[2021-07-06 14:20] hwogit opened #2721 "Question about multi-threading support"
What exactly does multi-threading support mean in the case of libzstd?
Does it mean that libzstd uses multiple threads in a single call to compress?
Or does it mean that multiple calls to libzsdt for compression may occur in parallel?

If libzsdt was created for single threaded mode, are multiple parallel calls to compress files/streams possible?

The background to my question is that I am creatin

[2021-07-06 17:31] Cyan4973 commented on #2721
Yes, your scenario corresponds to the "normal" way to use `libzstd`.
Most applications expect `libzstd` to compress in single-thread mode, because they already handle multi-threading themselves. They just want multiple instances of compression / decompression to happen seamlessly in parallel. This is what `libzstd` offers.

`libzstd` can also, optionally, deploy multiple threads to compress a sing

[2021-07-07 11:56] hwogit commented on #2721
Thank you for the information. In my app, large files are split into 8 MB fragments, each compressed independently in separate threads. This is much faster than compressing the entire file in one thread.

[2021-07-07 11:56] #2721 closed, assigned to nobody

[2021-07-08 19:56] dotnwat opened #2723 "Streaming decompress into fragmented (but stable) output without history buffer?"
Thank you for this amazingly powerful library. I think we (at https://github.com/vectorizedio/redpanda) may have a unique use case which appears to _almost_ be covered by the API, but there is still an open question about a viable solution, and I'm hoping to get some advice on the limits of the current API.

tl;dr: is it possible to use `ZSTD_c_stableOutBuffer` with a stable (but fragmented) outpu

[2021-07-09 20:49] felixhandte commented on #2723
@dotnwat,

Thanks for providing so much context!

I'm sorry to say that in general, the answer to your question is no. And unfortunately, it's not just an API limitation: the decoder implementation is written in such a way that it cannot decompress with a fragmented history buffer.

Fundamentally the zstd decoder is performing [two operations in a loop](https://github.com/facebook/zstd/blob/dev/li

[2021-07-09 20:54] felixhandte commented on #2723
If you just `malloc()` it but never use it, actual memory will never get allocated to back it. So you'll just be using the address space. Although I guess you're saying you're running out of that. Which really surprises me! Are you using the stock libc allocator? You might want to try https://github.com/jemalloc/jemalloc. It's pretty great. (Disclaimer: it's maintained by my teammates.)

[2021-07-09 21:10] felixhandte commented on #2713
Specifying a hard limit on the window size for HTTP transfers is not a good solution, IMHO. A global limit that is conservative enough to be of use to resource-constrained endpoints will be harmfully restrictive for use cases which (by prior arrangement or expectation) transport large zstd-compressed objects.

I would much rather have standardized an option on the Accept-Encoding item ("`Accept-En

[2021-07-09 21:16] #2656 closed, assigned to nobody

[2021-07-09 22:12] dotnwat commented on #2723
wow @felixhandte thanks for the details and I really appreciate the quick response.

this was my hunch, but without having seen all of the zstd internals, I thought I should ask about fragmented memory :)

Do you have a sense for how much work that might be? IIUC this would effectively be an integration into a (new) slow path some array / index that recorded the fragment boundaries and an update t

[2021-07-10 18:47] pombredanne commented on #2663
I was about to file an issue because there are also inconsistencies between the SPDX declaration and the notices in the kernel code at https://github.com/facebook/zstd/blob/12c045f74d922dc934c168f6e1581d72df983388/contrib/linux-kernel/zstd_compress_module.c#L123 and elsewhere:

1. `SPDX-License-Identifier: GPL-2.0-only` is clear but in conflict with both ..
2. the fuzzy reference
[code]
... and
3.

[2021-07-10 22:40] photopea commented on #606
@101arrowz  have you thought about making a "simple" ZSTD compressor in pure Javascript? I think You can create an amazing thing, which will beat Deflate compression (in terms of compression ratio and speed) in just 10 - 20 kB of code :) You ca probably even use some code from your "fflate" compressor :)

I would like to do the compression in a browser, and I don't want people to download a 3 MB W

[2021-07-10 23:43] 101arrowz commented on #606
FSE compression seems much more complex than standard Huffman coding, so if I do end up creating a compressor it could take multiple weeks or months. For now the decompressor alone is available but I'll look into a compressor implementation.

[2021-07-12 12:40] evelikov commented on #2663
Note that the "BSD/GPL" wording is ambiguous as outlined in the "SPDX IDs reduce license errors and risks" section in [here](https://spdx.dev/ids/).

From the current license blub `You may select, at your option, one of the above-listed licenses` it should be `OR` instead of `AND` .. me thinks.

I suspect that FB won't object to a PR as long as you've signed [the CLA](https://code.facebook.com/cla

[2021-07-13 07:02] pombredanne commented on #2663
@evelikov  you wrote

You are entirely right, yet this has a long history and is well documented here https://git.kernel.org/pub/scm/linux/kernel/git/stable/linux.git/tree/include/linux/module.h#n193 . This is used by many LKMs is this is s standard that is unlikely to change.
(disclosures: I helped adopt SPDX ids in the kernel otherwise and I am an SPDX co-founder)

Good catch! of course: stupid

[2021-07-16 18:21] senhuang42 commented on #2670
Closing since no followup questions.

[2021-07-16 18:21] #2670 closed, assigned to senhuang42

[2021-07-16 18:28] #2576 closed, assigned to nobody

[2021-07-16 18:30] felixhandte commented on #2545
I believe this is resolved.

[2021-07-16 18:30] #2545 closed, assigned to nobody

[2021-07-19 13:42] mkjois opened #2727 "Worse performance on aarch64 when building latest from source, vs older versions from yum repos"
### Describe the Bug

We're seeing very different CPU usage profiles for compression
based on where we get the `zstd` binary.

Our own 1.5.0 binary built from source seems to use 4-5% CPU,
while a 1.4.2 binary from `epel` uses 2-3%,
and a 1.3.3 binary from `amzn2-core` uses 1-1.5%.

This difference is confusing us and is somewhat important in terms of maximizing CPU
for our main application. We'd

[2021-07-19 16:57] terrelln commented on #2727
Hi @mkjois, can you print the output of zstd benchmark on the data you're compressing? All three of these zstd binaries will support the benchmark tool:

[code]

If you can't easily grab your real data, you can try the [silesia corpus](http://sun.aei.polsl.pl/~sdeor/index.php?page=silesia).

[2021-07-19 18:48] mkjois commented on #2727
Hi @terrelln thanks for replying.

I've ran the benchmark for compression level 5 on both a single file input (500 MB)
and a 4-file input (2 GB). Our use case is just the single files at a time, but
I wasn't sure if the benchmark would be more precise or anything if given more files
so I added the 4-file case.

Results clearly show better compression ratios but worse speed for later versions.
Mayb

[2021-07-19 19:55] terrelln commented on #2727
Thanks for the logs! I really wouldn't expect such a large regression. In fact, I would expect a speed improvement...

My suggestion would be to try a newer gcc version, `gcc-4.8.5` is quite old. I'm not sure if a newer gcc will perform better or not. But, we can only "support" so many compilers for high performance. If a new version of gcc (gcc-11 is currently the latest, but at least gcc-8+) per

[2021-07-19 21:57] mkjois commented on #2727
gcc 10 absolutely did the trick!
[code]

It's barely an afterthought in the `perf top` now. Thanks @terrelln, feel free to close this.

[2021-07-19 22:08] mkjois commented on #2727
I did notice that `epel` had 1.5.0 for x86_64, but was on 1.4.2 for aarch64. I think it'd be good to rectify that as well.

[2021-07-21 23:20] tommythorn opened #2728 "ZSTD_insertBtAndGetAllMatches: Assertion `memcmp(match, ip, matchLength) == 0' failed"
**Describe the bug**
Hit an assertion (zstd: ../lib/compress/zstd_opt.c:651: ZSTD_insertBtAndGetAllMatches: Assertion `memcmp(match, ip, matchLength) == 0' failed.) while compressing a file.

This will probably be closed as "can't reproduce" as the file is 2363663601800 B (~ 2.1 TiB) and confidential.

**To Reproduce**
Steps to reproduce the behavior:
1. zfs send my private checkpoint, producing a

[2021-07-22 03:01] tommythorn commented on #2728
doesn’t reproduce with self-compiled 1.5.0

[2021-07-22 05:26] terrelln commented on #2728
As far as I can tell there haven't been any relevant changes to `zstd_opt.c` since v1.4.8 so this is likely still a problem, but it is possible it is fixed in the latest release. Although it seems this bug is very rare, and hard to trigger, it is a serious problem because it could potentially cause corruption.

I agree that it will be hard to debug since we can't reproduce it. But, I will leave th

[2021-07-23 00:41] ghost commented on #2728
Just curious, why are you using a debug build? (allow `assert()` )
Have you tried self-compiled 1.4.8?

[2021-07-23 00:44] tommythorn commented on #2728
I’m was the binaries Ubuntu shipped with (for 1.4.8).  I haven’t tried building 1.4.8 myself as my host crashed while testing 1.5.0 that I built myself (after very many hours) and my bandwidth for testing this is already exceeded.

Tommy

[2021-07-23 01:48] ghost commented on #2728
I suggest to test the memory.
When I plugged 4 x 4G RAM, and ran a compression test repeatedly, different hash values of compressed data occasionally appear.
Then I used Windows 10's memory test, it found a hardware memory error.
If only plug 2 x 4G RAM, no more memory errors, and no wrong hash values.
(CPU i5 4570)

[2021-07-23 07:21] Merculous opened #2730 "Maximum possible compression settings"
I'd like to know, obviously from the "issue" title, the absolute maximum compression zstd can do. I have "--ultra -22 --long=31 --single-thread" so far, and not exactly sure what the difference between -T1 and --single-thread are, and just assumed a bit more compression. Anything I can replace for more compression if it exists will be appreciated. I tried to do some good searching but have found n

[2021-07-23 07:39] Cyan4973 commented on #2730
I would use `--ultra -22 --long=31 --zstd=hlog=30,clog=30,slog=29,tlen=9999`.

[2021-07-23 23:55] tommythorn commented on #2728
I'm very sorry.  It does indeed appear to have been a previously not-seen instability with my machine.
Couldn't reproduce when I improved the cooling.

[2021-07-23 23:55] #2728 closed, assigned to nobody

[2021-07-24 00:06] Merculous commented on #2730
Thanks.

[2021-07-25 21:11] comex opened #2731 "Clarify documentation of `-c`/`--stdout`"
**Describe the bug**
I want the zstd CLI to read from a file and decompress it to stdout.

As I just learned, this can be done with `zstd -d -c foo.zst`.  The `-c` option makes it decompress to stdout, whereas the default when an input filename is passed is to create a correspondingly named output file.

However, I was not expecting `-c` to work and only tried it after spending some time looking f

[2021-07-26 16:40] terrelln commented on #2731
We should improve the documentation, but I believe that passing `-f` will override the console detection.

So `zstd -c -f foo` or `zstd -c -f -d foo.zst`.

[2021-07-26 16:46] #2730 closed, assigned to nobody

[2021-07-27 13:05] darleybarreto opened #2734 "Seekable parallel compression and decompression"
Hi folks, I am doing something similar to the [parallel compression](https://github.com/facebook/zstd/blob/dev/contrib/seekable_format/examples/parallel_compression.c) example, but when decompressing, there's a corruption error ([this](https://github.com/facebook/zstd/blob/dev/contrib/seekable_format/zstdseek_decompress.c#L503) line). In that example, there's a [call](https://github.com/facebook/z

[2021-07-27 13:21] Cyan4973 commented on #2734
`XXH64()` and `XXH64_update()` should give the same result,
assuming they receive same input (and same `seed`).

I would start by suspecting that this is the crux of the pb here.
It's unclear to me if tested implementation correctly resets, updates and digests `XXH64` checksum and state.
Unfortunately, "something similar" is not accurate enough, hence I can't be sure what target code is doing.
So

[2021-07-27 13:24] darleybarreto commented on #2734
Yeah, that's a bit subtle indeed. Do you know Rust? I am trying to debug a piece of code that uses `zstd-seekable` under the hood.

[2021-07-28 16:57] darleybarreto commented on #2734
So, similarly to [`compressFrame`](https://github.com/facebook/zstd/blob/dev/contrib/seekable_format/examples/parallel_compression.c#L106), I have (in a very simplified way)
[code]
The `ZSTD_compress` is the same found in `compressFrame`. To do the decompression, I have
[code]
Here, `write_all` calls `ZSTD_seekable_writeSeekTable`, and `log_frame` calls `ZSTD_seekable_logFrame`. After that we have

[2021-07-28 17:49] darleybarreto commented on #2734
Indeed there's no problem with the `C` examples. There's something more subtle happening in the rust side... Well, I'm closing this thread since it works as it should. Thank you for your time!

[2021-07-28 17:49] #2734 closed, assigned to nobody

[2021-07-29 19:41] jonathan-albrecht-ibm opened #2736 "zstd v1.5.0 with row-match-finder on produces different output for same input on s390x compared to x86_64"
**Describe the bug**
Prior to v1.5.0, running zstd with level 6 compression but otherwise default args on the same input file would produce the same output file on s390x and x86_64. In 1.5.0, the `--row-match-finder` feature is on by default and the output file is not always the same for the same input on s390x and x86_64.

if run with `--no-row-match-finder` then both x86_64 and s390x produce ide

[2021-07-29 19:57] senhuang42 commented on #2736
Out of curiosity, does this still happen on the current `dev` branch? Some changes have been made since 1.5.0 that affect the compression level you mentioned, specifically with regards to better big endian support, in particular, commit `dd4f6aa`.

[2021-07-29 21:24] jonathan-albrecht-ibm commented on #2736
Thanks @senhuang42. Good news, the latest `dev` branch does produce identical output on s390x and x86_64! I tried with a couple files and the output is identical now. I'll try a few more files and compression options and report back if anything looks wrong.

I'm not sure how the release process and planning works in zstd; could this fix go in a future v1.5.1? Happy to help with any testing if need

[2021-07-29 21:34] senhuang42 commented on #2736
Great to hear! Yeah, our testing on s390x/big-endian systems unfortunately isn't particularly robust since we focus mostly on x86. Our next v1.5.1 release will definitely have this change included.

[2021-07-31 06:57] tomberek commented on #1155
Is there a way for `--rsyncable` to split into frames and not blocks? This would allow fully independent frames to be concatenated, split, stored, indexed, and manipulated.

ie: create a Zstandard seekable format:
https://github.com/facebook/zstd/blob/master/contrib/seekable_format/zstd_seekable_compression_format.md

Though my intention would be for the checksum used in the seek table to be much

[2021-07-31 13:39] Cyan4973 commented on #1155
Currently, `--rsyncable` creates inter-related blocks. That's why this mode mostly preserves the compression ratio.
Consequently, it cannot be changed into multiple independent frames.
It would have to be a different mode.

[2021-07-31 15:00] tomberek commented on #1155
My intention is explicitly to trade some compression ratio in order to use the seekable format and perform content-addressing of each frame's uncompressed content. Perhaps a `--rsyncable-frames` mode, or some better name to express the trade-off better (--seekable, Cloud Optimized Zstandard, ...). Continuing as an RFC: https://github.com/facebook/zstd/pull/2737

[2021-08-02 13:05] chwma0 commented on #342
I have same question, how to compile on android?

[2021-08-02 13:47] klauspost commented on #2713
@felixhandte I don't disagree with anything you say, but I think you should be more proactive in your approach. Experience shows that if there is a problem an encoding is rather dropped than having to wait for server implementations to be corrected/catch up.

A `w=N` sounds tempting since it allows the client to specify exactly what it wants. This would not be usable for static content, unless a r

[2021-08-02 14:11] Cyan4973 commented on #1155
Indeed, this request would be better addressed as part of the `contrib/seekable_format` project (which is completely independent from `--rsyncable`).

[2021-08-03 15:14] 0x9fff00 opened #2739 "zstd 1.5.0 no longer preserves modification time"
**Describe the bug**
In zstd 1.4.9 and earlier, the modification time of a compressed file was the same as the uncompressed file, but in 1.5.0 this is no longer the case and the modification time is set to the compression time.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a file: `touch testfile`
2. Compress it: `zstd testfile`
3. Compare the modification times: `stat testfile{,.zs

[2021-08-03 15:17] terrelln commented on #2739
Thanks for the bug report!

Looks like we're missing a test case that checks that we don't change the `mtime`. We'll have to add that when we fix this issue.

[2021-08-04 09:06] mgautierfr commented on #2688
That's was our problem. Thanks for your useful comment.

I'm closing this as I've got all my answers (and even more)

[2021-08-04 09:06] #2688 closed, assigned to nobody

[2021-08-04 09:30] kagiannis opened #2740 "Small typo in documentation. ZSTD_decompress -> ZSTD_decompressDCtx"
**Describe the bug**
In this [line](https://github.com/facebook/zstd/blob/6ee70bae4632ce4f77f4aada0c519ef095633ecf/lib/zstd.h#L935) I think it should be  `ZSTD_decompressDCtx` instead of `ZSTD_decompress`.

[2021-08-04 11:56] bvpvamsikrishna opened #2741 "Question : Multithread use of ZSTD_compressCCtx seems to be less performant than single thread?"
We are trying to use zstd (using ZSTD_compressCCtx method) to compress 64KB blocks parallelly using multiple threads. It seems a single thread is performing better than with 4 threads on a 16 CPU machine.
Test program logic:
1. Read the input file into an array of input buffers of 64KB size each.
2. Create 4 threads and divide the array into four work areas and assign them to each thread.
3. Each

[2021-08-04 12:17] MarkMielke commented on #2741
Threads don't automatically make things faster. There is a lot of
complexity added in your code, but it might not be the right complexity.
For example, I don't know why you would wait to start the threads, but if
you are going to wait, I don't believe this is a proper way to do it :

    while (startThread == 0) {
        sched_yield();
    }

There is no memory barriers or other hints around this

[2021-08-04 14:28] Cyan4973 commented on #2741
`clock()` provides the cpu time.
It will ramp up with the nb of cores effectively used.

You should use a time function for measurements.

[2021-08-04 21:14] #2736 closed, assigned to nobody

[2021-08-04 22:04] felixhandte commented on #2713
I spoke to a couple people and it sounds like this would be relatively straightforward to specify. I've just spun up a thread on the IETF httpbis mailing list to discuss. Your input there would be appreciated!

Edit: [link to thread](https://lists.w3.org/Archives/Public/ietf-http-wg/2021JulSep/0137.html).

[2021-08-05 09:03] bvpvamsikrishna commented on #2741
Thank you, once I change to proper thread sync methods using pthread_cond_wait, I can see the difference in the multithreaded performance.

[2021-08-05 09:44] gilescope opened #2743 "A pure rust implementation for compression would be great"
There's a pure rust decompression for zstd, but it would be most excellent if there was a pure rust compression crate too.
Ideally one that could be used in no_std / wasm environments.

I know I'm asking for the world here, but if you don't ask you definitely don't get.

[2021-08-05 12:45] beci commented on #2743
Which is still slower than this one, isn't it?

[2021-08-05 14:01] jonathan-albrecht-ibm commented on #2736
Just a quick note that I ran some more tests comparing output on x86_64 and s390x using latest dev branch on several files and compression levels and found no differences between platforms.

[2021-08-05 15:03] terrelln commented on #2743
We definitely can't promise anything.

I wouldn't be surprised if there is a community-built rust compressor out in the next few years.

I'm also interested in writing a fast & safe rust (de)compressor. But, that would be more of a personal project for me, so I can't promise anything, or give you any dates.

[2021-08-05 17:56] Cyan4973 commented on #1979
`v1.4.9` has doubled the performance of the `--long` mode,
so I presume it would help for above scenario.

Still, the `--long` mode isn't multi-threaded, and remains the bottleneck (when compared to multi-threaded compression, or even fast modes).

[2021-08-05 20:06] beci opened #2744 "Missing uncompressed size/ ratio when compress standard input"
**Describe the bug**
Missing uncompressed size/ ratio when compress standard input.

**To Reproduce**
[code]

**Expected behavior**
When compress standard input, it should write back the metadata.

[2021-08-05 21:05] terrelln commented on #2744
In order to write the decompressed size in the frame, zstd needs to know the decompressed size when compression starts. When compressing from a pipe, zstd can't know that in advance.

You can provide it with `--stream-size=#`. E.g. `zstd --stream-size=10000`. However, that size must be exactly correct, and zstd compression will error out if it finds out it is wrong when the compression completes.

[2021-08-06 17:01] #2739 closed, assigned to felixhandte

[2021-08-07 00:54] CAFxX opened #2745 "zstd train-cover chokes if sample size is "too large""
**Describe the bug**

Training on a big sample set, first zstd attempts to load everything into memory, then it notices memory is not enough and only loads part of it, and then fails anyway because the sample size is over 4GB.

[code]

**To Reproduce**

- Sample size: ~1.5m files, 32KB/file
- Run the command in the listing above

**Expected behavior**

It would make much more sense to at least jus

[2021-08-07 15:28] arl commented on #1979
Sorry it took me so _long_ (no pun intended) :)

I've ran the benchmarks again with 2 of the datasets used in the original post. `prd` is the one with expected behaviour and `api` is the one that was _surprising_. I'm not able to use the same exact set of files but the data is very similar.

There are 3 plots per dataset, summarizing benchmark results for `v1.4.4`, `v1.4.8` and `v1.5.0`. The 3 plo

[2021-08-07 15:44] Cyan4973 commented on #1979
Thanks for the insightful feedback @arl .

Not sure if it's practical for you to test,
but I believe we fixed the compression ratio issue for levels 16+.

It would be great to know if it works, as it could give a clue to improve faster levels.

[2021-08-07 21:37] arl commented on #1979
There's indeed been a massive improvement in the long distance matching compression ratio for high levels, on my highly repetitive dataset, more visible in v1.4.8.
Note that Y axis has a log scale, it helps with the number of points.

For the api dataset, going without long distance matching at levels 14/15 is still a better choice when optimizing for compression ratio.

## prd dataset

![prd resu

[2021-08-08 01:11] Cyan4973 commented on #1979
Thanks for the detailed feedback @arl .
Level 19 is good enough to give a complete picture.

The compression ratio improvement for `--long` + Level >16 seems to work as intended.

Now, it's disappointing to see that compression efficiency doesn't follow a smooth progression beyond 15, especially on the `api` dataset. And even on `ptrd`, the reduction in ratio of level 18 is unexpected.

Now, this

[2021-08-09 01:55] eli-schwartz commented on #2261
The linked PR fixes symbol visibility for meson.

[2021-08-11 16:35] AnimMouse commented on #1829
`tar -I "zstd -T0 --ultra -22"`

[2021-08-15 23:39] DmitryLukyanov opened #2748 "Release non windows binary"
Hey, I see that you have only windows binary in your releases. Do you have a guide how to get binaries for other `OS`s like linux and macOS (including building with different options like x32/x64 mode)?

[2021-08-16 01:20] Cyan4973 commented on #2748
Do you mean something like [build instructions](https://github.com/facebook/zstd#build-instructions) ?

[2021-08-16 01:27] DmitryLukyanov commented on #2748
yeah :) I was able to generate libzstd library via `make` with default arguments, now I'm trying to configure the resulted file for example to be in x32 mode with no luck for now

[2021-08-23 22:58] #2741 closed, assigned to nobody

[2021-08-25 03:42] janafrank opened #2754 "What do I need to do to launch zstdgrep?"
Hey! I'm still a newbie, pardon my probably naive questions, but if you could explain me step-by-step how to use it I would be very grateful. I've read that one can search through .zst files using zstdgrep. But I can't find any tutorials on how to do that actually. I've downloaded the Win64 release and use zstd command via CLI, for example in cmd:
`C:\zstd-v1.5.0-win64> zstd --help` works just fin

[2021-08-25 03:50] Cyan4973 commented on #2754
`zstdgrep` is a [shell script](https://en.wikipedia.org/wiki/Shell_script),
meaning it's meant to be run in a posix shell environment. Linux and macos come to mind.

On Windows, it might work in an emulated posix console, like `msys`, `mingw` or `cygwin`.
But certainly not in non-`sh` compliant consoles, such as `cmd` or `powershell`.

[2021-08-26 05:14] variar commented on #2754
Installing WSL on Windows can help launching those shell scripts.

[2021-08-28 17:57] akhuettel opened #2756 "m68k-unknown-linux-gnu: zstd-1.4.9 test suite fails badly"
I've been trying to build zstd on m68k-unknown-linux-gnu (since it is a dependency of the Gentoo package manager). (More precisely, a qemu-user chroot, but that should not have too much impact here.)

Unfortunately, while the build itself runs fine and the command line utility seems to start, the results in the zstd-1.4.9 testsuite look rather messy.
(1.5.0 does not work at all, bailing out with a

[2021-08-28 21:44] Cyan4973 commented on #2756
We have never tested `zstd` on such a platform.
And to be honest, I'm impressed `v1.4.9` runs so well on this first attempt.

Beyond that, it's too difficult to debug. There are myriads of things that could go wrong at runtime, especially in the CLI which features a number of system calls beyond the library itself (I expect `libzstd` to be very portable, but the CLI application is another story).

[2021-08-29 06:44] chewi commented on #2756
It is indeed a user (and system) target of QEMU.

[2021-08-30 01:14] Cyan4973 commented on #2756
OK, I could reproduce a qemu-m68k config locally,
and indeed, there is a problem at some point during the test :

[code]

So it's not especially trivial, and I'm unable to tell what's wrong just from the traces, but at least, it's reproducible. So there's a likely way forward.

[2021-08-30 01:54] Cyan4973 commented on #2756
I get it,
it's a (presumed) alignment error.

The code expects to be run on 32-bit CPUs,
therefore, when a structure contains 32-bit fields,
it expects this structure to be aligned on 32-bit boundaries.

So it checks this condition, and errors out if it's not respected.

But apparently, on `m68k`, this assumption is incorrect.
The intended buffer is only aligned on 2-bytes boundaries.

I presume t

[2021-08-30 02:13] Cyan4973 commented on #2756
OK, so that alignment control was the issue.
Fixing that case makes the test go farther,
though it then fails later.

Yet another case of alignment.
`zstd_cwksp.h:426: ZSTD_cwksp_reserve_object: Assertion '(bytes & (sizeof(void*)-1)) == 0' failed.`

I have a hunch that most if not all problems found during `m68k` tests will be alignment related.

[2021-08-30 03:09] Lexxos opened #2759 "Dictionary/No-Dictionary/Object Storage/Append Compression?"
I have a dataset of 300 terabytes in hundreds of thousands of plain FILES on linux that can delimited by :

for instance the files are as such;

proposal.name{

column1 = name : column2 = location};

so that is how our entire archive is saved.

but we are needing to make these public for public research since our team was publicly funded. It was going to be impossible to serve these under normal s

[2021-08-30 03:42] Cyan4973 commented on #2759
Dictionary compression is meant for compressing "small" data, think about a few KB per object, at most.
Of course, a whole lot of small data can still represent a huge total amount of data.
But now it depends, on your application, on your access pattern.

From a compression ratio perspective, you will get the best result by appending all these files together and compressing them together. Dictiona

[2021-08-30 04:18] Lexxos commented on #2759
I'm sorry, I must have really misunderstood something. I thought your compression software was different because it was able to be searched using the scheme of the dictionary and was able to be extracted in blocks from the main compressor. So, basically, this compresses many, many little files, which makes them easier to search. I have strings of information such as serial numbers. Can those seria

[2021-08-30 04:27] Cyan4973 commented on #2759
The [`seekable_format`](https://github.com/facebook/zstd/tree/dev/contrib/seekable_format) might be able to provide some of the basic functionalities needed, such as compressing and retrieving individual files, using a jump table with an index. But it's merely a starting point. There is a lot of boiler plate to add in order for your implementation to do exactly what you desire.

In any case, it lo

[2021-08-30 05:07] Lexxos commented on #2759
https://github.com/Genivia/ugrep

looks like the solution was right around the corner! But it appears to work with ZSTD, so I'm going to see how well this compresses some archives. Any suggestions on how to pack them?

[2021-08-30 21:40] chewi commented on #2756
Thanks so much for taking this seriously. Hopefully there isn't too many of these to fix. I tried your branch out of interest and got the same result.

If it helps, a similar change was recently made to Python in python/cpython#24624.

[2021-09-02 08:41] Augustin-Zidek opened #2764 "The zstd benchmark on the website/readme is not up to date"
**Is your feature request related to a problem? Please describe.**
On the website http://facebook.github.io/zstd/ and in the GitHub readme, it would be great to see benchmarks of the latest version of zstd (1.5.0 currently), but the benchmarked version is 1.4.5 which was released more than 1 year ago. Numerous performance improvements have been added in the last year and it would be great for the

[2021-09-02 12:26] aleksazr opened #2765 "Compression ratio example"
Hello,

first time working with zstd, I'm testing it and found a little problem.

I have 3 files: "part1.bin", "part2.bin" and a combined "bothparts.bin".

part1 is compressed to 500 bytes, part2 to 30 bytes, so I expected
the combined file to be compressed to around 530, but it is 1k bytes.

Don't know if you guys are aware of this... the files are here:
http://users.beotel.net/~gwh/zstd/zstd.zip

[2021-09-02 14:13] TheCrott opened #2766 "Building fuzzer error"
**Describe the bug**
Error when building fuzzer. I'm on ubuntu 20.04 with llvm 12 pre-built binaries, gcc 10.3

**To Reproduce**
Steps to reproduce the behavior:
1. clone zstd
2. cd to `zstd/tests/fuzz` and run `CC=clang CXX=clang++ ./fuzz.py build all --enable-fuzzer --enable-asan --enable-ubsan`
3. Wait until it show an error

**Screenshots and charts**
[code]

[2021-09-02 14:24] Cyan4973 commented on #2765
We will likely make an update for `v1.5.1` release.

[2021-09-02 20:36] Cyan4973 commented on #2766
Tried exactly the same command, on same OS and same compiler, and it completed successfully.

How much RAM does your system have access to ?
Could it be OOM-Killer related ?

[2021-09-02 23:25] Cyan4973 commented on #2764
We'll likely make an update for `v1.5.1`

[2021-09-02 23:38] Cyan4973 commented on #2765
`part1.bin` is strange.

`part2.bin` can be pretty reliably compressed into 25/26 bytes.
But `part1.bin` swings widely between ~540 bytes and ~1050 bytes,
with each compression level being in one category or the other,
depending on some random effect, which seems only partially related to compression level.

For example, if you were to compress `part1.bin` (alone) with level 15, it would result in

[2021-09-03 00:05] Cyan4973 commented on #2765
A few early results, analyzing `part1.bin` :

`level 12` is able to compress a decent portion of `part1.bin` as a bunch of 3-bytes matches (the smallest possible), at always the same distance (repcode 1).

This explains why level 11 and before are unable to compress this file : they are looking for 4+ bytes matches, and there are none in this file (which suggests a bunch of 32-bit fields which are

[2021-09-03 08:21] Augustin-Zidek commented on #2764
Brilliant, thank you! Looking forward to the updated numbers and thanks for making zstd faster with every version.

[2021-09-03 16:49] aleksazr commented on #2765
Now I have an example where bothparts can't be compressed to ~500, even though part1 can.
http://users.beotel.net/~gwh/zstd/zstd.zip (subfolder v2)

[2021-09-05 19:44] chewi commented on #2756
I thought I'd have a little stab at this myself. Believe it or not, this was enough to get the test suite to pass. I don't fully understand the changes though so this is probably not the correct fix. :sweat_smile:

[code]

[2021-09-05 23:50] Cyan4973 commented on #2756
I think it clarifies that `m68k` issues are entirely concentrated in the alignment policy.

And while this fix is likely correct for `m68k`, it's obviously not universally portable,
so we'll have to find something proper that scales from `m68k` to IBM Z.

[2021-09-06 05:50] Jamaika1 opened #2767 "Problem with macro deprecated"
GCC 12.0.0 20210826 X86_64 Windows  10
[code]

[2021-09-07 12:08] stephan57160 opened #2768 "Minor TYPO in ztest build/test process"
**Describe the bug**
Detected, when rebuilding from scratch with RPMBUILD on a CentOS Box :
  `Also consdier playing around with searchLog and hashLog`

Appears a few times during the build/testing process.

Typo present in the sources:
[code]

**To Reproduce**
- git clone ...
- cd zstd
- make all pzstd tests tests_zstd 2>1& |  grep consdier

**Expected behavior**
Should be "consider", not "consdi

[2021-09-07 12:33] stephan57160 commented on #2768
It seems there since 2020 and #1959.

Even a google search shows the same :
https://www.google.com/search?q=%22Also+consdier+playing+around%22&filter=0&biw=1920&bih=1067

https://fedora.starfivetech.com/kojifiles/work/tasks/257/257/build.log
https://fedora.starfivetech.com/kojifiles/packages/zstd/1.4.9/1.fc33/data/logs/riscv64/build.log
...

[2021-09-07 15:10] senhuang42 commented on #2768
Thanks for pointing this out, should be fixed now

[2021-09-07 15:10] #2768 closed, assigned to nobody

[2021-09-07 19:08] cartesius82 opened #2770 "Ninja + cmake on Windows build error"
Cannot build ZSTD using `ninja` + `cmake` (versions below) on Windows. Perhaps it's the cmake's fault but is there any workaround? `msbuild` generator works fine.

[code]

Trying `-w dupbuild=warn` leads to errors as well.

**Versions**

- cmake version 3.21.2
- ninja 1.10.2
- commit a488ba114ec17ea1054b9057c26a046fc122b3b6 (HEAD, tag: v1.5.0, origin/release)

[2021-09-07 21:37] cartesius82 commented on #2770
@Cyan4973 Thank you for proper tagging. Any help would be appreciated.

[2021-09-09 01:54] polarathene commented on #1638
Is it unlikely that this will make it into the next LTS kernel release?

I have tried to look for any progress since the last referenced mailing list but searching LWN didn't seem to show anything. Looking at @terrelln linux fork branches, last activity seems to be from end of April 2021. The linked LWN thread was last active in May 2021.

Is this still being pursued? If any assistance is required

[2021-09-09 09:10] andrewevstyukhin opened #2772 "A question about msvc with sdl"
Hi, folks!

We use MSVC from the latest Visual Studio 2019 (16.11.2) with [/sdl](https://docs.microsoft.com/en-us/cpp/build/reference/sdl-enable-additional-security-checks?view=msvc-160) option enabled and we have some warnings on the latest 1.5.0 release for Win64.

Zstd compiles fine with /sdl- but not with /sdl. So question is how to properly fix this place:

Looks like a false positive under m

[2021-09-13 02:45] ghost commented on #2772
I tested,  this commit has fixed the problem:

commit 7012c6e7a4dbedad5b6a949a49ce941adc5e8df8
Author: Bartosz Taudul
Date:   Sat May 15 00:40:49 2021 +0200

Initialize "potentially uninitialized" pointers.

lib/compress/zstd_lazy.c | 4 ++--
1 file changed, 2 insertions(+), 2 deletions(-)

[2021-09-13 07:22] #2772 closed, assigned to nobody

[2021-09-14 17:36] #2765 closed, assigned to nobody

[2021-09-15 21:20] #2543 closed, assigned to felixhandte

[2021-09-17 06:34] yuanyetao opened #2782 "zstd version compatibility"
I found zstd latest version is 1.5.0. If i use 1.5.0 to unzip the data which is compressed by 1.4.9, will it occurs error or crash?

[2021-09-17 06:39] Cyan4973 commented on #2782
All versions are officially forward and backward compatible since `v1.0`.

[2021-09-17 06:40] #2782 closed, assigned to nobody

[2021-09-17 21:14] terrelln opened #2785 "[CI] Work around compiler bug and re-enable aarch64build"
https://github.com/facebook/zstd/pull/2783 triggered an internal compiler error in the aarch64 compiler. E.g. this [run](https://app.circleci.com/pipelines/github/facebook/zstd/3169/workflows/214e6e68-b827-468c-b364-0b2d0a619f91/jobs/11255). I haven't been able to fix it, so I've just disabled the test for now. We have aarch64 coverage of the main binary in GitHub Actions [here](https://github.com

[2021-09-17 21:42] Cyan4973 commented on #2785
Reducing test duplication is a good objective anyway.

[2021-09-18 11:09] #2744 closed, assigned to nobody

[2021-09-18 18:40] sbelharbi opened #2786 "unexpected increase of runtime"
hi,
thanks for this work.
**Describe the bug**
so, the issue is the following:

i have n=240 folder to compress.
i compress them iteratively using `tar` with combination with `zstandard`.
all folders have relatively the same number of files (rgb images) and same size (~200kb).
so, i expect that the compression will take relatively the same time.
in my case, it is not.
there is a sudden large const

[2021-09-18 18:46] Cyan4973 commented on #2786
`real` time increases dramatically, while `user` stays relatively the same.

This leans towards a scenario where the cpu is effectively waiting for something else to complete. It's not using more energy to compress.

Given the nature of your application, I would suspect an I/O condition, either on network, or directly on storage side.

[2021-09-18 18:55] sbelharbi commented on #2786
i think you are right.
it could be the disk.
it is known to have issue.
i think cpu is waiting for the writing to finish and it is taking all the extra observed time.
the network could be a possible issue.

i run this script several times. and i observed the same behavior.
that's why i supected zstandard is probably accumulating something and it slows it down.

assuming it is the disk/network, why

[2021-09-19 13:44] sbelharbi commented on #2786
closing as this is more likely to be caused by our disk or network.
thanks

[2021-09-19 13:44] #2786 closed, assigned to nobody

[2021-09-20 21:46] terrelln opened #2789 "[Huffman Assembly] Expand supported platforms"
The x86-64 Huffman assembly implementation is currently allow-listed to work on:
* Linux: `defined(__linux__) || defined(__linux)`
* MacOS: `defined(__APPLE__)`

The macro to check this is `HUF_ASM_SUPPORTED` defined in `huf_decompress.c`.

I've selected a very restricted set of platforms because I want to be sure that it is well tested before enabling it. Any platform that shares a calling conven

[2021-09-22 00:00] shoober420 opened #2792 "/var/tmp/portage/app-arch/zstd-9999/temp/ccxUKcJt.ltrans15.ltrans.o: in function `HUF_decompress4X2_usingDTable_internal_bmi2_asm.lto_priv.0': <artificial>:(.text+0xabc3): undefined reference to `HUF_decompress4X2_usingDTable_internal_bmi2'"
When compiling on Gentoo Linux using GCC 12.0.0 092021 (commit https://github.com/gcc-mirror/gcc/commit/34fac9ef724ab7c1bee69aaa214327e2cb8bef30), I get this error. Full log attached.

[HTFJGADEY.txt](https://github.com/facebook/zstd/files/7206880/HTFJGADEY.txt)

[code]

[2021-09-22 03:13] Cyan4973 commented on #2792
Maybe related to #2791 ?

[2021-09-22 16:59] terrelln commented on #2792
It should be fixed now, let me know if it isn't!

[2021-09-22 19:02] shoober420 commented on #2792
Fixed! Thank you very much.

[2021-09-22 19:02] #2792 closed, assigned to nobody

[2021-09-23 08:31] glaubitz commented on #2756
CC @jrtc27

[2021-09-23 13:09] jrtc27 commented on #2756
Use `alignof` or similar (`_Alignof` in C11, stdalign.h gives you an `alignof` alias, and `__alignof__`/`__alignof` has long existed as a GNU extension in both GCC and Clang, with MSVC also supporting `__alignof`)

[2021-09-23 17:52] abxhr commented on #2740
I would love to fix this! 🙋‍♂️

[2021-09-23 18:23] abxhr commented on #2731
To clarify, where in the documentation would need the change?

[2021-09-23 20:11] #2740 closed, assigned to nobody

[2021-09-24 17:50] Cyan4973 commented on #2767
Not sure which application you are compiling,
but we would like to invite you to no longer use `ZBUFF_`,
which is an old API that has been deprecated a long time ago.
Prefer using stable APIs, which are fully supported now and in the future, and offer all the capabilities of `ZBUFF_` and more.

[2021-09-24 18:43] terrelln commented on #2767
We no longer build zbuff as part of the library, unless deprecated APIs have been explicitly enabled. And we're planning on removing the source code from the library at some point in the future. So I strongly recommend you move away from the API.

However, if you are blocked by this in the short term, you can use `-Wno-deprecated-declarations` to silence the warning. But again, this will only work

[2021-09-25 11:35] jannkoeker commented on #2248
This likely happens due to this piece of code:
https://github.com/facebook/zstd/blob/32a8443b5c0235c7569fe29bfeec59b677665778/build/cmake/lib/CMakeLists.txt#L108-L113
Clang for Windows generates MSVC-compatible binaries and filenames by default (e.g. it names the static library **and** the import library `zlib.lib`), but is not recognized by CMake as an MSVC-like compiler, which causes the said er

[2021-09-25 11:41] jannkoeker commented on #2770
You are propably using Clang (**not** Clang-cl)
See https://github.com/facebook/zstd/issues/2248#issuecomment-927108348

[2021-09-25 19:05] Jamaika1 commented on #2767
I use ZSTDLIB_VISIBILITY=ZSTDLIB_API=/"/"
Adding ZBUFF_ doesn't fix anything

[2021-09-25 19:07] dbrami opened #2804 "What am I doing wrong?"
Hi,
I'm new to ZSTD. The documentation makes it ample clear that using a dictionary for compression increases the compression ratio and the speed. Yet, I'm getting a better compression without the use of the dictionary (but definitely speed gains).
What am I doing wrong?
I'm compressing JSON "documents". I used split to create one document per file from a large source file and have tried using bot

[2021-09-25 19:33] Cyan4973 commented on #2804
It looks to me that you are compressing one large big file.

For such a scenario, dictionary compression will not bring any significant benefit.
Actually, due to other complex and changing side effects, it is likely going to decrease compression efficiencies.

Dictionary compression is useful to compress a lot of small files.
The corresponding command line would look like something like :
`zstd -r

[2021-09-25 19:39] dbrami commented on #2804
Thank you for these explanations. I got comparable compression rates for both methods by using v1.50 but will keep your caveats in mind.

Thanks again.

[2021-09-25 19:39] #2804 closed, assigned to nobody

[2021-09-26 10:37] nolange opened #2806 "Ways to allow projects to use a minimal decompression-nodict implementation"
2 attempts now where made to bring zstd into busybox and there are open questions on whether it is realistical to keep in sync with upstream, since the aim is to bastardize alot in favor of small code-size.
(I only agree to extend, as one of zstd characteristics is speed)

What I of course would want is an as painless as possible way to compare with current upstream,
so my plan would be to

-   Fo

[2021-09-26 13:30] Cyan4973 commented on #2806
If your goal is minimal binary size as a priority,
there are additional build flags that could prove useful
described in [this documentation](https://github.com/facebook/zstd/tree/dev/lib#modular-build).

[2021-09-26 14:19] nolange commented on #2806
That is merely a starting point ;)
I 'd recommend taking a peek at https://github.com/nolange/busybox/tree/zstdapplets/archival/libarchive/zstd . Most invasive change is ripping out anything related to dictionaries.

[2021-09-27 05:50] ghost opened #2807 "ZSTD_countTrailingZeros() bug?"
The current `dev` branch has a `ZSTD_countTrailingZeros()` function.
Maybe `>> 3` is wrong?

https://github.com/facebook/zstd/blob/a5f2c45528032ed20c33e0f8cd2c163a800a0017/lib/common/zstd_internal.h#L381-L424

[2021-09-27 05:55] ghost commented on #2807
If it's a bug, I can fix it in #2800, so that the trouble of code conflicts can be reduced.

[2021-09-27 14:42] Cyan4973 commented on #2807
I presume it was originally designed to provide the nb of trailing zero **bytes**.
However, the next 2 variants seem to return the nb of _bits_ instead.

We would have to look at invocation call sites of `ZSTD_countTrailingZeros()` to understand and check that all call sites expect one variant or the other, and fix it accordingly. A name change is likely welcome too, in order to avoid such confusi

[2021-09-27 15:16] ghost commented on #2807
The function is used when `HUF_ENABLE_ASM_X86_64_BMI2` macro is defined.
Maybe because it is being developed on the x64 Linux platform, so no problem was exposed.

[2021-09-27 15:30] Cyan4973 commented on #2807
And it is also clearly looking for the nb of bits :
`bit->bitsConsumed = ZSTD_countTrailingZeros((size_t)args->bits[stream]);`
so that clears it, `>> 3` is a bug. To be fixed.

[2021-09-27 15:32] terrelln commented on #2807
Yes, it is a bug. A fix would be welcome :)

The code is currently disabled on Windows. This is one step closer to it working. And `ZSTD_countTrailingZeros()` isn't used in 32-bit mode, currently.

[2021-09-27 21:38] felixhandte commented on #2806
Hi @nolange,

I'm really excited to see your interest in bringing zstd to busybox! We'd be very happy to be included in the toolkit.

It sounds like the overriding need for busybox is to minimize code size. As you may have noticed, this is not the situation that our implementation primarily targets. :smile: The overwhelming priority for most of our users is getting the most performance possible.

[2021-09-28 01:56] ghost commented on #2807
Fixed in #2800.
I removed the slow code, since it's a hot function used by ASM implementation.

[2021-09-28 08:55] nolange commented on #2806
Just to avoid misunderstanding, I am as much of a busybox maintainer as I am for zstd ;)

Yeah, Id like to see busybox having both a minimal implementation to load a few compressed kernel modules from an initramfs, as well as something more "beefy" for a running system.

**My** plan is pretty much outlined in https://github.com/nolange/busybox/commits/zstdapplets, export from upstream is ecplained

[2021-09-28 12:06] ghost commented on #2789
`huf_decompress_amd64.S` is written in [AT&T syntax](https://en.wikipedia.org/wiki/X86_assembly_language#Syntax).
Gcc's [GAS (GNU Assembler)](https://en.wikipedia.org/wiki/GNU_Assembler) supports AT&T syntax.

Visual Studio's [MASM (Microsoft Macro Assembler)](https://en.wikipedia.org/wiki/Microsoft_Macro_Assembler) only supports `Intel syntax`, so it may need to be rewritten to use it on Windows.

[2021-09-28 15:56] felixhandte commented on #2806
I think so. :)

So it sounds like there are a set of code changes we could merge, and the rest would be a mechanical conversion that we could automate (and again, run in continuous testing). That works for me!

I guess keep us updated about what the busybox folks say?

[2021-09-28 21:41] terrelln commented on #2807
This is actually a very cold function. It is only called 4x per block, to setup for the ASM. We should leave the backup implementation in place.

[2021-09-29 12:20] oshanz commented on #1526
`tar -c -I 'zstd -19 -T0' -f directory.tar.zst directory/`

[2021-09-29 19:43] mckaygerhard opened #2811 "build error with contrib part expected unqualified-id before '=' token"
**Describe the bug**
it fail to buil in contrib

**To Reproduce**
Steps to reproduce the behavior:
1. Download the source, i used 1.3, it fails with 1.4
2. just compile

**Expected behavior**
build

**build log of error**
[code]

**SERVER (i do not use desktop):**
 - OS: Debian
 - Version 9
 - Compiler gcc 5
 - Flags  `-ftree-vectorize -fomit-frame-pointer -march=i686 -mtune=pentium-mmx -mmmx -fex

[2021-09-29 21:22] ragnarov opened #2812 "How to create split zstd files?"
Suppose I want to compress a file called 'target.tar' using zstd.
But there will not be a single resultant file like 'target.tar.zst'.
It will consist of several parts.
For example :
target.zst.001
target.zst.002
target.zst.003
⋮
target.zst.00n

When I decompress target.zst.001 , zstd should automatically
search for the other needed parts, like target.zst.002, target.zst.003,
...target.zst.00n.

T

[2021-09-29 21:32] Cyan4973 commented on #2812
search for the other needed parts, like target.zst.002, target.zst.003,
...target.zst.00n.

Nope, it can't.

An important thing to keep in mind here is that `zstd` is not an _archiver_, which both `rar` and `7zip` are.
It's merely a streamable compression format, with no additional metadata.
It's _designed to be integrated into archivers_, and btw it's exactly what [7zip_zstd_edition](https://mcmi

[2021-09-30 05:56] ragnarov commented on #2812
Thank you for replying.

[2021-09-30 05:56] #2812 closed, assigned to nobody

[2021-10-05 00:47] #2745 closed, assigned to stanjo74

[2021-10-06 04:23] ghost opened #2814 "gcc `bmi2` option doesn't contain `bmi`"
Compile this code using `gcc-9.3`:
[code]
Asm code:
[code]
If change `__attribute__((__target__("bmi2")))` to `__attribute__((__target__("bmi")))`, gcc uses a BMI(1) instruction `blsr	`:
[code]

So `TARGET_ATTRIBUTE("bmi2")` in zstd source code should be `TARGET_ATTRIBUTE("bmi,bmi2,lzcnt")`, then can make full use of (potential) instructions.

Ref:
1. [Wikipedia - X86 Bit manipulation instruction

[2021-10-06 04:30] ghost commented on #2814
Another way to check it:
[code]
[code]
[code]
Unlike `-mavx2`, it enables mmx/sse/sse2/sse3/ssse3/sse4.1/sse4.2/avx instructions.

[2021-10-06 04:53] Ullaakut opened #2815 "FASTCOVER parameters incorrect when training dictionary with small size"
**Describe the bug**

Training dictionaries with the `zstd` binary used to work just fine for me when I used high dictionary sizes, but I now encounter an issue where, when running the following command:

`zstd --train --maxdict 256 samples/updates/* -o ./dictionary/updates`

I get the following output:

[code]

Along with an exit status at `1`. This seems to be due to the low `maxdict` size, even

[2021-10-06 19:13] terrelln commented on #2815
We'll look into this for the next release, but for now, I suggest a workaround of selecting a slightly larger `--maxdict`, as you've already done.

If you truly need a smaller dictionary, you can take the prefix of a larger dictionary.

[2021-10-07 09:00] Taefive55 commented on #2765
22771

[2021-10-07 09:06] Taefive55 commented on #2765
#2815

[2021-10-08 12:47] jimis opened #2816 "Zstd should try to draw the progress bar only on TTY"
I run zstd v1.4.4 as a cron job, and I get a progress bar output even when the stdout and stderr are not tty:
[code]

Zstd tries to draw the progress bar, as a result I see this in the journal:
[code]

It would be best to imply `-q` when the stdout/stderr are not a tty. Or at least print `\n` instead of `\r` as a separator between the lines.

[2021-10-08 17:49] terrelln commented on #2816
I think implying `-q` when `stderr` is not a TTY would make sense.

[2021-10-12 12:38] ghost commented on #2814
If chang like this:
[code]
In `gcc` build, the decompression speed improves:
[code]
CPUs that support `bmi2` instructions should also support these instructions.

[2021-10-12 16:36] Cyan4973 commented on #2814
Thanks @animalize, that's a good find !

[2021-10-12 22:01] bkdwt opened #2821 "What is the correct way to pass the "--fast=X" flag for compression in BTRFS mount options?"
By default we use compression=zstd:X (x is the level), but now I see this new flag "--fast=X" and I don't know how to use this on FSTAB.

[code]

Thanks in advance! :)

[2021-10-13 00:30] terrelln commented on #2821
The lowest compression level available for BtrFS is 1. We added BtrFS support before negative compression levels were added, so it doesn't support them.

There isn't currently a way to say `compression=zstd:-1` or `compression=zstd_fast:1`. We have considered changing the compression level mapping, and mapping `zstd:1` to `-1`.

I'm currently working on updating the zstd version in the kernel. Onc

[2021-10-13 01:05] bkdwt commented on #2821
Thanks for the explanation and for your hard work! I'll wait for this. 😉

[2021-10-13 01:05] #2821 closed, assigned to nobody

[2021-10-13 16:36] Artoria2e5 commented on #395
A common use case not mentioned here is indexing of compressed tar archives. The lzip thing tangentially mentioned earlier has a tarlz program for that. A “pixz” variant of xz also indexes tars. tar integration  would be a good way both to test the feature and give end-users a reason to use it.

[2021-10-14 22:45] terrelln commented on #2814
This could be doable. I wouldn't enable it by implicitly enabling AVX2 / BMI1, but by changing our bmi2 check to include all 3 using `ZSTD_cpuid_bmi1(cpuid) && ZSTD_cpuid_bmi2(cpuid) && ZSTD_cpuid_avx2(cpuid)`.

On my machine, I don't see a significant difference when enabling BMI1 & lzcnt & avx2. I actually see worse performance, likely because of alignment. So I'd want to be sure the gains were

[2021-10-15 12:55] pratikbin commented on #1526
You mean you used `PZSTD_NUM_THREADS` ?

[2021-10-15 20:55] terrelln commented on #1526
By default `PZSTD_NUM_THREADS` is undefined and unused, so the default number of threads is `std::thread::hardware_concurrency()`. See:

https://github.com/facebook/zstd/blob/12c045f74d922dc934c168f6e1581d72df983388/contrib/pzstd/Options.cpp#L25-L31

[2021-10-15 21:55] gdhuse-ocient opened #2823 "Question: Compressing to a sequence of size-bounded frames or blocks"
Hello,

I'd like to implement seekable compression that aligns to 4K disk block boundaries, and could use some guidance.  I have a large stream of data to compress, and would like to generate a sequence of frames of no more than 4KB each.  Experimenting with both the buffered and unbuffered stream compression APIs, I haven't had any luck finding a way to bound frame size.

I'd also be happy using

[2021-10-15 23:11] Cyan4973 commented on #2823
While it's theoretically possible, the public interfaces to do so do not exist.
It's also far from trivial, because there are many dynamically sized components, hence it's not as simple as cutting the input into pre-determined fixed size.

An expensive way to achieve this objective is effectively to "guess, try and adjust". After multiple passes, you will eventually end up with a compressed frame

[2021-10-16 08:17] ghost commented on #2814
There seems to be a bit improvement on my machines overall.
The current `dev` branch, `CLI` means benchmark with the CLI program, `LIB` means the statically linked zstd library, I tested each one 9 times.

**On i5-4570, gcc-9.3, Ubuntu20.04 (WSL2)**

![1](https://user-images.githubusercontent.com/11244865/137579864-26a4c0c5-e5cc-417c-b377-813f60f22ffb.png)
![2](https://user-images.githubuserconten

[2021-10-16 10:46] sergv commented on #2823
@gdhuse-ocient Have you looked at `zstd_seekable`? Even though its aim is to make it possible to navitage to arbitrary offsets in the decompressed stream by seeking in the compressed stream, it has ability to not produce frames more that a certain size, i.e. https://github.com/facebook/zstd/blob/dev/contrib/seekable_format/zstd_seekable.h#L83:

[code]
If `ZSTD_seekable_initCStream` does more than

[2021-10-18 14:15] gdhuse-ocient commented on #2823
Thanks to both of you for your responses.  @sergv, looking at https://github.com/facebook/zstd/blob/v1.5.0/contrib/seekable_format/zstdseek_compress.c#L233 it seems like `maxFrameSize` limits the size of decompressed input data per frame, where I would like to limit the size the compressed output frames.  Unless I'm mistaken, it sounds like I need to consider different approaches.

[2021-10-19 17:27] cschanzlenist commented on #1402
I notice this has been closed for ~3yrs, let me know if I should open a new issue.
Modification times are not being reset to the original file timestamp on Linux (RHEL/CentOS, Fedora).

[code]
[Captain Obvious points out timestamp of foo is the current time (when unzstd ran) and differs from foo.orig.]

Noting 'touch' uses the utimensat system call, I also notice no calls by unzstd when traced wit

[2021-10-19 17:39] felixhandte commented on #1402
@cschanzlenist, yes, this is a bug that was introduced in v1.5.0: #2739. We've landed a fix that will go out in the next release: #2742.

Thanks for the report and sorry for the churn!

[2021-10-20 00:13] ghost commented on #2807
Fixed in #2800 .

[2021-10-20 00:13] #2807 closed, assigned to nobody

[2021-10-20 04:12] richgel999 opened #2824 "stackoverflow code in Zstd, which falls under the CC BY-SA license"
Hi,
Code from stackoverflow.com falls in the CC BY-SA license, which is a copyleft-style license:
https://stackoverflow.com/help/licensing

There are two places I'm seeing "stackoverflow" mentioned in Zstd:

"See http://stackoverflow.com/a/32095106/646947 for details."

"see : http://stackoverflow.com/a/32095106/646947"

There is significant legal risk for us/our users here, because we embed Zstd

[2021-10-20 04:13] richgel999 commented on #2824
I think they all fall into this file:
https://github.com/facebook/zstd/blob/dev/lib/common/xxhash.c

[2021-10-20 05:48] rmmh commented on #2824
The linked stackoverflow question and answer are written by Cyan aka Cyan4973 aka Yann Collett, the primary author of zstd.

[2021-10-20 18:04] richgel999 commented on #2824
Tell that to the lawyers.

Any posts/code there uses a copyleft license:
"What is the license for the content I post?"
https://stackoverflow.com/help/licensing

[2021-10-21 05:04] ghost commented on #2814
Above tests were tested with gcc-9.3, changed like this:
[code]

This benchmark use global options, statically link to zstd library, test 12 times for each one:

- gcc 11.1: `-mavx2 -mbmi -mbmi2 -mlzcnt`
- msvc 2022-preview: `/arch:AVX2`

![avx2](https://user-images.githubusercontent.com/11244865/138213459-3aaf0c61-62d3-4097-8b13-21f9dfbd7363.png)

With `gcc-11.1`, the avx2 build is slower in de-c

[2021-10-21 23:09] danlark1 opened #2827 "Compression ratio for --fast=2 and higher became significantly worse. Expected?"
https://github.com/facebook/zstd/pull/2749 introduced a noticeable regression in compression ratio of --fast=2 and higher fast compression values for silesia.tar

[code]

164/152 ~ 1.08

Yes, it came with around ~10% CPU performance increase but just to note that I don't see any benchmarks of lower than -1 values in the pull request. And -1 is just fine

At Google we see up to 20% regressions on s

[2021-10-21 23:21] danlark1 commented on #2827
Oh, I actually see the diff in tests/regression/results.csv

[code]

[2021-10-22 17:37] terrelln commented on #2827
Thanks for the feedback, its especially helpful before a release, so we have time to change things if we want!

So far we haven't really stabilized the ratio/speed tradeoff negative compression levels. They're getting monotonically faster, but thats what we provide so far. So we'll have to discuss and decide if we want to provide further stability.

Does switching from `--fast=3` to `--fast=2` app

[2021-10-22 17:42] danlark1 commented on #2827
`--fast=2` is on par with the old `--fast=3` performance but compression ratio is still a little worse for our data: 8% of relative size (new/old) vs 20% when both compressed with `--fast=3`

We are considering more to move with `--fast=1` as it provides better tradeoff

[2021-10-26 03:26] resistor opened #2832 "Significantly worse compression than ZLIB on DWARF debug info"
**Describe the bug**
ELF executables are able to store DWARF debug info in a compressed format, using ZLIB. I have been experimenting with using ZSTD as a replacement for it, and am generally seeing good results. However, on the ".debug_str_offsets" section, I am seeing significantly worse compression ratios with ZSTD than with ZLIB, even at max compression levels (176KB vs 138KB, from 290KB uncom

[2021-10-26 04:07] Cyan4973 commented on #2832
I'm getting good compression ratio on this file at level 18 specifically (<130KB).
Then it gets worse at levels 19 and beyond.

This is uncommon, though it does unfortunately happen from time to time. The explanation is something like a "trapped into local minima" scenario, which prevents the algorithm to "find" the globally shortest path, due to minuscule evaluation differences at the beginning o

[2021-10-26 04:18] resistor commented on #2832
Thanks for the analysis. Unfortunately for this example, it's also the case that ZLIB outperforms ZSTD at the default compression level as well. (138KB vs 234KB)

It also appears that there's something specific about the data patterns in these `.debug_str_offset` sections that is causing ZSTD pain.  I consistently see them compressing significantly better with ZLIB than with ZSTD across a range of

[2021-10-26 04:29] Cyan4973 commented on #2832
The files seem to generate a ton of short matches of length 3, following a regular 4-bytes pattern.
It's not too surprising, every time we've seen ratio problems at high settings, it has involved such kind of pattern.
Length 3 matches are "relatively difficult" for `zstd`. They can be found, but then, it's more difficult to determine if they are worthwhile or not. Worse, depending on selecting one

[2021-10-26 05:13] resistor commented on #2832
I would expect most of the data in this file to be [LEB128](https://en.wikipedia.org/wiki/LEB128) variable-width integers. I haven't checked, but it's plausible that they're sorted in some way that would cause the 3-byte ones to come first.

[2021-10-26 05:28] dwblaikie commented on #2832
ah, no, they aren't LEB128 encoded in .debug_str_offsets - they're regular sized for faster lookup (by index): https://dwarfstd.org/doc/DWARF5.pdf bottom of page 240: "This header is followed by a series of string table offsets that have the same representation as DW_FORM_strp. For the 32-bit DWARF format, each offset is 4 bytes long; for the 64-bit DWARF format, each offset is 8 bytes long."

[2021-10-26 07:18] resistor commented on #2832
Thanks for that clarification.

Looking at the specification and the raw bytes, the data consists of a 12-byte header followed by a sequence of 4-byte little-endian unsigned integers, sorted in increasing order. In this particular file, the high byte of the values is always zero. I'm not sure where specifically 3-byte matches would be coming from, though there's plenty of redundancy in general.

[2021-10-27 14:38] aleksazr opened #2833 "Size optimization for clevels.h"
@Cyan4973 recently added clevels.h in #2830 and noted there could be cpu-specific tables in the future.

What I don't like is the size of the `ZSTD_defaultCParameters` table.
It has 4*23 levels with 28 bytes each which is 2576 bytes.

I'm proposing a shorter table, with 4 bytes per entry, totaling 368 bytes.
The shorter table would be used only once, at program init, to convert the shorter table i

[2021-10-27 16:17] Cyan4973 commented on #2833
Note that this suggested optimization transfers memory usage from one type of memory to another.

In the original case, the table is static, and remains in read-only memory.
In the new suggested construction, the static read-only memory usage is reduced, but the full table now lays in RAM.

Worth mentioning that most memory-limited environments, typically embedded systems, tend to value RAM even m

[2021-10-27 16:44] aleksazr commented on #2833
Well, my first idea was this 8 bytes struct

[code]

but I didn't know if 8/16 bits would be enough, and if it would have a performance penalty.

[2021-10-27 16:47] Cyan4973 commented on #2833
It would theoretically have a performance penalty, but it also probably wouldn't matter much : it's only run once per job. That's unlikely to move the needle.

[2021-10-27 17:03] aleksazr commented on #2833
Not sure if you understood it. It is not run at all (there is no conversion), that is a static const table, just organized as bytes, instead of dwords. So it would be accessed at run time with zero extensioning. Again, not sure if it would be a performace penalty.

[2021-10-27 17:17] Cyan4973 commented on #2833
I understood it this way, and yes, it would have a theoretical performance penalty, though likely an insignificant one.

[2021-10-27 20:17] jimis opened #2834 "zstd verbose output could give more info"
Here is the output from `xz -9 -vv FILE`:
[code]

The extra bits that zstd is missing are, in order of importance IMO:
* Decompression memory requirements (rough number, it's not precise)
* Filter chain, i.e. the command line parameters that reproduce level 9 compression; It's super easy to copy-paste them and experiment.
* Compression memory requirements

These are printed in advance, so if the u

[2021-10-28 08:00] wspl opened #2835 "How do I get --patch-from to work when using zstd as a library?"
I found out that the implementation of the `--patch-from` is placed in the "programs" folder and it is not distributed with the static or dynamic libraries. This means that if I don't use the cli program, I wouldn't be able to use the `--patch-from` function directly.

But I don't know much about how zstd works, how should I configure the compress or decompress parameters to make the `--patch-from

[2021-10-28 08:18] Cyan4973 commented on #2835
The core library API equivalent to `--patch-from` are `ZSTD_compress_usingDict()` and `ZSTD_decompress_usingDict()`.
`--patch-from` additionally modifies some advanced parameters, like `windowLog` and enables the `ldm` mode.
In short, whatever `--patch-from` does can be done with only the library, but `--patch-from` packages in a single command a number of advanced parameters that must be done man

[2021-10-28 08:54] wspl commented on #2835
@Cyan4973  I use a zstd Rust Wrapper (https://github.com/gyscos/zstd-rs) that uses `ZSTD_compress_usingDict` for file compression internally, and when I compressed the files through this library, I found that the resulting diff file was much larger than the one produced by `--patch-from` of cli.

Also, compressing a small file with `zstd -D` produces a much larger file than `--patch-from`.

[2021-10-28 16:47] Cyan4973 commented on #2835
As mentioned, `--patch-from` is a combination of dictionary mode **+** a number of well selected parameters.
If the rust wrapper gives you access to the full stable API, then it should be possible to reproduce the same thing.
But that requires understanding advanced parameters.

If what you are asking for is a dedicated API to replicate what is achieved with command `--patch-from` at library level

[2021-10-29 02:59] wspl commented on #2835
@Cyan4973 My guess is the same. So I found out by reading the code that the `windowLog` parameter might need to be set, so I set a value as calculated in the source code, and it didn't work. This is what I found by reading the pull request for `--patch-from` (https://github.com/facebook/zstd/pull/1940), I don't understand if I need to set some other parameters? Can you improve some hint for this p

[2021-10-31 06:44] resistor commented on #2832
I am attaching two more examples of other debug info sections that compress worse with ZSTD than with ZLIB at default compression levels.

[debug_loclists.bin.gz](https://github.com/facebook/zstd/files/7448255/debug_loclists.bin.gz) - ZSTD 6.4MB vs ZLIB 5.9MB
[debug_rnglists.bin.gz](https://github.com/facebook/zstd/files/7448256/debug_rnglists.bin.gz) - ZSTD 6.7MB vs ZLIB 5.2MB

Both of these exam

[2021-11-01 03:09] Cyan4973 commented on #2835
The 2 main things I remember is to set the `windowLog` to a value larger than the content being compressed,
and to enable the `--long` mode (`ZSTD_c_enableLongDistanceMatching` in API equivalent).
There are then other differences, but it's more complex, and less clear cut.
The 2 above parameters matter the most.

[2021-11-01 13:31] nariox commented on #1638
This was merged into linux-next, so, most likely will be included on Linux 5.16.

Thank you @terrelln!

[2021-11-02 03:38] wspl commented on #2835
@Cyan4973 For a 123,983kb file, I use `windowLog=27` and set `ZSTD_c_enableLongDistanceMatching` to `1`. Set the old file (the one that needs to be patched) to cctx via `ZSTD_CCtx_refPrefix` (`ZSTD_CCtx_loadDictionary` also has no effect). Then use `ZSTD_compressCCtx` for compression. Nothing works, the resulting file is still 55M in size.

The size (55M) is the same as if it had been compressed d

[2021-11-02 04:07] Cyan4973 commented on #2835
`ZSTD_CCtx_refPrefix()` and `ZSTD_CCtx_loadDictionary()` are part of the "[advanced compression API](https://github.com/facebook/zstd/blob/dev/lib/zstd.h#L238)", applying sticky parameters into target `ZSTD_CCtx*` object.

Sticky parameters are [compatible with `ZSTD_compressStream()` and `ZSTD_compress2()`](https://github.com/facebook/zstd/blob/dev/lib/zstd.h#L245).

In contrast, `ZSTD_compressCC

[2021-11-02 04:46] wspl commented on #2835
@Cyan4973 Now it works properly! Thank you for your help!

[2021-11-02 04:46] #2835 closed, assigned to nobody

[2021-11-02 19:48] hmarr opened #2842 "Cross-origin image request in docs causes TLS client cert prompt"
**Describe the bug**

When navigating to https://facebook.github.io/zstd/, I get prompted to select a TLS client certificate for the mcmilk.de domain (which has TLS mutual auth enabled). This seems to be caused by the [image](https://github.com/facebook/zstd/blob/4fdaf56f0590844dfbb6f5601d4654bb49112653/index.html#L248) that's being loaded from that domain. Copying the image to a CDN or directly t

[2021-11-02 21:00] #2842 closed, assigned to nobody

[2021-11-02 21:02] Cyan4973 commented on #2842
Thanks for the very clear description of the issue @hmarr .

This should be fixed in latest update of [`zstd` homepage](https://facebook.github.io/zstd/).

[2021-11-02 23:01] tallzabby commented on #2173
Since interest seems to be important, thought I would mention I am very interested.  Was using zstd patch-from for an upgrade program... file has just recently grown to 2GB ;).  I can economize a bit to kick the can down the road (otherwise I'll need to do a more extensive revamp).

Any thoughts on the chances of this getting worked on soon?  Just wondering.

[2021-11-05 20:19] Hello71 opened #2848 "correct --size-hint increases compressed size"
**Describe the bug**
According to the manual (emphasis added):

From this description, I assumed that if I specify --size-hint with exactly the correct size, then the compressed size should either decrease or remain the same.

**To Reproduce**
Steps to reproduce the behavior:
1. Download [vmlinux-lts.gz](https://github.com/facebook/zstd/files/7488655/vmlinux-lts.gz) and decompress it. This file wa

[2021-11-05 21:06] Cyan4973 commented on #2848
A few words.
1) The differences presented are extremely small. This is well below <0.1%. At this level, we are essentially talking noise.
2) There are a lot of heuristics in these algorithms, and while they do generally tend to work as intended, well they are just guesses, and sometimes they guess wrong.
3) In this case though, the pb is more likely conflicting priorities between different dynamic

[2021-11-09 13:59] Hello71 commented on #2848
hm, yes, I see your point. I'm still a little confused though: I compared `cat vmlinux-lts | zstd --ultra -22 --show-default-cparams >/dev/null` and `zstd --ultra -22 --show-default-cparams vmlinux-lts` and found that with known size, `windowLog` is set to 25 and `chainLog` is set to 26. then I tried `zstd --ultra -22 -c --zstd=wlog=27,clog=27 vmlinux-lts | wc -c` and found that it still gives the

[2021-11-09 14:22] Cyan4973 commented on #2848
I believe there are a few adjustments which are "unavoidable".
Specifically, I think that, when the library is "certain" of the input size, it will adjust `windowLog` downward if need be, and may then also adjust a bunch of other things in the process (`chainLog` and `hashLog`) to match the new value.

One way to avoid such automatic adaptation is to "hide" the input size, i.e. send input via `std

[2021-11-10 09:13] photopea commented on #606
Could someone create a compressor for ZSTD in WASM, that is smaller than e.g. 100 kB? Do you think it is possible? Would it be possible to generate it out of this library, or a new implementation would be required?

[2021-11-10 09:59] cwoffenden commented on #606
It's possible to fit the entire compressor/decompressor into less than 100kB. A quick test compiling (with `emcc`) the `single_file_libs/examples/roundtrip.c` (with the inlined data replaced with a few bytes) results in 300k-ish Wasm file, which can be served Gzipped at 86kB. I think it's even been done by a few people who've posted links to this ticket.

[2021-11-11 08:23] hk-lrzy opened #2852 "[Decoding error (36) : Corrupted block detected] zstd file corruption"
**Describe the bug**
A clear and concise description of what the bug is.
We used the zstd compression format, but in the process of using it, we found that the ZSTD compressed file was occasionally damaged. We currently believe that it has been damaged during the process of writing to the disk.

So，we set `debuglevel` to 5, and find all corruption file have same problems, zstd max block size is 13

[2021-11-11 12:58] boenrobot opened #2853 "HTTP custom dictionary auto discovery"
**Is your feature request related to a problem? Please describe.**

Zstd would be awesome if implemented in browsers with standard dictionaries, and from what I've read, there are efforts to craft such standard dictionaries for common web formats that would provide some better compression for typical cases.

However, I think nothing would beat a custom dictionary trained on a specific site. e.g. i

[2021-11-11 21:01] felixhandte commented on #2853
Hi @boenrobot,

I'm glad to hear this is something you're passionate about! I too really want to see this happen.

Unfortunately, there are non-trivial challenges that have hindered progress.

- Security: Dictionary-based compression opens a whole can of worms in terms of security. I've heard from pretty much all of the relevant parties that this is a blocking issue. I've been slowly working on an

[2021-11-13 00:15] drivehappy opened #2854 "Preprocessor checks for __SSE2__ don't work under MSVC"
**Describe the bug**
There's a few places in zstd that don't benefit from SSE2 optimizations when building under MSVC. There are preprocessor checks that use `defined(__SSE2__)`, however Microsoft seems to have never enabled SSE/SSE2 preprocessor definitions (seemingly only AVX ones).

**To Reproduce**
Steps to reproduce the behavior:
1. Create a VS project via CMake, select the x64 multi-config
2

[2021-11-13 00:27] drivehappy commented on #2854
I was looking at the 1.5.0 build, it appears the dev branch already has a fix in place for this with #2681.

[2021-11-13 00:27] #2854 closed, assigned to nobody

[2021-11-13 01:09] yetanothergeek commented on #2806
Following...

[2021-11-13 01:14] terrelln opened #2855 "[CLI] Extra newline gets printed out when compressing multiple files"
**Describe the bug**
An extra newline gets printed out when compressing multiple files and piping to stdout

**To Reproduce**
Steps to reproduce the behavior:

[code]

**Expected behavior**
No extra newline:

[code]

[2021-11-13 15:10] photopea commented on #606
@cwoffenden  could you maybe share the WASM file of your compressor? I havent worked with any compilers in ages and I am afraid of them :/

Do you think the compressor could be squeezed even more? If it can be made 3x smaller, but the compression would be 3% worse, I am ok with that :)

[2021-11-14 19:48] AnastaZIuk opened #2859 "Find Threads module within Android NDK"
https://github.com/facebook/zstd/blob/v1.5.0/build/cmake/CMakeLists.txt#L123 this one is probably not necessary and forces to workarounds under android ndk build because the Android libc standard library (called "bionic") already includes the relevant functions in `threads.h` and `pthread.h` headers. That support is not yet completely POSIX compliant and differs by API level, but will be sufficien

[2021-11-14 20:32] unoexperto commented on #1606
I don't know if it's related but I managed to get this exception inside of AWS Redshift :)

[code]

I used following file
[redshift_chunk_11415238115203909871.csv.zstd.tar.gz](https://github.com/facebook/zstd/files/7534606/redshift_chunk_11415238115203909871.csv.zstd.tar.gz)

[2021-11-15 01:29] 15596858998 commented on #2855
I think this problem is caused by the implementation of the "-c" command. Even if I only use "-c", there will be an extra line break.
![image](https://user-images.githubusercontent.com/33825201/141708554-9ea6e34b-03f4-47af-8e86-57ac43c58762.png)

[2021-11-15 02:34] 15596858998 opened #2860 "Why is there no detailed output when multiple files are compressed"
This is the detailed output of a single file compression：
![image](https://user-images.githubusercontent.com/33825201/141712700-db8a969a-b738-419c-92b3-4097a924390c.png)
![image](https://user-images.githubusercontent.com/33825201/141712744-3e636749-daea-4bf6-b7ae-4460273c753f.png)
This is multiple file compression：
![image](https://user-images.githubusercontent.com/33825201/141712838-ec281115-0db5

[2021-11-15 03:12] Cyan4973 commented on #2860
1) Which version of `zstd` are you using ?
2) Have you tried option `-v` ?

[2021-11-15 03:15] #2860 closed, assigned to nobody

[2021-11-15 06:41] 15596858998 opened #2861 "Test case information statistics"
Is it possible to add a test case coverage statistics, and test case statistics, or it has been implemented I don’t know how to use it

[2021-11-16 00:06] terrelln opened #2862 "[build] Reduce code size of zstd_opt.c & decrease build time"
The optimal parser takes up a lot of code size, which also hurts build time. Improve it so we can retain speed while saving code size.

[2021-11-16 22:36] terrelln opened #2865 "[test] Test that libzstd.so has the no exec stack bit set"
Add a test case to detect the build bug fixed in PR #2857 so we don't regress in the future.

[2021-11-16 23:53] terrelln opened #2867 "[umbrella task] Track and improve code size"
Zstd has been getting larger over the years, as we've added features and improved performance. We should take a comprehensive look at code size, and try to optimize our code size while retaining performance.

1. Explicitly track our code size in our tests, and monitor between releases.
2. Look at the largest code size files and try to find wins.
    a. `zstd_opt.c` is a prime target: Issue #2866.

[2021-11-17 19:52] terrelln opened #2868 "Disabled assert() could use its argument to avoid unused variable warnings"
Test this construction for disabling assertions:

[code]

Additionally, do the same for `RAWLOG()` and `DEBUGLOG()` when `DEBUGLEVEL < 2`.

This would avoid unused variable warnings that show up in production.

[2021-11-17 20:07] Cyan4973 commented on #2868
Note : this construction relies on the compiler doing a good DCE job.
While this is most likely the case for most modern and mainstream compilers using optimization settings,
it's more difficult to be sure about that with regards to the larger C compiler ecosystem.

An example of uncommon compiler (yet not completely fringe) which may have troubles with DCE could be `tcc`.

[2021-11-17 21:14] Cyan4973 commented on #2852
Information is limited.
From the symptoms, it could be a different source of corruption, such as hardware storage.
In which case, `zstd` then just detects the damage, but there's nothing else it can do about it.

[2021-11-18 01:58] Cyan4973 commented on #2834
With #2847 from @Svetlitski-FB , I think this mostly answers this request.

[2021-11-18 01:58] #2834 closed, assigned to nobody

[2021-11-18 07:57] 15596858998 opened #2870 "‘-S’ will output the benchmark test results of each file separately, but the result is not"
‘-S’ will output the benchmark test results of each file separately, but the result is not
![image](https://user-images.githubusercontent.com/33825201/142375047-24b901cb-7511-43ed-a740-ebeae36a837e.png)

[2021-11-18 11:56] jimis commented on #2834
Can you paste some example output?

Thank you for implementing this feature! :-)

[2021-11-18 13:45] Cyan4973 commented on #2870
`-S` is designed to work with the benchmark mode (`-b`) exclusively.
It has no meaning beyond this context.

Detailed statistics per file is provide by `-v`.

[2021-11-18 13:48] Cyan4973 commented on #2834
[code]

[2021-11-18 20:03] cwoffenden commented on #606
@photopea sharing the Wasm file won't expose the calls the JS, since I only built the roundtrip test file. You need something that does the equivalent of this but for the compressor: https://github.com/fabiospampinato/zstandard-wasm

[2021-11-18 20:11] photopea commented on #606
You can see the methods of a WASM file e.g. in the browser environment. I was usually able to figure out the input / output of methods using the documentation of the library. So a WASM file is usually enough for me (if the names of methods are preserved in it).

[2021-11-19 03:07] #2870 closed, assigned to nobody

[2021-11-20 20:03] ctrlcctrlv commented on #606
Hello friends,

I had never played with WebAssembly before, but am very familiar with CMake, C compilers etc, so fell down a bit of a rabbit hole this morning attempting to upgrade the original project here, just because I wanted to distribute an HTML file with some Zstd-compressed data rather than Zlib, the usual trick. I succeeded in updating @kig's https://github.com/kig/zstd-emscripten from 20

[2021-11-20 20:06] ctrlcctrlv commented on #606
By the way, if you just want `zstd.js` and `zstd.wasm` and don't want to go through the CMake build, I uploaded them here: https://github.com/ctrlcctrlv/zstd-emscripten/releases/tag/v20211120

[2021-11-20 20:36] fabiospampinato commented on #606
I have no plan to stop maintaining it in the foreseeable future.

It's cool that you ported the compressor to the web too, but if one doesn't need that it's just overhead for them, my decompressor-only build is like ~25kb gzipped, yours is ~1000kb gzipped.

To summarize:

- For compressing on the web I think @ctrlcctrlv's [build](https://github.com/ctrlcctrlv/zstd-emscripten) is the only game in t

[2021-11-20 20:55] ctrlcctrlv commented on #606
Thanks for your appraisal :) I needed to decompress a file which expands to 75MB, which is why I wanted WASM.

[2021-11-20 21:35] photopea commented on #606
I am still looking for a tiny compressor, e.g. under 50 kB zipped. I will try to implement my own "light" compressor once I have more time.

[2021-11-20 22:55] ctrlcctrlv commented on #606
[code]

I don't see much difference between 50K and 89K personally.

[2021-11-20 23:02] photopea commented on #606
Where exactly is the 89K file? I saw only your WASM file, that is 3 MB.

[2021-11-21 01:07] ctrlcctrlv commented on #606
You said "under 50 kB zipped", so I just tried `gzip zstd.wasm` to see what the gzipped size would be (as delivered by e.g. a webserver). If your webserver supports the newer Brotli standard even 67K is possible:

[code]

The 3MB file is just the uncompressed raw WebAssembly.

[2021-11-21 02:17] fabiospampinato commented on #606
@ctrlcctrlv I think you might be compressing the wrong file, gzipping the 3MB wasm file gives me a ~925kb file. WASM can usually be compressed pretty well, but not _that_ well.

[2021-11-21 04:00] ctrlcctrlv commented on #606
Oh, you're right, I was in the wrong directory and compressed a file from a broken build while I was still figuring things out. :-) Sorry. Let me have a think on how to slim down the build, if such is even possible.

[2021-11-21 05:00] ctrlcctrlv commented on #606
All rights friends, here we are, here's a pre-release of my results; first of all, I was compiling with `-O0`, so even the normal combined build is improved now that we're compiling with `-Os`.

https://github.com/ctrlcctrlv/zstd-emscripten/commit/c859cdb7df152f20840c02499fd9854f19587cc2

I would note that the decompressor is _under_ 50K with Brotli compression, and only just above it with Gzip, m

[2021-11-21 10:29] sav-ix commented on #2867
hello,

wondering, if dropping build flags because of buggy compiler is a standard way to solve the issues.
what will happen, if `-O1` became buggy on that parisc system? if _something_ different, than in e2d01863bce98a4642c98cf7727ed8bfb0f33c81, why this _something_ didn't happen for `-O3` bug? thanks.

[2021-11-21 11:11] vasi commented on #395
I'm the author of [pixz](https://github.com/vasi/pixz). Just chiming in to say that the way to break the [chicken-and-egg problem](https://github.com/facebook/zstd/issues/395#issuecomment-492808642) for xz was for someone to ship seekable-xz to a lot of users, which is what pixz + its distro packagers did. Once it became accessible, the approach became tested and well-liked, and then upstream was

[2021-11-21 11:23] photopea commented on #606
Your compressor WASM is 176 kb zipped, which is great! :) I wanted something under 100 kb, but it is the smalles that I have seen so far.

But your decompressor is still quite huge. It is 124K (42K zipped), while [mine is 32K (12K zipped)](https://github.com/facebook/zstd/issues/606#issuecomment-855260340).

[2021-11-21 12:55] fabiospampinato commented on #606
@ctrlcctrlv there might still be some room for size reduction, for whatever reason my size-optimized build is like half yours, no idea why.

[2021-11-21 21:10] crrodriguez commented on #2862
It must also be noted that always_inline almost never makes sense in a place other than small, header-only wrappers. It will rarely make you code any better and will certainly make it bigger.

[2021-11-22 08:45] hk-lrzy commented on #2852
I find more detail about this issue.

In a corrupted file, i find `0xFD2FB528` appeared 2 times, first at the beginning, the other in middle of file.
![image](https://user-images.githubusercontent.com/14176134/142829946-2ec8c71f-54dd-431d-97a4-4318f3adc5ce.png)
![image](https://user-images.githubusercontent.com/14176134/142829968-0ab50b30-8b07-4a41-96d7-af3440e3affe.png)

So, does anyone know unde

[2021-11-22 12:05] gvanem commented on #2789
I have an error while building for `x86` and hit this issue. Basically, I just did:
[code]
How on earth does `HUF_ENABLE_ASM_X86_64_BMI2` gets defined on `x86` in this `#ifdef` soup:
[code]

And no reference to `huf_decompress_amd64.S` in the `CMakeLists.txt` files AFAICS. So how does this happen?

[2021-11-22 12:19] gvanem commented on #2789
Yes there is (via `file(GLOB ...)`). Fix that worked for me:
[code]

[2021-11-22 19:03] terrelln commented on #2789
In the medium to long term we will look into switching to Intel syntax, if it is better supported.

That looks good to me! If you would like to put up a PR with that change I will accept it. Otherwise, I will put up a PR with the fix before the next release.

[2021-11-22 19:40] gvanem commented on #2789
Please do since I suck at Git + PR.

[2021-11-22 21:01] Cyan4973 commented on #2852
Concatenating `zstd` frames is a possibility.
This is "legal" from `zstd` CLI perspective,
but maybe other tools in the ecosystem have more difficulties managing this case ?

[2021-11-23 03:11] JustAnotherArchivist opened #2873 "CLI should fail if the dictionary file provided in `-D` does not contain a valid dictionary"
**Describe the bug**
When the zstd CLI is called with `-D` and that file does not contain a valid dictionary, this is either ignored or results in potentially confusing 'Dictionary mismatch' errors.

**To Reproduce**
Steps to reproduce the behavior:
1. `echo test | zstd -o test.zst`
2. `echo notadict >falsedict`
3. `zstdcat -D falsedict test.zst`
4. `echo test | zstd -D falsedict -o test2.zst`
5.

[2021-11-23 03:42] JustAnotherArchivist opened #2874 "CLI's `-D` fails when the argument is not a regular file"
**Describe the bug**
The `-D` option of the CLI appears to expect a regular file and fails when Bash's process substitution feature is used.

**To Reproduce**
Steps to reproduce the behavior:
1. `wget https://github.com/facebook/zstd/raw/c2c6a4ab40fcc327e79d5364f9c2ab1e41e6a7f8/tests/dict-files/zero-weight-dict` (or another valid dict)
2. Bash: `echo test | zstd -D <(cat zero-weight-dict) >/dev/nu

[2021-11-23 09:11] 15596858998 opened #2875 "The help file cannot fully include all parameters"
This is the description provided by the "-h" help manual, but it is not enough.
![截图22](https://user-images.githubusercontent.com/33825201/142996846-4a6eff94-3e03-4ac4-a548-01b90d26fac3.PNG)
We need more help manuals, it is best to include all the code implementation
![image](https://user-images.githubusercontent.com/33825201/142997264-e7aeab7d-3f77-4604-9aa2-6f7a99bd8062.png)

[2021-11-23 17:13] Cyan4973 commented on #2875
`zstd -h` is just a quick summary of the main options.

For a more exhaustive manual, prefer using `man zstd`.

[2021-11-23 19:23] JustAnotherArchivist commented on #2824
There is no copyright transfer when posting on Stack Overflow or another Stack Exchange, Inc. website as far as I can tell from their [terms of service](https://stackoverflow.com/legal/terms-of-service) (and as I'd expect). Therefore, the author retains the copyright to their content and can always release it again under another licence should they choose to do so.

[2021-11-23 19:47] terrelln commented on #2873
I don't believe that this is a zstd bug, rather confusion about how zstd uses dictionaries.

Zstd accepts two types of dictionaries:
1. Zstd dictionaries. These are required to follow a [specific format](https://github.com/facebook/zstd/blob/dev/doc/zstd_compression_format.md#dictionary-format), and start with the little-endian magic number 0xEC30A437. These dictionaries have a dictionary ID. If y

[2021-11-23 23:02] terrelln commented on #2874
Bug:
* The error message is very unclear. It should specify that we don't work on regular files.

Feature request:
* Allow non-regular files for dictionaries.

[2021-11-23 23:15] terrelln commented on #2859
Would disabling multithreading on Android solve the problem for you @AnastaZIuk?

[2021-11-23 23:38] terrelln commented on #2811
Pzstd requires building with C++11. So you can fix this by adding the flag `-std=c++11`.

[2021-11-23 23:46] terrelln commented on #2770
Is there any action for us to take on this issue?

[2021-11-23 23:51] #2766 closed, assigned to nobody

[2021-11-23 23:54] #2754 closed, assigned to nobody

[2021-11-23 23:56] #2748 closed, assigned to nobody

[2021-11-24 00:01] #2727 closed, assigned to nobody

[2021-11-24 00:04] #2718 closed, assigned to felixhandte

[2021-11-24 00:08] #2690 closed, assigned to nobody

[2021-11-24 00:10] felixhandte commented on #2690
Struct-packing is not standards-compliant. It's hard enough to make sure zstd is correct in all the hairy corner cases of standards-compliant platforms. We're not going to try to support this.

[2021-11-24 00:12] Cyan4973 commented on #2662
fixed in #2755

[2021-11-24 00:12] #2662 closed, assigned to nobody

[2021-11-24 00:12] terrelln commented on #2662
This should be fixed by #2755

[2021-11-24 00:13] terrelln commented on #2827
It seems like we aren't quite ready to stabilize the speed curve of the negative compression levels. For now we will leave them un-stabilized. This topic is on our mind, but we find ourselves lacking time. We want to take our time here, so we don't close off future opportunities in the negative compression level space.

[2021-11-24 00:13] #2651 closed, assigned to nobody

[2021-11-24 00:14] terrelln commented on #2641
@mathomp4 @dvandusen is there any topic for us to address here before we make our next release?

[2021-11-24 00:15] #2631 closed, assigned to nobody

[2021-11-24 00:17] #2596 closed, assigned to nobody

[2021-11-24 00:18] #2591 closed, assigned to senhuang42

[2021-11-24 00:18] terrelln commented on #2591
I believe that that is fixed by #2592.

[2021-11-24 07:06] #2875 closed, assigned to nobody

[2021-11-24 08:37] jannkoeker commented on #2770
The best way would be to extend this code block
https://github.com/facebook/zstd/blob/c2c6a4ab40fcc327e79d5364f9c2ab1e41e6a7f8/build/cmake/lib/CMakeLists.txt#L108-L113
to add an additional check for Clang on Windows.
I will create a pull request as soon as I have time.

[2021-11-26 02:16] 15596858998 commented on #2874
I think this is a problem similar to the problem of ‘#2873’, both of which are not clear about the interpretation of the error message of the unconventional dictionary. I think we can solve these two problems together.

[2021-11-26 09:03] 15596858998 opened #2878 "Sample data merging"
Can we merge the sample data when training the dictionary in a buffer.
Because there will be a lot of sample data that repeats a certain data, but this data only appears once in this sample, but we can't find this data to use as a dictionary well now.

[2021-11-26 19:41] kig commented on #606
Hi all, thanks for reminding me of the emscripten port @ctrlcctrlv!

I did a size-optimized emscripten [build script](https://github.com/kig/zstd-emscripten/commit/f3e1f96007797e1fc227208b12affdf6a7febc62) with legacy, dictBuilder and deprecated files removed, and set the ZSTD_LIB_MINIFY and ZSTD_NO_INLINE flags. The compressor + decompressor WASM is 222 kB, 75 kB gzipped, 62 kB with brotli.

You

[2021-11-27 04:38] kig commented on #606
I updated https://github.com/kig/zstd-emscripten/ with streaming compression and decompression, you can check the demo page for usage https://kig.github.io/zstd-emscripten/

The streaming API inflated the library size by 8 kB gzip, 5 kB brotli.

[2021-11-27 05:23] ctrlcctrlv commented on #606
Thanks for your effort @kig! I planned to do the same at some point, but most of my coding energy goes into my fonts and font editor I'm afraid, so I'm happy just at having inspired further work :)

[2021-11-28 00:57] JustAnotherArchivist opened #2880 "zstdless vs less inconsistencies"
**Describe the bug**
zstdless handles all options with zstdcat, not allowing anything to be passed to less.

**To Reproduce**
Steps to reproduce the behavior:
1. `echo foo | zstd -o foo.zst`
2. `zstdless +/foo foo.zst` (to search directly for `foo`) → `zstd: can't stat +/foo: No such file or directory -- ignored` (on stderr, only visible after less is closed)
3. `zstdless -N foo.zst` → `Incorrect

[2021-11-28 13:40] kig commented on #606
Thanks for bringing the repo up-to-speed @ctrlcctrlv ! I wanted to use zstd + wasm in my drawing app last week, so it was great to re-discover this.

I ditched the API wrapper in zstd.js.c and changed the repo to track upstream in a submodule. The generated binding does a low-level binding to almost all functions in zstd.h (skipping the thread pool ones.) The old fork repo is [archived](https://gi

[2021-11-29 18:29] mckaygerhard commented on #2811
it seems does not work:

[code]

[2021-11-29 19:11] binhdvo commented on #2731
Documentation has been updated to make the behavior more clear

[2021-11-29 19:11] #2731 closed, assigned to binhdvo

[2021-11-30 08:11] hk-lrzy commented on #2852
So, in this case, the block before the second magic number should be marked as last, right? Actually it is not mark as a last block

I split corrupted file into 2 parts according by the second `0xFD2FB528`. before second `0xFD2FB528` part is not completely to decompression，after second `0xFD2FB528` part could be decompression.

i think two frames all could be decompression,right?

[2021-12-01 01:39] #2248 closed

[2021-12-01 18:04] terrelln commented on #2811
I think PR #2889 should fix this issue, which is merged into the latest dev branch.

[2021-12-01 19:39] terrelln commented on #2878
This is the intended use case for the dictionary trainer. The trainer will actually ONLY look at repetitions between different samples, and ignores repetition within a single sample.

If you are finding that the dictionary isn't working well, please share more details:
1. Include the training command, the number of samples, and the approximate size of the samples. With this, we may be able to help

[2021-12-01 19:40] #2814 closed, assigned to terrelln

[2021-12-01 19:40] #2865 closed, assigned to terrelln

[2021-12-01 19:41] #2815 closed, assigned to terrelln

[2021-12-01 19:41] terrelln commented on #2815
This should be fixed by #2887. If you find it isn't fixed in the latest dev branch, please reopen the issue.

[2021-12-01 19:41] terrelln commented on #2811
Please reopen if the issue isn't fixed.

[2021-12-01 19:41] #2811 closed, assigned to terrelln

[2021-12-01 19:56] Cyan4973 commented on #2852
So this is likely a corrupted stream.
There are too many reasons this could happen.
Hardware could be one way, but I would more likely target the software around the library,
it's very easy to triggers issues around incorrect pointers, unfinished flushing, buffer reuse, unwarranted overwriting, incomplete initialization, etc.
I'm afraid there are too many possibilities to debug effectively from ju

[2021-12-01 20:55] #2848 closed, assigned to nobody

[2021-12-02 04:22] Cyan4973 commented on #2855
Fixed in #2876

[2021-12-02 04:22] #2855 closed, assigned to Cyan4973

[2021-12-02 06:24] hk-lrzy commented on #2852
I agree with your opinion. I am currently using the following methods to obtain more information, set debuglevel=4, and then observe the writing status of zstd-jni(java). At the same time, I would like to know if there are other ways to avoid such problems, such as detecting the above problems during writing?

[2021-12-02 06:55] Cyan4973 commented on #2852
Collecting traces with `DEBUGLEVEL` presumes that the issue comes from within the library.
If, instead, the issue lies in some code _around_ the library, you'll need different sources of traces.

[2021-12-02 08:48] jwongz commented on #1283
gcc 8.2 in centos6.4  still have this problem

[2021-12-02 16:29] mckaygerhard commented on #2811
nmany thanks.. ! puff i will test and report feddback

[2021-12-02 21:51] terrelln commented on #2862
@crrodriguez we use always_inline to emulate templates in C. We only use it cases where we expect the function to take one or more compile time constants as parameters, and we want the compiler to hardwire branches & do dead code elimination.

[2021-12-02 22:25] #2756 closed, assigned to Cyan4973

[2021-12-02 22:26] Cyan4973 commented on #2756
Zstandard on `m68k` is now supported in latest `dev` branch update.

[2021-12-03 06:23] 15596858998 opened #2903 "Function parameter symbol type does not match"
The "size_t" here is unsigned, but the parameter of the "read_bits_LE()" function is signed. Is the usage here not rigorous enough?
![image](https://user-images.githubusercontent.com/33825201/144555236-2ebb0af6-fab8-4606-82e5-86429c907832.png)

[2021-12-03 07:39] jwongz commented on #1283
Upgrade version of `as` can solve this problem.

[2021-12-03 11:15] chewi commented on #2756
I can confirm that it now passes the tests on my end. Thanks so much!

[2021-12-03 13:39] mckaygerhard commented on #2811
good! inclusive it works and compiles in my backported debian wheezy! many many thanks @terrelln

[2021-12-03 17:12] Cyan4973 commented on #2903
Yes, a stricter implementation would be explicit in the type casting.

I believe it's code from the educational decoder, which is rather meant to illustrate the spec, not to go into production or ported verbatim to multiple architectures. So the coding standard is mode relaxed here.

[2021-12-03 18:17] #2767 closed, assigned to felixhandte

[2021-12-03 18:17] felixhandte commented on #2767
The linked PR should fix this issue.

[2021-12-03 18:27] felixhandte commented on #2859
I believe this issue should be fixed in `dev`.

[2021-12-03 18:27] #2859 closed, assigned to felixhandte

[2021-12-03 22:22] #2862 closed, assigned to terrelln

[2021-12-03 22:24] terrelln commented on #2641
Closing due to lack of activity. Please re-open if this is still an issue.

[2021-12-03 22:24] #2641 closed, assigned to terrelln

[2021-12-03 22:27] terrelln commented on #2789
@gvanem `HUF_ENABLE_ASM_X86_64_BMI2` definitely isn't enabled on x86 32-bit builds. I've added tests for Windows + CMake builds to our CI, and don't see any failures. I've further restricted the assembly code to be disabled whenever possible. Do you still see issues on the latest dev branch?

[2021-12-06 01:06] 15596858998 commented on #2903
ok

[2021-12-06 01:43] 15596858998 opened #2906 "The "rangeStart" here may be "NULL", but the code is judged after use"
The pointer here may be "NULL", but the code is judged after use
![image](https://user-images.githubusercontent.com/33825201/144774069-f7f4aa43-4e91-43fb-a3ba-43d106e2fc1d.png)
![image](https://user-images.githubusercontent.com/33825201/144774307-fb38b885-f935-4524-b212-3eaf44abab29.png)

[2021-12-06 10:00] zgbilltalent opened #2908 "How to build for android & iOS"

[2021-12-06 14:18] gvanem commented on #2789
You mean with CMake? I'm not a great lover of CMake; I use my own home-brew GNU Makefile instead.

[2021-12-06 19:01] terrelln commented on #2789
@gvanem I mean regarding this failure:

[code]

I haven't been able to reproduce the failure, but I've done more to ensure that the Huffman assembly is ifdef-ed out whenever it isn't used.

[2021-12-07 15:43] binhdvo commented on #2880
https://github.com/facebook/zstd/pull/2909 will change the behavior to more closely match zless.  As this is a change to zstdless behavior for users, this will not be pushed to the impending release; it will be safer to let it bake in dev branch for awhile.

[2021-12-07 18:19] #2823 closed, assigned to nobody

[2021-12-07 18:20] #2770 closed, assigned to nobody

[2021-12-07 18:21] #2759 closed, assigned to nobody

[2021-12-08 03:44] zgbilltalent opened #2913 "How to compile for android and iOS ?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-12-08 15:05] #2816 closed, assigned to binhdvo

[2021-12-08 21:51] #2906 closed, assigned to nobody

[2021-12-09 00:48] #2824 closed, assigned to nobody

[2021-12-09 00:54] Cyan4973 commented on #2824
There never was any "legal" risk, to be clear. And yes, this was reviewed by lawyers.
And since I own the copyright of both the question and the answer, it was easy enough to just redirect the link to my own blog post (which was published before SO) to satisfy the zealous linter.

[2021-12-09 11:59] 15596858998 opened #2918 "No message is displayed when -T is used to decompress the package."
I use the multi-thread function of -T to decompress the file, you can see that the decompression is successful, but we do not support multi-thread decompression, this will cause a misunderstanding to users.
![image](https://user-images.githubusercontent.com/33825201/145392081-502927ea-5321-44da-b16d-516b60ae8fab.png)
I think there's a need to do some processing here.

[2021-12-09 12:00] aleksazr opened #2919 "ZSTD_maxCLevel, x86 vs x64"
#2885 has limited ZSTD_maxCLevel to 21 for 32-bit binaries,
which causes x64 code to be 2x slower than x86 code with some files.

Currently, I only see this with Rich Text Format (*.rtf) files containing images.
Sample file: http://users.beotel.net/~gwh/zstd/zstd_rtf.zip

Perhaps limit it to 21 only for files bigger than some limit,
`ZSTDLIB_API int ZSTD_maxCLevelEx(size_t srcSize); // note the Ex

[2021-12-09 16:47] #2874 closed, assigned to felixhandte

[2021-12-09 16:50] felixhandte commented on #2806
@nolange, I'm curious if you have any updates on this topic. We've been talking to the Chrome folks about integrating Zstd into the browser and they also care a lot about binary size (although maybe that ship has already sailed.....). So I'd like to see this topic move forward. Do you intend to keep working on it?

[2021-12-09 17:41] nolange commented on #2806
Unfortunately, no news. gonna prod the ML again.
I am gonna work on it as far as getting it into Busybox (unless that requires writing a minimized zstd from scratch).

[2021-12-10 03:03] ghost commented on #2919
Limiting to 21 loses some ability.

IMO write in doc that level 22 may run out of 32-bit memory space, or give a friendly error message when there is a huge memory request in 32-bit build.

[2021-12-10 07:39] 15596858998 commented on #2878
In fact, I want to achieve the function of merging all sample data together, not trimming and aligning each data, dividing all the data into small blocks.

[2021-12-10 18:30] terrelln commented on #2878
Can you explain exactly what you want to do and why (an example may help)? I don't think that is what you want, but I can't be sure because I don't 100% understand the problem.

[2021-12-10 19:56] aleksazr commented on #2919
My next idea was to have a flag (#define / variable) that would say (to zstd internal functions):
"you are running on a 32bit CPU. If level 22 runs out of memory, try level 21."

But that should be a normal behavior anyway. Simply disabling level 22 for 32bit code is not
a good thing for files that **could** be compressed in 32bit memory space.
A 32bit app could use level 21 and still run out of m

[2021-12-10 21:56] Cyan4973 commented on #2919
Initially, 32-bit used to be limited to level 20, due to a limitation in the 32-bit encoder.

Later on, higher levels 21 and 22 were enabled, but limited the window size to 32 MB (equivalent to level 20).
This resulted in confusion, with users complaining that level 21 and 22 do not mean the same thing depending on the platform.

Ultimately, we fixed the issue with 32-bit mode and window sizes > 3

[2021-12-11 00:19] ghost commented on #2919
For large files, level 22 is very slow, I suspect not many people do this on 32-bit systems.

If a user encounters this problem in the production environment, he will adjust his behavior.
Please consider making the adjustment easy (for the two constraints), setting parameters is relatively inconvenient, and if the parameters of level 22 are adjusted in future versions, it can't get strictly reprod

[2021-12-11 00:36] ghost commented on #2919
In multi-threaded compression, if memory allocation fails, can it not be regarded as an error, just wait for the running threads to complete the task, and then retry again.
Can set some constraints for this, such as 32-bit build + MT-compression + total memory > 1.5G.

[2021-12-11 00:49] Cyan4973 commented on #2919
That would indeed be part of the project. But doing it properly is a non-trivial time investment.

Another problem is that even with a single active compression thread, the amount of RAM needed is pretty large for 32-bit systems.

[2021-12-12 02:38] ghost commented on #2919
I guess some users will complain this.
Please consider revert #2885 and 4cc5e2818a4db99ebf7b5bf1a46258927c5ffa3a at the last moment.
We can add an environment variable to CLI in v1.5.2, this should not diffcult.

[2021-12-12 12:51] aleksazr commented on #2919
I will probably never compress more than 100k, so this limit is probably pointless to me.
I would write it like this: (clevels.h)

[code]

[2021-12-13 07:22] averms opened #2924 "single_files_libs/combine.sh very slow, ~3 minutes."
**Describe the bug**
The amalgamation script is very slow, running it through Bash takes around 3 minutes for `zstd-in.c`.

**To Reproduce**
Steps to reproduce the behavior:
1. `cd build/single_file_libs && time create_single_file_library.sh`

**Expected behavior**
Faster amalgamation.

**Solution**

I wrote an [alternative in Python](https://github.com/averms/ccombine). It is 135x faster so it ta

[2021-12-13 17:22] Cyan4973 commented on #2924
Moving to Python is something we consider, especially for such a remarkable speed improvement.
The plan is to keep both versions (at least in short term), so that environments without python dependency can still run the shell script as backup.

[2021-12-13 22:23] felixhandte commented on #2827
Hey @danlark1, this was a known issue with #2749 but we felt that it was a reasonable tradeoff since that PR benefits levels 1 and 2, which are much more heavily used.

I recently spent some time seeing if we can avoid harming the negative levels as much. The result of that work is #2921, which I expect to merge shortly. We come much closer to preserving the pre-existing behavior of the negative l

[2021-12-13 23:19] danlark1 commented on #2827
FYI, we migrated to level -1 in these workloads and feel happier than ever, luckily, it was successful in terms of savings

Still I find it useful to tell about you these findings

[2021-12-14 19:13] #2827 closed, assigned to felixhandte

[2021-12-15 11:21] vcunat commented on #2528
For reference, I'm still getting the issue with zstd 1.5.0, i.e. this^^ PR did not solve it for me.

[2021-12-16 12:18] Kawashima-Azumi opened #2932 "Store uncompressed size of whole file"
Currently "zstd --list" iterates all compressed blocks, which makes it super slow when lseek(2) is expensive, e.g., on a network filesystem.

Can zstd store uncompressed file size directly like xz, so that listing becomes independent on file size?

[2021-12-16 12:47] Cyan4973 commented on #2764
Benchmark updated

[2021-12-16 12:47] #2764 closed, assigned to Cyan4973

[2021-12-16 13:38] Augustin-Zidek commented on #2764
Amazing, thank you (and congrats on the upcoming release)!

Note that http://facebook.github.io/zstd/ still has the old benchmark numbers, but I assume the main readme lives in GitHub anyway these days.

[2021-12-16 14:20] acmorrow commented on #2110
@terrelln - Since there isn't a commit currently associated with this issue, it is difficult to know what the first release of zstd containing the fix might be. Could you please update this issue with that information? I'd also be interested to know the exact commit because I may want to cherry-pick the fixes, if appropriate/reasonable. Thanks!

[2021-12-16 16:07] gvollant commented on #2764
if possible, including https://github.com/zlib-ng/zlib-ng in benchmark can be useful. https://github.com/zlib-ng/zlib-ng is a deflate "1993" compatible solution faster than classic zlib

[2021-12-16 16:12] gvollant commented on #2764
And pehaps for large dictionnary compression, xz - lzma - 7zip

[2021-12-16 17:30] felixhandte opened #2933 "Add Tools to Scale Compression Resources on Constrained Systems"
**Is your feature request related to a problem? Please describe.**
Developers who want to use zstd in its higher compression modes face difficult choices when their application is shipped to and runs on highly disparate devices. On high powered server-class hardware, level 19 (or even higher) may be appropriate, but the same level on a constrained device (e.g., a Raspberry Pi) may take unconsciona

[2021-12-16 17:41] Cyan4973 commented on #2932
Such a field is not part of the format.
There's technically no way for a streamer to know the future size of an entire frame at the moment the header is generated.

[2021-12-16 17:45] Cyan4973 commented on #2110
I believe this objective was gradually achieved across multiple commits, so there's not just one place to look at.

[2021-12-16 17:48] felixhandte commented on #2933
In short, I am proposing that to start we add a CLI flag `--max-mem`. Ideally, it could take arguments of the form `x%`, and would limit zstd to using that percentage of total system memory.

[2021-12-16 18:09] acmorrow commented on #2110
@Cyan4973 - Thanks. Do you happen to know what the first release that contains all those commits might be?

[2021-12-16 19:07] andrews05 commented on #2764
@Cyan4973 I think you forgot to put the correct version on the zstd fast benchmarks?

Also, any chance you could update the charts? [This one](https://github.com/facebook/zstd/blob/dev/doc/images/DCspeed5.png) is from v0.6.0.

[2021-12-16 19:51] Cyan4973 commented on #2110
I would expect `v1.5.0` to contain most if not all of them.

[2021-12-16 19:53] Cyan4973 commented on #2764
Indeed! Thanks for the notification, it's fixed now.

Will need some more time

[2021-12-17 11:20] Kawashima-Azumi commented on #2932
Well, I think a seek table is not as fast but sufficient for quickly listing uncompressed size:
https://github.com/facebook/zstd/blob/dev/contrib/seekable_format/zstd_seekable_compression_format.md

[2021-12-18 00:50] data-man commented on #2764
@gvollant

Feel free improve my branch: https://github.com/data-man/lzbench/tree/zlib_ng

Some my results (`ucd.all.flat.xml` from Unicode 14.0):
lzbench 1.8 (64-bit Linux)  Intel(R) Core(TM) i7-7700HQ CPU @ 2.80GHz
Assembled by P.Skibinski

| Compressor name         | Compression| Decompress.| Compr. size | Ratio | Filename |
| ---------------         | -----------| -----------| ----------- | ---

[2021-12-19 15:38] data-man commented on #2542
My first attempt: https://github.com/data-man/zstd/tree/libsais :smile:
Please try with `$ make USE_OPENMP=1`.

[2021-12-20 18:58] felixhandte opened #2939 "Allow Build-Time Exclusion of Compression Components"
**Is your feature request related to a problem? Please describe.**
Zstandard has grown into a large tool that tries to serve a wide range of compression use cases. In order to achieve the best performance possible across this spectrum, Zstd ships a number of matchfinders optimized for different points in the speed-ratio curve (`ZSTD_fast`, `ZSTD_dfast`, `ZSTD_greedy`, `ZSTD_lazy`, `ZSTD_lazy2`, `Z

[2021-12-21 01:41] ghost commented on #2919
The limit was reverted in #2940.

[2021-12-21 01:43] #2919 closed, assigned to nobody

[2021-12-21 01:46] Cyan4973 commented on #2919
There is still a need to offer users with large fleets of disparate hosts an ability to ensure that the binary will complete the compression operation, even if it's at the cost of reduced speed or lower compression ratio, due to restricted memory usage (instead of just failing with a `memory error` code, as it does know).

But we'll do that in a separate effort, tracked in #2933.

[2021-12-21 05:26] orz-- opened #2943 "Windows 1.5.1 pre-release assets still 1.5.0"
Windows 1.5.1 pre-release assets still 1.5.0
zstd-v1.5.0-win32.zip
zstd-v1.5.0-win64.zip

[2021-12-21 05:33] orz-- commented on #2943
I'm sorry.
Execute file's version is 1.5.1.
zstd.exe --version
*** zstd command line interface 64-bits v1.5.1, by Yann Collet ***

Just only assets name are 1.5.0.

[2021-12-21 06:46] Cyan4973 commented on #2943
Thanks for the notification @orz-- !
Asset name has been fixed.

[2021-12-21 06:46] #2943 closed, assigned to nobody

[2021-12-21 08:05] marxin opened #2944 "Update API manual to version 1.5.1"
If I see correctly, API documentation points to version 1.4.7:
https://facebook.github.io/zstd/zstd_manual.html

[2021-12-21 10:00] ghost commented on #2943
In [v1.5.1 release page](https://github.com/facebook/zstd/releases/tag/v1.5.1), `Huffman Improvements` section has two "gcc-11	Literal compression - 4KB block", it seems a typo of "clang-13".

[2021-12-21 16:49] Cyan4973 commented on #2943
Yes it is, thanks for the notification @animalize

[2021-12-21 17:00] Cyan4973 commented on #2944
This is a copy of the manual, which is hosted as part of the home page, as opposed to the repository.
Since it's a copy, it doesn't automatically update, so it becomes out of date from time to time.

Thanks for the notification @marxin, the copy has been updated, and now features the content of `v1.5.1`.

The API manual in the repository is always up to date. Ideally, we would prefer to link the m

[2021-12-21 17:01] #2944 closed, assigned to nobody

[2021-12-21 17:15] marxin commented on #2944
I thank you!

Well, you will have to use an external service like:
https://raw.githack.com/
https://raw.githack.com/facebook/zstd/release/doc/zstd_manual.html

[2021-12-21 17:18] Cyan4973 commented on #2944
Oh, that's a good one !
Thanks @marxin, it's probably better to use that link, so that it gets updated automatically with each release.

I'll update the homepage with this new link.

[2021-12-21 17:22] marxin commented on #2944
I took the inspiration from https://stackoverflow.com/questions/6551446/can-i-run-html-files-directly-from-github-instead-of-just-viewing-their-source.

[2021-12-22 00:39] hinton-mgi opened #2945 "Dual License is Ambiguous"
README.md does not indicate whether both BSD and GPLv2 must be followed, or if one or the other may be chosen. I understand that it is intended to be the latter, according to issue https://github.com/facebook/zstd/issues/1181 and according to comments at the top of most source files. However there are source files that do not make this indication, e.g. [lib/decompress/huf_decompress_amd64.S](https

[2021-12-22 07:18] Kawashima-Azumi opened #2946 "compressed file ownership inconsistent with that of uncompressed file"
Using the zstd command (version 1.5.1) to compress a file, and the compressed file does not have the same owner:group as that of the input file. File permissions are consistent, though.

In comparison, gzip, xz, and zstd-1.4.4 retain both permission and ownership.

After looking at https://github.com/facebook/zstd/issues/2739 it seem that the problem of losing file ownership was also introduced by

[2021-12-22 15:31] Kawashima-Azumi opened #2948 "Unable to set log level to 2 when stderr isn't tty"
Setting to other log levels do work. Only level=2 (the default) is broken. This breaks things like GNU parallel.
Removing the following line make it work again:
[code]
No time to file a pull request. Sorry! Too busy at work.

BTW, stdio redirection doesn't necessarily mean to/from pipes. They (stdin, stdout, stderr) can also be regular files, but this is another bug that I have no time to report a

[2021-12-22 15:34] mgautierfr opened #2949 "[Question] Is zstd compression determinist ?"
I'm working on a new archive format with some content compressed with zstd.
For this format I would like to have diff/patch feature. To have this efficiently done, I want to store the diff on the uncompressed content and recompress the content when we rebuild the archive (when applying the patch).
But to have a exact diff, I need to be sure that the compressed output will not change over time (zst

[2021-12-22 17:34] Cyan4973 commented on #2949
`zstd` is deterministic given a same input, a same set of parameters, and a **same version**.
"set of parameter" can be reduced to `compressionLevel` only.

[2021-12-23 00:39] eli-schwartz opened #2950 "Building with -O0 causes programs/zstd to fail to link"
For example, configuring the meson build using

[code]

I can reproduce the failure by setting the buildtype=plain, and make the error go away by additionally adding `CFLAGS=-O1`.

Although presumably zstd may rather suffer for building without any optimizations, undefined symbols seems odd.

[2021-12-23 11:49] WindBrush opened #2952 "Question: how to avoid a line in a textfile being cut into 2 frames?"
Suppose that I got a text file with multiple lines,  I wanna compress it with zstd and decompress it to do sth about the data with multi-thread, which means **one thread should decompress one frame and do sth**.
Here comes the problem:  a line in the text file can possibly be cut into 2 parts and be compressed into 2 different frames by original zstd. And this is really hard to solve in multi-thre

[2021-12-23 17:45] mgautierfr commented on #2949
I was afraid of having this answer.
I will have to find a way to do with it.
Thanks.

[2021-12-23 17:45] #2949 closed, assigned to nobody

[2021-12-23 20:46] felixhandte commented on #2949
I'm surprised that you need repeatable/deterministic compression for your use case. Can you describe more why you think it's important?

It sounds like you're describing a system where you store the contents in compressed form but make diffs and apply patches to the uncompressed data. That makes sense (you couldn't really do it any other way). But then you describe wanting the compressed output to

[2021-12-23 20:59] felixhandte commented on #2952
We've gotten requests for this kind of compressor behavior before: #2812, #2543, #2184, all the way back to #395, etc. But at present, a single invocation of zstd will never cut an input into multiple frames.

If you want to cut an input into multiple frames, you need to present each chunk to zstd in its own compression call. The resulting payloads can then be concatenated or whatever, and then de

[2021-12-23 22:15] mgautierfr commented on #2949
It is exactly my situation.
The idea is to have two archives in which the content is different but pretty closed (one being a new version of the other).
I want to distribute a patch between the two archives and allow the downloader to recreate the second archive from the patch and the first archive (the user already have).
Doing the diff on the compressed data would be inefficient.
And I want to h

[2021-12-24 03:20] WindBrush commented on #2952
Thx for replying and the info u provided.

yes, the main idea comes from `Each frame is independent and can be decompressed independently of other frames. `

If so,  It seems that I can simply split the text-file by lines,  then a single invocation of zstd for each split and concatenate all `.zst ` files into 1. And when processing this file, I can simply cut it into different splits(or frames, be

[2021-12-24 14:17] sunwire opened #2955 "Tar test cases failing on systems with tape drives"
If $TAPE is set tar uses the tape drive instead of stdout as default and tests fail

[code]

[2021-12-27 09:40] Adela0814 opened #2958 "Build failure using Visual Studio 2022"
**Describe the bug**
When I build zstd using Visual Studio 2022, I got some build error:
[code]
The cmake options are:
[code]
It seems that Visual Studio 2022 doesn't recognize this source file.

**Expected behavior**
Build success.

**Desktop (please complete the following information):**
 - OS: Windows
 - Version 10
 - Compiler Visual Studio 2022
 - Flags see log above
 - Other relevant hardware

[2021-12-29 20:56] pixelb opened #2963 "libs built with executable stack on non amd64 architectures"
Due to the effectively empty huf_decompress_amd64.S on non amd64 architectures,
the empty assembly file is still significant, and causes libs to be built with an executable stack.
This triggers various security issues, most obvious being failure to boot on non x86_64 fedora systems,
due to systemd not loading as it sees the dependent libzstd.so.1 as a security issue (which it is).

There were a fe

[2021-12-29 21:03] jpalus commented on #2963
You beat me to it by 5 minutes :)

Can confirm that today 2 of my arm 32-bit boards (armv6hl and armv7hnl) did not boot after upgrade of zstd to 1.5.1.

For reference:
[code]

[2021-12-30 01:08] heftig commented on #2949
Arch Linux tried that with our delta packages (using `xdelta3`, which patches the decompressed data and then recompresses) and the user experience was terrible. Mostly because a) the archives used expensive compression, so recompression ate lots of cpu time, and b) it was very fragile regarding compressor versions and settings.

[2021-12-30 22:25] kareldonk opened #2966 "MUCH slower compression speeds using version 1.5.1"
After updating to version 1.5.1 of the library I noticed that compression speeds were much worse compared to version 1.4.9 at the same compression level. In my benchmarks for my use case, which is compressing streaming network data, zlib now beats zstd with regard to speed and output size.

To reproduce, build the attached source file first with version 1.4.9 used as a DLL, check the output, and t

[2021-12-30 22:43] Cyan4973 commented on #2966
Tested on a local desktop :

`v1.4.9` :
[code]

`v1.5.1` :
[code]

I'm not sure what's going in your case, but it's not a universal experience.

There are too many unsaid variables that can result in such a large difference,
starting with the actual content to compress,
and following with the exact build configuration, to name a few.

[2021-12-30 22:50] kareldonk commented on #2966
If you look at the attached source file it's a pretty simple example of compressing a small string. Run that example and check for yourself what the difference is.

[2021-12-30 23:06] Cyan4973 commented on #2966
I've extracted the small string as a file, and compressed it with `v1.4.9` and `v1.5.1`, giving the following results :

[geldings.txt](https://github.com/facebook/zstd/files/7794849/geldings.txt)

`v1.4.9` :
[code]

`v1.5.1` :
[code]

No significant difference in this test.

I'll try to analyze what could be the potential differences between these tests.

[2021-12-30 23:13] kareldonk commented on #2966
I think it is the way in which I am using zstd in my code that shows the huge difference in performance. It's not related to the string; you can put any string in my code and you will get a big difference in the program's duration output.

The `ZSTD_compressStream()` function appears to be much slower in 1.5.1 compared to 1.4.9. This might be related to the 'rebalancing' work you guys did in 1.5.0

[2021-12-30 23:27] kareldonk commented on #2966
I have benchmark code in a test program I'm using, and you can see the output below comparing zlib and zstd. At compression level `10` for zstd 1.4.9 it outperformed zlib with default compression level. But using zstd 1.5.1 compression got way slower, while decompression remained fast.

**Using zstd 1.5.1:**

[code]

**Using zstd 1.4.9:**

[code]

Perhaps I'm using the API wrong or something, but

[2021-12-30 23:39] Cyan4973 commented on #2966
OK, I can observe a difference when trying to produce a similar scenario,
though not as large (~x2.5 slower for `v1.5.1` compared to `v1.4.9`, not the > x100 reported in your experiment).

The x2.5  difference can be explained, and mitigated :
- The scenario recreates a new streaming state every time a small string is compressed. This is extremely wasteful, as a lot of resources are being reserved

[2021-12-30 23:49] eworm-de opened #2967 "broken output with `zstd --decompress --quiet`"
**Describe the bug**

Decompressing with `--quiet` breaks output:

[code]

Note this is missing a newline, the `%` is appended by `zsh`.

**To Reproduce**

Steps to reproduce the behavior:
1. `echo | zstd > test.zst`
2. `zstd --decompress --quiet test.zst`

**Expected behavior**

Giving `--quiet` should not give broken progress output.

**Additional context**

This broke with d2f31b662779f3c13871d

[2021-12-30 23:53] kareldonk commented on #2966
Ok I see, is the `ZSTD_compressStream()` function doing (more) (larger) memory allocations in 1.5.1 compared to version 1.4.9? This could explain why it is slower. Also my tests were on Windows 10, which might be slower with allocations compared to what you are using.
Where do I find the `ZSTD_pledgeSrcSize` function?

[2021-12-30 23:56] kareldonk commented on #2966
Ok found the function, it's `ZSTD_CCtx_setPledgedSrcSize()`.

Now I get the following output:

for zstd 1.4.9: duration: 512 ms, output size: 422 bytes
for zstd 1.5.1: duration: 71266 ms, output size: 422 bytes
for zstd 1.5.1 with pledged source size: duration: 769 ms, output size : 423 bytes

Which is not as bad but still a bit slower compared to 1.4.9.

[2021-12-30 23:56] Cyan4973 commented on #2966
`ZSTD_CCtx_setPledgedSrcSize()` can be found here :
https://github.com/facebook/zstd/blob/dev/lib/zstd.h#L473

It's been part of the stable API since `v1.4.0`.

[2021-12-31 00:00] Cyan4973 commented on #2966
Could you try to re-use the compression state across compression jobs ?
In my experiment, it considerably reduced speed differences between `v1.4.9` and `v1.5.1`.
This would help narrow down our options to explain the remaining differences.

_edit_ : ah, and another good data point would be : what's the status regarding `v1.5.0` ?
This would help determine when difference(s) are introduced.

[2021-12-31 00:13] stati64 commented on #2966
Are you using zstdlib.vcxproj or compiling another way?
The way we compiled slowed down 50% from 1.5.0 to 1.5.1,
with Visual Studio 2022, but not with linux clang or gcc.

the github zstdlib.vcxproj got back our lost performance and
improved on 1.5.0 in our use case of 10s of gigabytes compression.
We don't yet know why this was so.

[2021-12-31 00:13] kareldonk commented on #2966
This is the benchmark result compared with Zlib when using zstd 1.5.1 with the `ZSTD_CCtx_setPledgedSrcSize()` function added:

[code]

With large input sizes it starts to get slower than zlib when using compression level 10 for zstd.

I'm not sure if it's possible to reuse compression state. The program I'm working on sends messages over the network, and each message is compressed separately/inde

[2021-12-31 00:16] kareldonk commented on #2966
I'm using `libzstd-dll.vcxproj` and use zstd as a DLL. I compile using VS2022 with the MSVC compiler.

[2021-12-31 00:22] kareldonk commented on #2966
1.5.0 had the same issue as 1.5.1. The differences were introduced between 1.4.9 and 1.5.0.

[2021-12-31 00:27] Cyan4973 commented on #2966
I misinterpreted the example source code, provided in `Sources.zip`.
It already does properly re-use the compression state across compression jobs.

This makes the huge performance difference reported even more difficult to explain.

I wish I could reproduce it locally, in order to analyze it.

[2021-12-31 00:37] kareldonk commented on #2966
So, adding the `ZSTD_CCtx_setPledgedSrcSize()` function call does improve the performance considerably for 1.5.1 but still a little bit slower compared to 1.4.9.

Maybe the remaining difference is related to the rebalancing work done for compression levels? I'm going to experiment with it some more tomorrow with other compression levels.

[2021-12-31 02:33] ghost commented on #2966
Are you using 32-bit build?
Some Windows clients only provide 32-bit build for maximum compatibility.

[2021-12-31 02:39] ghost commented on #2966
In v1.5.1:
* for small data (<=16KB), level 10 uses `btlazy2`.
* for unknow size data, level 10 uses `lazy2`. (correct me if I'm wrong)

~~Don't know if it related to #2831, `ZSTD_VecMask_next()` doesn't have 32-bit MSVC code path currently, then it will fall to very slow software implementation. `ZSTD_VecMask_next()` happens to be in the `zstd_lazy.c` source file.~~

**edit:**
I tested, 64-bit MS

[2021-12-31 06:23] ghost commented on #2966
It seems `memset()` takes a lot of time.

For small input, this invoke sets 16 MiB RAM to 0.
https://github.com/facebook/zstd/blob/v1.5.1/lib/compress/zstd_cwksp.h#L488

This invoke sets 8 MiB RAM to 0.
https://github.com/facebook/zstd/blob/v1.5.1/lib/compress/zstd_compress.c#L1782

These two invokes are major spots.

[2021-12-31 09:54] kareldonk commented on #2966
Oops I should have been more specific. I'm using the 64bit release build in my tests above.

[2021-12-31 12:00] kareldonk commented on #2966
So I did some more tests today, and it appears I can get back to the 1.4.9 levels of performance (roughly) I was used to by using a compressionlevel of `8` for zstd 1.5.1. In that case I get the following output for the test benchmark:

**Using zstd 1.5.1 with `ZSTD_CCtx_setPledgedSrcSize()` function added and compressionlevel `8`:**

[code]

**Using zstd 1.4.9 with compressionlevel `10`:**

[code

[2021-12-31 20:31] #2952 closed, assigned to felixhandte

[2022-01-01 03:50] ghost commented on #2966
If add time-stamp to `DEBUGLOG()`, and add a few `DEBUGLOG()`, this kind of problem can be quickly locate.

[timestamp.zip](https://github.com/facebook/zstd/files/7797351/timestamp.zip)

Run 1000 times, and sort the time:
[code]

[2022-01-01 17:25] felixhandte commented on #2952
The only correction I would make to that plan is, instead of cutting by searching for the next appearance of the zstd magic number (which can show up inside frames), you can use the library function [`ZSTD_findFrameCompressedSize()`](https://github.com/facebook/zstd/blob/v1.5.1/lib/zstd.h#L170-L176) to find the size of each frame so you know where the next begins.

[2022-01-02 06:34] Piqlet opened #2968 "Minor -vv issue."
I use   `tar -I 'zstd -T0 --long -vv' -cf `   command and decompression only 2 MiB required, instead --long (default) 128 MiB.

[code]

[2022-01-02 16:42] Cyan4973 commented on #2948
I think this behavior is the intended one.
But what is unclear to me is what you mean by "it breaks things".
What exactly is broken ?
Reducing verbosity level will only send less messages to display to `stderr`, but the compression or decompression operations are supposed to still work as intended.
Do you have a more specific example which "breaks" ?

[2022-01-04 04:03] WindBrush commented on #2952
Thx for correction, for now, I use 1 skippable frame to store every frame size(calculate during compression). `ZSTD_findFrameCompressedSize()`  looks like a better way.
btw, Happy New Year.

[2022-01-05 01:03] #2966 closed, assigned to Cyan4973

[2022-01-05 14:45] aleksazr opened #2973 "Compression ratio better with level 1 than with any other level"
[code]
http://users.beotel.net/~gwh/zstd/zstd2.zip

One more thing: could you add the **actual time**, in mili seconds, like I added in the first line?

[2022-01-05 17:46] terrelln commented on #2967
The bug is that decompression should not output progress to stderr when `--quiet` is set. The lack of a newline is correct.

As a workaround you could use `zstd --decompress -qq`, which will suppress all the progress info, but will also suppress all error messages.

We are going to release zstd-1.5.2 relatively soon, and will fix this issue for it.

[2022-01-05 17:54] Cyan4973 commented on #2973
Well, this can indeed happen.
These levels represent different heuristics, which _generally_ fare better as we increase the compression levels,
but exceptions exist.

It's an interesting sample. Even imagining that level 1 ends up with a truly excellent selection of matches, just by pure luck, we would expect the higher compression levels to catch up with it, and eventually beat it. They don't.
We

[2022-01-05 17:57] terrelln commented on #2945
We'll fix this in our next release. `lib/decompress/huf_decompress_amd64.S` is intended to have exactly the same license header as our other files in `lib/`.

We have automation to check our licensing, but it doesn't cover `.S` extensions. So we'll have to fix that up.

[2022-01-05 17:59] terrelln commented on #2950
Thats super odd, and definitely unexpected. It sounds like the meson build may be missing an object file.

Are you still having this issue?

[2022-01-05 19:20] eli-schwartz commented on #2950
I am not at my computer right now so I can't test again, but 2 weeks ago when I reported this issue it was present in the 1.5.1 stable tag and I'm 99% sure I verified it also on what was at the time the latest commit on `dev`. I doubt anything would have changed since then.

I would be surprised if it was due to missing object files as surely the shared library would fail too.

It might have somet

[2022-01-05 20:30] terrelln commented on #2949
@heftig zstd offers `--rsyncable` which makes deltas on the compressed data possible, similar to gzip's `--rsyncable` mode. It does this by resetting the compression history every so often (chosen using a hash of the last 64-bytes of content).

You may find that deltaing the compressed blob, if both were compressed with `--rsyncable`, may provide small deltas. It won't be as small as deltaing the

[2022-01-05 20:34] terrelln commented on #2950
I've reproduced the issue in dev. I'm not sure what is going on yet, but we'll fix it by the next release.

[2022-01-05 20:40] terrelln commented on #2950
Ok, the reason it fails in debug mode but not opt mode is that the function that needs `ERR_getErrorName()` is unused. So in opt mode the function is removed from the executable.

The fix is simple, remove the unused `#include "../lib/common/error_private.h"` from `programs/dibio.c`.

The reason we didn't catch this is we don't really support linking the CLI against a shared library. Since it reli

[2022-01-05 21:13] eli-schwartz commented on #2950
I don't think this is a good reason. ;) They are both distributed in the same repository, built by the same build system, and in most distros contained in the same package -- and in all other distros, contained in shared subpackages of a single source package (and bound to the same rebuild number). Hence, the version will always match exactly *anyway*, unless something very strange happened.

Mean

[2022-01-05 21:21] terrelln commented on #2950
We can definitely remove the include that breaks this build, and fix it for 1.5.2.

But, for now, linking the CLI against the shared library isn't truly supported. It'd probably work, as you see now in opt builds, since I think all the symbols we use are `static`.

I'm open for discussion about supporting linking the CLI against a shared library that is built against the same commit of zstd. And e

[2022-01-05 22:55] eworm-de commented on #2967
I think `zstd --decompress --quiet --no-progress` is an even better workaround. 😉
Anyway, it's not critical, just annoying.

[2022-01-05 23:38] #2963 closed, assigned to felixhandte

[2022-01-05 23:46] eli-schwartz opened #2976 "RFC: consider linking the CLI tool against the shared library"
Split out from #2950

Currently, the official Makefiles statically link the CLI tool `zstd` against the library objects. This has an immediately crucial purpose: the tool links against some private symbols.

It would be interesting to consider optionally linking against the shared library instead. The private symbols can be refactored into an internal utility library called, for the sake of argume

[2022-01-05 23:47] eli-schwartz commented on #2950
I opened a new issue to discuss that topic, as it's out of scope for this ticket which talks about a build failure. :)

[2022-01-06 05:45] ghost opened #2978 "How to know the approximation of the output size depending on the input size?"
hi, **I would like to predict an approximation of how many bytes will be left after compression**, Sorry for my ignorance and open an issue for a somewhat weird question, Let's say I have `1024` bytes (1KB) so I need to know what size will be left after compression, and if it is exactly (depending on the level)

[2022-01-06 11:59] ghost commented on #2973
With or without a given level, can the training mode find the best combination of parameters, or alleviate "local minimal vs global minimal" problem?

[2022-01-06 16:54] sl1200mk2 opened #2979 "compiling on macOS12 targeting macOS10.15"
Hi,
not sure if it's really a bug though... but when I compile latest code on macOS12 targeting macOS10.15, the linker is not happy about huf_decompress_amd64.S.o

here's my cmake line:
cmake -G "Unix Makefiles" .. -DCMAKE_C_COMPILER=clang -DCMAKE_BUILD_TYPE=Release -DCMAKE_PREFIX_PATH=/opt/local -DCMAKE_INSTALL_PREFIX:PATH=/opt/local -DCMAKE_C_FLAGS="-O2" -DCMAKE_MACOSX_RPATH=On -DCMAKE_OSX_DEPLO

[2022-01-06 17:41] Cyan4973 commented on #2973
The problem of "local vs global minimal" goes beyond parameters.

But if you're looking for a tool that trains for optimal parameters given some speed constraint, `paramgrill` is designed to do that. It can also be used to look for "best compression ratio" no matter the speed. It might actually find that level 1 is best for this sample.

_edit_ : tested it, indeed, `paramgrill` found that level 1

[2022-01-07 17:10] #2950 closed, assigned to nobody

[2022-01-07 19:06] #2945 closed, assigned to nobody

[2022-01-10 17:40] felixhandte commented on #2978
Hi @yaskowiak,

There is no way to know what size we will compress an input to without performing the compression.

There are lower and upper bounds fixed by the zstd format, but those bounds are very wide. An input that is maximally compressible (a single byte repeated over and over again) will compress to 13 bytes plus 4 bytes for every 128KB of input. An incompressible input (totally random unc

[2022-01-10 17:40] #2978 closed, assigned to felixhandte

[2022-01-10 18:50] heeran-xilinx opened #2988 "Request to Add Xilinx Zstd Hardware solution reference in zstd docs"
**Describe the bug**
Can you please add Xilinx zstd solution under hardware section of zstd documentation page  here : http://facebook.github.io/zstd/

Xilinx has implemented ZSTD Compression and Decompression on Xilinx FPGA devices and targetted Xilinx Alveo Platform. It is part of Xilinx Vitis Data Compression Library.
Top page: https://github.com/Xilinx/Vitis_Libraries/blob/master/data_compress

[2022-01-10 19:55] Cyan4973 commented on #2988
Thanks for the notification @heeran-xilinx,

Xilinx FPGA reference has been added to the homepage.

[2022-01-11 16:09] hjl-tools opened #2990 "Internal assembly functions are exported"
On Linux/x86-64, Internal assembly functions are exported:
[code]
These are internal functions and shouldn't be exported.

[2022-01-11 16:31] heeran-xilinx commented on #2988
Thanks @Cyan4973

[2022-01-11 16:31] #2988 closed, assigned to Cyan4973

[2022-01-11 18:15] #2967 closed, assigned to nobody

[2022-01-11 18:16] #2955 closed, assigned to nobody

[2022-01-11 18:25] felixhandte commented on #2958
Hi @Adela0814,

I think #2957, which I've just merged into `dev`, probably fixes this issue. Can you confirm whether that's the case?

[2022-01-11 22:43] #2990 closed, assigned to nobody

[2022-01-12 01:34] Adela0814 commented on #2958
yes, I have verified that this issue have been fixed. thank you. so close the bug.

[2022-01-12 01:34] #2958 closed, assigned to felixhandte

[2022-01-12 02:08] JcJinChen opened #2996 "Explanation Ratio"
**Describe the bug**
I am confused about the ratio mentioned in the table, is it the ratio before and after compression?Can someone help with this?Thanks!

[2022-01-12 02:11] JcJinChen commented on #2996
what i learned, the compress ratio usually means the ratio of compressed to uncompressed.

[2022-01-12 10:05] ghost commented on #2996
It's `uncompressed_size / compressed_size`.

[2022-01-12 11:14] JcJinChen commented on #2996
Thank you so much

[2022-01-12 21:27] #2996 closed, assigned to nobody

[2022-01-13 21:29] vapier opened #2997 "decompressing files tries to modify a /*stdout*\ file"
**Describe the bug**
After upgrading to zstd-1.5.1, decompressing files with `zstd -dfc` shows it trying to modify a `/*stdout*\` file.  zstd-1.5.0 does not do this.

**To Reproduce**
Steps to reproduce the behavior:
1. git clone zstd repo
2. run `MOREFLAGS=-static make` to build it
3. run `strace -eutimensat ./programs/zstd -kdfc deutex-5.2.2.tar.zst >/dev/null`
[code]

Bisecting the v1.5.0 & v1.

[2022-01-13 21:30] vapier commented on #2997
@felixhandte as the author of said commit

[2022-01-15 12:45] cwoffenden commented on #2924
I also rewrote this in Python3 (original author of the script here) but due to the required platform support (at the time) this shell script was the option that worked everywhere. The original was version in Bash, and was much quicker, but the CI for older platforms meant plain ol' `sh` or nothing.

[2022-01-15 21:05] Cyan4973 commented on #2924
I believe we should keep the `sh` version around, precisely because it can be used in more systems with less dependencies.
But it doesn't prevent the existence of faster variants alongside the `sh` one, that could even become default if it feels reasonable in term of dependencies (and `python` is a reasonable dependency).

[2022-01-16 09:35] seladb opened #3001 "Windows release 1.5.1 doesn't contains pre-release files"
**Describe the bug**
In Windows release 1.5.1, both `zstd-v1.5.1-win32.zip` and `zstd-v1.5.1-win64.zip` contains only the `.exe` file and not the lib/dll and header files. How can I get the pre-release files for this release?
Previous releases did contain these files.

**To Reproduce**
Steps to reproduce the behavior:
1. Downloads  `zstd-v1.5.1-win32.zip` and `zstd-v1.5.1-win64.zip`
2. It contains

[2022-01-16 23:09] ole-tange opened #3002 "pzstd --long: Invalid argument: --long"
**Describe the bug**
pzstd does not support --long

**To Reproduce**
[code]

**Expected behavior**
Run pzstd with --long

**Screenshots and charts**
N/A

**Desktop (please complete the following information):**
 - OS: Ubuntu 20.04
 - Version: 1.5.2
 - Compiler: gcc
 - Flags: default
 - Other relevant hardware specs: 64 core
 - Build system: Makefile

**Additional context**
N/A

[2022-01-16 23:54] ole-tange opened #3003 "Recursive compression is better than --ultra -22"
**Describe the bug**
I had expected no options would beat `--ultra -22`, however, I have found a file where it is outperformed by `pzstd -1 | pzstd -19`.

**To Reproduce**
Download: https://cloud.prosa.dk/s/tBSZwHXJKCKs78n/download/100g-1-19.zst.zst

Decompress the file. Decompress the decompressed file. This should give you a 100 GB file.

(When decompressing I cannot make pzstd use all 64 cores.

[2022-01-17 02:00] Cyan4973 commented on #3002
This isn't planned.
We would rather prefer bringing `pzstd` capabilities within `zstd`,
Also, `--long` is in direct opposition with `pzstd` principles of cutting input into independent blocks.

[2022-01-17 02:01] #3002 closed, assigned to nobody

[2022-01-17 02:06] Cyan4973 commented on #3003
While this is not the expectation, it's indeed nonetheless possible.
When these rare cases happen, in many cases, it tends to come from "synthetic" data, aka built for testing purpose, not real data, and because of their construction, they tend to feature abnormal regularities.

In this example, it's not obvious that the data is synthetic, but one can note that the final compression multiplier is

[2022-01-17 17:31] fgenesis opened #3004 "ZSTD_error_dstSize_tooSmall when stream-decompressing with ZSTD_d_stableOutBuffer"
Related to #2094 and maybe #2723, regarding ZSTD_d_stableOutBuffer. Using zstd 1.5.1 on win10 64bit, MSVC 2019.

Context:
I'm trying to use streaming zstd in a use case very similar to https://fgiesen.wordpress.com/2011/11/21/buffer-centric-io/ (Ctrl+F **cool thing** for extra context). So my primary goal is to stream-decompress small-ish blocks of data to keep memory usage low.

The TL;DR of the

[2022-01-17 21:25] Cyan4973 commented on #3004
Taken from the [documentation](https://github.com/facebook/zstd/blob/v1.5.1/lib/zstd.h#L2095) :

Effectively, the way `ZSTD_d_stableOutBuffer` works
is that it requires the entire output to remain stable all the time.
It's not allowed to move the data around.
As a consequence, the caller must have enough room to contain the entire frame content, not just the window size.

It seems what you are exp

[2022-01-17 22:31] fgenesis commented on #3004
Yeah, i figured as much by now after reading into the decompressor a bit more. I think i've found a nice way to expose the LZ window to the caller:
In a nutshell, i've renamed `ZSTD_d_stableOutBuffer` to `ZSTD_d_outBufferMode`, made that take an enum `(buffered|stable|expose)`, and adjusted the inner decomp loop so that instead of calling memcpy when flushing it'll just set `output->{buf,size}` an

[2022-01-18 05:30] noloader opened #3006 "Making huf_decompress_amd64.S does not use ASFLAGS like it should"
**Describe the bug**
I'm testing Zstd v1.5.1. The tests use various combinations of `CPPFLAGS`, `CFLAGS`, `CXXFLAGS` and `LDFLAGS`. I also set `ASFLAGS` to `-Wa,--noexecstack` when ASM files are present.

It appears the recipe to build `huf_decompress_amd64.o` from `huf_decompress_amd64.S` does not use `ASFLAGS`. In the execution below `ASFLAGS=-Wa,--noexecstack`, but the option is never used in t

[2022-01-18 06:01] noloader opened #3007 "make check does not fail like it should"
**Describe the bug**
I'm testing Zstd under GCC's sanitizers. I noticed two of the tests fail due to division by 0. Under the sanitizer (and they way they are configured), the test program should abort. It looks like the abort occurs. However, an error is never returned to the caller. Instead the error is silently swallowed.

**To Reproduce**
Steps to reproduce the behavior:
1. Downloads Zstd v1.5

[2022-01-18 07:32] Cyan4973 commented on #3007
I believe the issue is this test :

[code]

The issue is, this test is designed to fail. And it does. Consequently, it's considered successful ....

In "normal" `make check` mode, it doesn't reach UB stage, because execution is stopped first with an `assert()` :
[code]

But of course, once `assert()` are removed, it then reaches UB territory.

So our issue here is that this test is designed to fai

[2022-01-18 13:20] noloader commented on #3007
Thanks @Cyan4973,

It sounds like this is a false alarm. Sorry about that.

Would you like it closed?

[2022-01-18 14:52] noloader commented on #3006
@Cyan4973,

I seem to be having good luck with this patch. Everywhere `huf_decompress_amd64.S` shows up, I also see `-Wa,--noexecstack` during a build.

However, I am not certain about changing `COMPILE.c` to `COMPILE.S`. I have never used that before. It may be a low-anxiety squawk since it appears to be used for a depends recipe.

One other change I thought about was this. I did not make the cha

[2022-01-18 16:38] Cyan4973 commented on #3007
We'll discuss it with the team.
Yes the test is designed to fail, and it does,
but it wasn't designed to fail with an `assert()`.
So maybe we need something a bit more subtle or accurate.

[2022-01-18 16:41] noloader opened #3008 "Use checksec for auditing artifacts"
**Is your feature request related to a problem? Please describe.**
I think Zstd might be able to benefit from Checksec. Checksec is a tool to examine output artifacts for hardening, like relro and nxstacks. Checksec was originally written by a fellow named Tobias Klein. Another fellow forked it and put it on GitHub after Klein ran out of spare cycles to maintain it. The one I use nowadays is at ht

[2022-01-18 18:55] julian-klode commented on #2933
Here I am wondering if it's possible for the non-memory case to do adaptive compression wherein we specify a target file size / compression ratio and a target time, and it then adjusts settings as it processes blocks to reach a (pareto?) optimum. But that might be too weird.

[2022-01-18 23:12] terrelln opened #3010 "Add test for PR #2998 / Issue #2997"
Add tests for PR #2998 / Issue #2997. Find a way to test the PR. Idea:

1. Run the `strace` command or something equivalent like a `bpftrace`.
2. Ensure that the stderr output doesn't contain unexpected `utimensat()` calls.

[2022-01-18 23:14] #2997 closed, assigned to nobody

[2022-01-18 23:48] #3006 closed, assigned to terrelln

[2022-01-19 00:11] embg opened #3011 "Migrate some Travis CI tests to Github Actions"
Many of our Travis CI tests run on special hardware (like power pc) and cannot be migrated to GitHub actions (except possibly via QEMU, which isn't exactly equivalent). However, we have some Travis CI tests which run on AMD64 architecture. It's likely that at least some can be migrated to GitHub Actions, which moves us closer to our goal of eliminating dependency on Travis CI.

Follow-up to this i

[2022-01-19 08:09] sl1200mk2 commented on #2979
Hi,
same message from the linker with the latest code.

++

[2022-01-19 16:46] JoeUX opened #3012 "Windows builds of 1.5.1 are missing lots of files and folders"
The Windows builds for 1.5.1 are mostly empty, missing all files and folders except for a single executable. There's no `Readme.md`, and the usual `dll`, `example`, `include`, and `static` folders are missing.

All prior Windows releases have those contents, and the non-Windows release of 1.5.1 has that and more (I think it's entire repo). The files I'm talking about are:

- https://github.com/fac

[2022-01-19 18:01] terrelln commented on #2979
Can you try removing the cmake build directory and rebuilding?

[2022-01-19 18:12] sl1200mk2 commented on #2979
Hi,
I'm starting each time from a fresh clone, and so recreate the build directory.

++

[2022-01-19 18:13] terrelln commented on #2979
To clarify, the build is still working, just emitting this warning message, correct?

We'll still want to fix it either way.

[2022-01-19 18:15] sl1200mk2 commented on #2979
yes, that's it

[2022-01-20 02:57] Cyan4973 commented on #3003
I've been testing this sample a bit.
No content analysis, just superficial measurements, and as the sample is large, measurements cost quite some time.

Anyway, first analysis is simply to compress the sample at different compression levels, and see where it goes wrong.

| level | compressed size |
| --- | ---:|
| uncompressed | 107,374,182,357 |
| `-1` | 8,616,453,859 |
| `-3` | 5,908,457,706 |
|

[2022-01-20 06:01] Cyan4973 commented on #3003
OK, so having a look at the actual content of the sample,
it seems that it's a list of increasing numbers in ascii format.

So definitely a synthetic sample.

As mentioned before, such generation mechanism will result in some unrealistic levels of regularity, given that the irregularities themselves are programmatically determined with simple rules.

Though the devil is in the details: there are n

[2022-01-20 15:15] ole-tange commented on #3003
I can confirm: This is synthetic test data (it is used when I need a good chunk of ASCII data that does not repeat). In other words: This is not a high priority bug. But I was just puzzled that the compressed output from -1 could be compressed *a lot* more. I cannot recall I saw that before.

From my superficial testing it seems the same issue can be seen with the first 10% of the file. So if you

[2022-01-20 16:25] RedBeard0531 opened #3014 "Poor compression of binary numeric data with surprising results"
**Describe the bug**

I wrote a simple test to produce a file with 1 million 4-byte incrementing ints, and tried to compress with various settings. I tried big and little endian, and I tried starting at both 0 and 0x1234567 to fill all bytes. I'm sure there are a lot more interesting cases, but this seemed like a good starting point and revealed a lot already. Zstd generally did fairly poorly, but

[2022-01-20 18:52] Cyan4973 commented on #3014
- Level 18 triggers the 3-bytes match finder, which is disabled before that point (on large data).
   - Since the data consists only of non-repeated 4-bytes fields, there are only 3-bytes matches.
   - This setting can be opted in using `--zstd=minMatch=3` command
      - _However_, 3-bytes match finder doesn't work at levels 15 and below, and is replaced there by the 4-bytes match finder, which w

[2022-01-20 20:08] cwoffenden commented on #2924
Fixed in #3005

[2022-01-20 22:22] felixhandte commented on #3012
@JoeUX, I have *just* released v1.5.2, which (among other things) should have the right windows artifacts attached.

Unfortunately, these artifacts are still manually tweaked and attached to the release, which introduces opportunities for error. This is something we want to improve in the future. Thanks for the report!

[2022-01-20 22:22] #3012 closed, assigned to nobody

[2022-01-21 02:16] niheaven commented on #3012
@felixhandte Will the package content of zstd windows release be changed in the future? As an end user, the single-exe package is more friendly, and it makes maintain package manager, e.g. Scoop, easier to track the update. Or would you release a single-exe package plus a dev package w/ DLLs and headers? Thanks!

[2022-01-21 10:39] RedBeard0531 commented on #3014
Thanks for explaining the 3-byte cutoff for ztd.  That led me to try expanding the data to 8 byte int64's (using `array('q)'` and `BASE=0x1234567890abcdef` in my script). I found that at the default level zstd makes the output significantly smaller than with int32's (1.00Mib vs 2.56Mib, with <1% difference based on base and endian) even though the input is twice as large. That seems to track with

[2022-01-22 03:06] Cyan4973 commented on #3014
[inc1M_6k.zst.gz](https://github.com/facebook/zstd/files/7918132/increasingInts.zst.gz)

This file contains the first 1,000,000 integers in 32-bit little endian format compressed into **6242 bytes** of `zstd` format (recompressed into `.gz` after that, due to github format limitation). This is a compression ratio of **0.15%**, or equivalently a compression multiplier of x640. There are a few trick

[2022-01-23 00:29] #2924 closed, assigned to nobody

[2022-01-23 20:04] jfikar commented on #3014
I've just tried the little endian with base 0 and bzip2 -9 is not bad (12%), but zpaq -m3 ... -m5 is excellent, going to 0.135%. I'm not sure about the speed though. Zpaq is usually very slow.

[2022-01-24 01:17] Sanmayce opened #3024 "FEEDBACK: 'Fulg' - Textual_[De]Compression_Showdown - REPRODUCIBLE Benchmark"
First, with the new year, salute everyone loving freezing with Delia Matache's "Fulg":
https://www.youtube.com/watch?v=jTvA7sGFqws

Speedwise, I hate not seeing the complete picture, my attempt to shed some light on the decompression craft follows:

Included compressors:

- **BWTSATAN** by Powturbo, worldwide;
- **BSC** v.3.2.3 by Ilya Grebnov aka Gribok, Russia;
- GZ, 7zip's **GZ** v.19.00 by Igo

[2022-01-24 18:22] felixhandte opened #3025 "Improve and Move Windows Artifact Generation to GitHub Actions"
It seems like every release we make some kind of little mistake with the naming or contents of the windows artifacts. See #3012 and #3001 recently.

We should improve our automation here. Moving this workflow to GitHub Actions would allow us to publish the artifacts to the release automatically, removing opportunities for error. This would also advance our broad goal of moving contbuild work off o

[2022-01-24 19:23] Sanmayce commented on #3024
![500000songs](https://user-images.githubusercontent.com/14062548/150849167-92f7e612-6256-4d52-a220-80fa863b3e2a.png)

Testdatafile #02, sorted by decompression time (4th column):
Size: 630,339,584 bytes
Name: **TERAPIG_Machine-Learning_www.kaggle.com_every-song-you-have-heard-almost_(over_500000_song_lyrics).tar**
sha1: b5e3ce3ec31d7088709fde1a6465088beeaf4c91
Testmachine: laptop 'Compressionette

[2022-01-25 00:03] Sanmayce commented on #3024
![128_](https://user-images.githubusercontent.com/14062548/150885512-54d8b0a9-b793-472a-9c50-92d82b6abd41.png)
The full wall of books' covers: http://www.sanmayce.com/Nakamichi/128t.png

Testdatafile #03, sorted by decompression time (4th column):
Size: 1,576,788,480 bytes
Name: **Delphi_Classics_Complete_Works_of_128_authors.tar**
sha1: 8326b48e3a315f4f656013629226c319fefd483e
Testmachine: laptop

[2022-01-25 08:43] hehechen opened #3028 "How to use --fast=1 with API ?"
https://github.com/facebook/zstd/blob/cc7d23bcec14525d7752f597d09c1377b982d050/programs/zstdcli.c#L1042
It seems that the compression level in `--fast=X` is `-X`? So if I want to compress some data in C program with `--fast=1`, I just use the `ZSTD_compress` simple API and set the last function parameter `compressionLevel` with `-1`?

[2022-01-25 08:45] Cyan4973 commented on #3028
Yes

[2022-01-27 13:53] hwogit opened #3032 "Negative compression levels"
What does it mean when ZSTD_minCLevel() returns -131072? I would expect there is a gapless range between the minimum and maximum compression levels. Currently, I support the range of 0 to 22 because I don't know how to interpret the negative levels. The user can select a number from a dropdown list. Could he (theoretically) also select any value between 0 and -131072?

[2022-01-27 14:01] Cyan4973 commented on #3032
Yes

[2022-01-27 14:08] #3032 closed, assigned to nobody

[2022-01-27 14:12] Cyan4973 commented on #3032
In practice, especially if you use a dropdown list,
one should not bother with largely negative values.
One could either completely ignore negative values,
or cap accessible values to >= -5.
This would be our recommendation, as the speed/compression trade-off worsens after this threshold.

[2022-01-27 14:43] hwogit commented on #3032
Thank you

[2022-01-27 20:46] Sanmayce commented on #3024
![spetsnaz2_](https://user-images.githubusercontent.com/14062548/151440922-2f64366e-a533-4dcb-b38a-f30d6a85ab6d.png)

Testdatafile #04, sorted by decompression time (4th column):
Size: 832,290,816 bytes
Name: **TERAPIG_book_serie_SPETSNAZ_(981_UTF-8_novels_Russian).tar**
sha1: b5a38bcc70ccc77daa2b9c459a9535b2e7660e5e
Testmachine: laptop 'Compressionette' Intel Kaby Lake i5-7200U 3100MHz max turbo

[2022-01-28 02:01] Sanmayce commented on #3024
![oxford](https://user-images.githubusercontent.com/14062548/151474084-083816fb-29e8-4754-9f3b-511203854e95.png)

Testdatafile #05, sorted by decompression time (4th column):
Size: 560,714,120 bytes
Name: **TERAPIG_(Dictionary_Specification_Language_(ABBYY_Software_House))_Oxford_English_Dictionary_2nd_Edition_Version_4_(En-En)_ANSI.dsl**
sha1: 31ae7c9ecdbfbf79221bab5db963268acec3f77a
Testmachine:

[2022-01-28 23:37] Sanmayce commented on #3024
![4french](https://user-images.githubusercontent.com/14062548/151635805-51b489d1-c04b-43d2-b31e-b7fc0d29d214.png)

Testdatafile #6, sorted by decompression time (4th column):
Size: 705,198,080 bytes
Name: **[French_-_French]_Emile-Littre_Le-Grand-Robert_Larousse_Le-Petit-Robert.tar**
sha1: 47fda985de446421ecdbee058e5b987ea7033b87
Testmachine: laptop 'Compressionette' Intel Kaby Lake i5-7200U 3100M

[2022-01-29 01:04] Sanmayce commented on #3024
![stalin_lenin_Marx](https://user-images.githubusercontent.com/14062548/151640665-50d69f76-28d4-47db-87af-89d489e2bf13.png)

Testdatafile #7, sorted by decompression time (4th column):
Size: 245,732,864 bytes
Name: **SUPRAPIG_Marx_Engels_Lenin_Stalin_Collected_Writings_(2052_HTMs_in_Russian).tar**
sha1: 2196779fe2cc03718b02876262254ee40780dab6
Testmachine: laptop 'Compressionette' Intel Kaby Lake

[2022-01-30 17:35] #3028 closed, assigned to nobody

[2022-01-30 23:17] dirkmueller opened #3037 "better gzip(1) command line option compatibility: Support -l for gzip files"
**Is your feature request related to a problem? Please describe.**
I'm experimenting with the "gzip" symlink on zstd binary and notice that there these compatibility options missing:

-n  --no-name When compressing, do not save the original file name and time stamp by default. (The original name is always saved if the name had to be truncated.)

-l --list For each compressed file, list the followi

[2022-01-31 18:02] #3007 closed, assigned to nobody

[2022-02-01 21:39] Sanmayce commented on #3024
Textwise, one of the most definitive testdatafiles is the Gutenberg DVD collection, by chance, BWTSATAN proves to be king of "Gutenberg":

![gutenberg_PDF](https://user-images.githubusercontent.com/14062548/152055117-5d2dea66-ed54-4e8b-b1aa-37986f58123c.png)

Testdatafile #8, sorted by compression size (2nd column):
Size: 11,110,769,152 bytes
Name: **Project_Gutenberg_DVD-2010_(29180_files).tar**

[2022-02-01 21:43] #3024 closed, assigned to nobody

[2022-02-02 08:37] emmenlau opened #3043 "Can not build with clang-cl from LLVM 13.0.0 and MSVC v16.11.9"
**Describe the bug**
This is a build issue that has come up after upgrading Visual Studio to v16.11.9. The build still worked with LLVM 13.0.0 and MSVC v16.11.7, but fails after the upgrade of MSVC.

Also the build seems to work when setting `-march=native` instead of `-march=skylake`.

We use the following settings:
[code]

Here is the error I get:
[code]

**To Reproduce**
Steps to reproduce the

[2022-02-02 10:07] emmenlau commented on #3043
The same error happens with LLVM 13.0.1-rc3.

[2022-02-02 11:13] emmenlau commented on #3043
I can confirm that the error goes away when the compiler flag `-march=skylake` is removed, or when it is replaced by `-march=native` or `-march=haswell`.

[2022-02-03 04:02] phord opened #3048 "clang build is broken by -Wdocumentation flag"
make clangbuild fails on clang-6 and clang-10 because the -Wdocumentation flag produces numerous warnings in several header files.

I bisected this to 9f8b180d5daebe54b33e0f6e02a5186dd578f838, but I'm not sure what is an appropriate fix for the current code.

[code]

[2022-02-03 04:11] phord commented on #3048
Some of the breakage comes from earlier commits than the one I bisected to.  I was bisection-testing only on zstd.h, but there are also warnings in dictBuilder/cover.h and other header files.

[2022-02-03 04:22] phord commented on #3048
`make clangbuild` works (clang-10) if I remove `-Wdocumentation` and add `-Wno-implicit-int-float-conversion`.

[2022-02-03 12:23] theloy84 opened #3049 "zstd-v1.5.2-win64.zip does not contains libzstd.lib"
zstd-v1.5.2-win64.zip does not contains libzstd.lib

[2022-02-04 00:34] Cyan4973 commented on #3043
The description of the issue seems to correspond to a Visual Studio issue,
hopefully a temporary one.
For some reasons, there are duplicated symbols in compiler-provided libraries when this new version of Visual  Studio is combined with `clang`.
They may have not detected this problem because it's outside of their test coverage.
It would be useful to report this issue to the Visual Studio support

[2022-02-04 09:31] sl1200mk2 commented on #2979
Hi,
same error with zstd 1.5.2

++

[2022-02-04 15:50] #2968 closed, assigned to nobody

[2022-02-06 14:28] luben opened #3051 "Windows: leaking thread handles"
On windows, when using workers for compression it looks it's leaking thread-handles (not threads). This issue got reported by user of `zstd-jni` but it looks that's issue with the underlying native code: https://github.com/luben/zstd-jni/issues/203 - he was able to reproduce by using only the `zstd` CLI.

I don't have Windows system to confirm or test a fix, but it looks we need to call https://do

[2022-02-07 18:08] felixhandte commented on #3049
I see `zstd-v1.5.2-win64/static/libzstd_static.lib`. Is that not what you're looking for?

[2022-02-07 18:36] Cyan4973 commented on #3051
Thanks for the report @luben !

The issue description and the proposed fix look both correct to me.

An indirectly related issue is : how could we detect such Window-specific leaks in CI ?
We already have leak-detection tests, but they only run on Linux,
hence this code, which is only enabled on Windows, isn't tested for leaks.

Since our experience of Windows is limited, we would gladly accept an

[2022-02-07 23:54] infogulch commented on #1641
I've heard this described as "array of structs" vs "struct of arrays", with the latter referring to a transposed form but at the *field* level as opposed to the byte or bit level. zstd doesn't know about the application's fields, so this would have to be done in the application of course, but that presents other application-specific opportunities to transform the data to be more compressible such

[2022-02-08 18:10] #3049 closed, assigned to felixhandte

[2022-02-08 18:14] felixhandte commented on #3001
Zstd 1.5.2 is out, with corrected artifacts.

[2022-02-08 18:14] #3001 closed, assigned to nobody

[2022-02-10 03:56] eli-schwartz commented on #3048
I previously noted this at https://github.com/facebook/zstd/blob/caf2fa170b42157860592c26747c7a1be5e1b045/build/meson/meson.build#L19-L21

Pretty sure no one really runs that target...

[2022-02-10 04:06] eli-schwartz commented on #3048
There are actually more warnings with clang than just that. Disabling Wdocumentation and Wimplicit-int-float-conversion, there are still these meson issues:

[code]

It is mostly contrib/, but there is one deprecated declaration used in a test binary.

[2022-02-10 11:58] giovariot opened #3062 "Long and very long range redundancy removal"
The problem is that these days, with huge hard disks being so cheap and so common is not unusual to forget about files you already saved and copy them again in another folder, or to try to reorganize one's lifetime files in different ways.

As an example I bring a 1TB SSD that I backed up from a friend of mine who inadvertently formatted it which had 2 partitions: one where they kept files well or

[2022-02-10 14:12] Cyan4973 commented on #3062
As a stopgap, you could start using `--long=31`. This will considerably increase the finder's range (and the memory requirement) and should narrow the distance with `lrzip`.

Beyond that, we know that the current implementation is limited (though not the format, it's purely an implementation issue). Going beyond that limitation is substantial work though.
In a world of infinite resources, this cou

[2022-02-11 18:02] embg opened #3064 "Visual Studio 2022 testing"
Recently `windows-latest` started resolving to `windows-2022` (rather than 2019) on Github Actions, breaking our CI. I changed all `windows-latest` tests to `windows-2019` in https://github.com/facebook/zstd/pull/3061.

It's not urgent, but sometime soon I will update our comprehensive Visual Studio tests to 2022 and add minimal compilation tests for all available versions from 2012-present. Creat

[2022-02-13 04:14] jogardi opened #3065 "ZSTD_compress returns it's input"
**Describe the bug**
The ZSTD_compress function just copies the src to the dst. This is an issue specific to my machine. I can't reproduce it on another mac laptop.

**To Reproduce**
Put this code in ex.cc:
[code]
Compile and run with
[code]
The output in out.zst should be compressed but it is just a copy of the input.

**Expected behavior**
The expected behavior is for out.zst to contain the comp

[2022-02-13 17:50] Cyan4973 commented on #3065
This is not supposed to be possible.

Even assuming that input is incompressible, `ZSTD_compress()`'s contract requires it to generate frames respecting the `zstandard` specification. Therefore, while content might be stored in uncompressed format, the frame will still feature `zstandard` headers and markers, and possibly checksum, so it's not an "exact copy" of original.

So this is weird, and co

[2022-02-13 20:11] jogardi commented on #3065
i deleted the zstd library i had installed. Then as expected recompiling gave me an error about missing the zstd library. Then I did brew reinstall zstd. Then I recompiled and still got the same issue. I also get the same issue with the streaming api and with g++ rather than clang. But it does work in a docker container on my machine.

Yes this is weird.

[2022-02-13 21:07] Cyan4973 commented on #3065
Could it be an issue with `brew` package ?
This is weird, I would expect such an issue to have large repercussions, given how popular this package manager is.

Another potential test could be
to uninstall the `brew` package of `zstd`,
and instead, `make install` directly from source.
Just to see if it makes a difference.

Another possibility could be an error in the script, which would write the i

[2022-02-14 12:24] hchunhui opened #3066 "Library bloat (with ZSTD_LIB_MINIFY=1) since v1.5.1"
**Describe the bug**
Build zstd with `ZSTD_LIB_MINIFY=1`, the size of `libzstd.a` is increased since v1.5.1.

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
The size of `libzstd.a` should be ~330K. The first bad commit is 8bf699aa59372d7c2bb4216bcf8037cab7dae51e.

**Desktop (please complete the following information):**
 - OS: Debian amd64
 - Version: 11.2
 - Compi

[2022-02-14 23:12] jogardi commented on #3065
i already tried that. If maximum compression was my concern I would have to use it in a docker container. But in this case I'm just using zlib and that works. So I am closing this issue.

[2022-02-14 23:12] #3065 closed, assigned to nobody

[2022-02-16 16:35] embg opened #3067 "ZSTD_NbCommonBytes implementation is incorrect for Big-Endian MSVC"
[These](https://github.com/facebook/zstd/blob/970460f67d8641f38d4954683e95887d97d3e388/lib/compress/zstd_compress_internal.h#L761) [lines](https://github.com/facebook/zstd/blob/970460f67d8641f38d4954683e95887d97d3e388/lib/compress/zstd_compress_internal.h#L782) should be changed to `(r ^ 63) >> 3` and  `(r ^ 31) >> 3`, respectively. I found the bug while adding tests for bitwise intrinsics in http

[2022-02-16 17:00] Cyan4973 commented on #3067
- `(r ^ 63)` or `(r & 63)` ?
- Is that even possible for `r` to return a larger value (than 63) ?
- If not, but we don't want to trust `_BitScanReverse ()` for some reason, could this condition be just `assert()` ?

[2022-02-16 17:39] embg commented on #3067
@Cyan4973  The XOR translates an index from LSB (which we get from `_BitScanReverse()`) into an index from MSB. See [here](https://github.com/facebook/zstd/blob/970460f67d8641f38d4954683e95887d97d3e388/lib/common/zstd_internal.h#L369-L373) for an example in `ZSTD_highbit32()` (which is where I learned this trick from).

[2022-02-16 17:59] Cyan4973 commented on #3067
Good point!
What about `(63 - r)` then ?

[2022-02-16 19:55] embg commented on #3067
@Cyan4973 I just favored `(r ^ 63)` to stay closer to the original code (the ZSTD_highbit32 implementation) and reduce the chance of introducing a performance regression in the refactor. If you think we can go to `(63 - r)` without hurting performance I'm happy to go that direction (this only affects Win32 so it's difficult for me to measure the performance impact directly).

[2022-02-16 20:20] Cyan4973 commented on #3067
It's probably equivalent.
I don't think it matters much to be that "close to the edge" for this code.
I'm rather advocating for code readability, so that less reviewer(s) wonder "what is this code doing ?".

[2022-02-16 21:24] embg commented on #3067
Sounds good, will update my PR.

[2022-02-16 21:37] embg commented on #3067
Correction: this actually affects performance across the board, not just Win32, because of ZSTD_hightbit32. I will benchmark on gcc to make sure switching away from XOR doesn't regress performance.

[2022-02-17 18:08] #3067 closed, assigned to nobody

[2022-02-18 22:57] ghost opened #3070 "`zstd` CLI accepts bogus values for numeric parameters"
**Describe the bug**

CLI parameters which are intended to accept numerical values (including those which take on optional suffix to denote the magnitude of the value) do not check that the values passed are well-formed.

**To reproduce**

For example, try running the lastest version of `zstd` as shown below:

[code]

**Expected behavior**

I expected for `zstd` to reject the value passed for `--m

[2022-02-21 12:35] klauspost opened #3072 "spec: Does Block_Maximum_Size apply for RAW/RLE blocks?"
**Describe the bug**

While fuzz testing my Go port, I came across this input that I can decompress, but cli cannot.

The input has an RLE block of 1572321 bytes. The cli fails with `Destination buffer is too small` and extended error is `check regenSize > dstCapacity failed, returning ERROR(dstSize_tooSmall)`.

Reading [spec](https://github.com/facebook/zstd/blob/dev/doc/zstd_compression_format.m

[2022-02-21 17:14] Cyan4973 commented on #3072
Indeed,
the `Block_Maximum_Size` is applicable to all block types, including RLE and RAW.

[2022-02-22 11:06] klauspost commented on #3072
Thanks. Just wanted to confirm before adding the restriction locally.

[2022-02-22 11:06] #3072 closed, assigned to nobody

[2022-02-23 11:18] klauspost opened #3074 "Q: Reason for "ERR_isError(hufSuccess) failed" in sample"
**Describe the bug**

I have a fuzz sample that decompresses in my collection, but fails with `zstd`.

Since it is a fuzz sample it is of course a bit obscure (and the CRC mismatches, but ignore that).

**To Reproduce**
Steps to reproduce the behavior:
1. Downloads+gzunzip data: [5a0147dd6c438a881dae9ab610aa778b55f4ae91.zst.gz](https://github.com/facebook/zstd/files/8123751/5a0147dd6c438a881dae9ab

[2022-02-23 11:53] klauspost commented on #3074
This may be down to individual 4X blocks running over their size, but the total adding up correctly. Closing while I confirm.

[2022-02-23 11:53] #3074 closed, assigned to nobody

[2022-02-23 12:03] klauspost commented on #3074
Confirmed, some 4X blocks decoded longer and some shorter than they should, but ended up giving the expected total.

Sorry for the noise.

[2022-02-27 22:08] DemiMarie commented on #2832
For applications in which compression speed is basically irrelevant, would it be possible to try expensive options, such as trying many different paths and picking the best one?  I would not at all be surprised if optimum compression is NP-hard or worse, but I imagine there are options if one has compute power to spare.

[2022-02-28 00:56] Cyan4973 commented on #2832
Yes.
But the computing requirement increases very steeply as nb of analyzed options increases too.

[2022-02-28 01:00] DemiMarie commented on #2832
Would using a dictionary help?  What about preprocessing?

[2022-02-28 01:12] Cyan4973 commented on #2832
All these options are possible.
They cost a lot of investigation time though.

[2022-02-28 10:34] 52541 commented on #3070
because no one believes me when I ask others to help. I also lose track of things like this. I apologize to everyone. Thank you very much for what you did from the beginning. I will try to study them. I'm really sorry.

[2022-02-28 16:56] ghost commented on #3051
CC @vnair81 , the author of #2263.

[2022-03-04 18:36] yfeldblum opened #3085 "Alternative way to include unstable declarations"
The current way of getting unstable declarations available only in statically-linked code is to set a macro and then include zstd. But this is clumsy for users in larger projects. For example, including one header that includes the zstd header, then including another header that includes the zstd header with unstable declarations, won't work. Effectively, including zstd unstable declarations from

[2022-03-04 18:45] Cyan4973 commented on #3085
Could you describe what is the issue in above scenario ?
The current design of `zstd.h` is supposed to allow such pattern.

[2022-03-07 02:40] YangYang129 opened #3087 "zstd failed to build with error MSB4126: The specified solution configuration "Release|arm64" is invalid"
zstd failed to build with error MSB4126: The specified solution configuration "Release|arm64" is invalid with MSVC on windows. It can reproduces on version https://github.com/facebook/zstd/commit/87406b5f3b2e6527e626831142a8f99514e7f53d. Could you please help look at this issue? Thank you very much

**Environment**
Compiler version: VS2019 (16.11.9)
Operating system: Windows server 2019

**Steps t

[2022-03-09 02:59] #3087 closed, assigned to nobody

[2022-03-09 11:24] klauspost opened #3089 "Extra bits on block are not reported as error."
**Describe the bug**

Extra bits on stream does not get reported, even after #1598

**To Reproduce**

Decompress: [fea5d210d01530bfeb0130452ef432734b23e744.zst.gz](https://github.com/facebook/zstd/files/8214152/fea5d210d01530bfeb0130452ef432734b23e744.zst.gz)
Execute `zstd -d fea5d210d01530bfeb0130452ef432734b23e744.zst`

**Expected behavior**

The sample contains 15 extra bits when the sequence h

[2022-03-09 13:52] klauspost opened #3090 "spec: 0-sized compressed blocks permitted by spec"
**Describe the bug**

The current [decompression code](https://github.com/facebook/zstd/blob/dev/lib/decompress/zstd_decompress_block.c#L125) fails if the remainder of a block is sent to the literal decoder with only 2 bytes.

With 0 literals and 0 sequences that condition can be met.

While it is easy to argue that a block with such encoding is pointless (it should just be a raw block), I don't s

[2022-03-09 15:59] Cyan4973 commented on #3090
Interesting, we have a `harness` test program which is supposed to generate all sorts of valid blocks, and is a good tool to validate compliance of decoders.
It should have been able to generate such empty block.
We probably need to update this test program if it doesn't.

[2022-03-09 19:27] terrelln commented on #3090
Thanks for the report!

We'll fix this bug in the next release.

We've had other bugs in the decoder that rejected valid frames. I will put up a PR shortly with a document that lists all the known cases where we've rejected a valid frame, an example frame, and the version we fixed the issue.

[2022-03-09 19:52] terrelln commented on #3090
Actually, this block used to be invalid. Older versions of the spec had this clause:

We removed that clause because the decoder didn't enforce it. And because it made certain topics (namely block splitting) a lot simpler. Since there are cases where you'd want to emit a small block that had large headers,  but you'd then re-use those headers in later blocks to amortize the cost.

However, it look

[2022-03-09 19:55] Cyan4973 commented on #3090
That explains why it wasn't part of `harness`.
Indeed, subtle consequence of a small change !

[2022-03-09 20:23] terrelln commented on #3090
This frame is the simplest test case. The only difference from the one you provided is that yours has the `Unused_Bit` of the frame header set to 1.

[code]

[2022-03-09 20:25] terrelln commented on #3090
The one liner fix is to change `MIN_CBLOCK_SIZE` from `3` to `2`.

However, that definitely breaks some bounds checks in `ZSTD_decodeLiteralsBlock()`, and maybe elsewhere. So more care is needed.

[2022-03-09 22:39] terrelln commented on #3090
See https://github.com/facebook/zstd/pull/3092 for the decompressor errata document.

[2022-03-10 10:22] klauspost commented on #3090
@terrelln `MIN_CBLOCK_SIZE = 3` is correct for *blocks*, but for a compressed literal section it isn't, since at least one byte has already been read from the block.

So I think `MIN_CBLOCK_SIZE` should be kept at 3, and either  `MIN_CBLOCK_SIZE - 1` or a new `MIN_LITSEC_SIZE = 2`  should be added.

@Cyan4973 Yeah, the input is from fuzz testing, so I am not surprised there are some wonky bits in

[2022-03-10 11:37] waveform80 commented on #2933
Some additional data: as a quick follow-up to your note on the ubuntu mailing list (and my apologies it's taken so long to post this!), I just thought I'd add a quick link here to the [analysis repo](https://github.com/waveform80/compression) we've thrown some data and results into. It includes the performance of various tools (including zstd) on a variety of architectures and memory sizes, but on

[2022-03-12 03:05] terrelln commented on #3090
@klauspost `MIN_CBLOCK_SIZE` isn't supposed to be including the block header (at least in the way it is used in the literals section decoding). In this case the block size is 2 bytes. 1 byte for the literals section, and 1 byte for the sequences section.

[2022-03-14 16:16] terrelln commented on #3089
Thanks for the bug report!

We'll aim to fix this one, but we're okay with not reporting all types of corruption. Our policy is that if you want error detection, enable checksumming. That said, we still like to report corruption whenever we can.

The differential fuzzing you're doing is super interesting! Glad to see that there is another robust enough implementation out there that differential fu

[2022-03-14 16:48] hansmid opened #3097 "--rsyncable make compression much slower"
[code]
Zstd with --rsyncable is approximately 40% slower than without, is that expected behaviour? I can't find any comments on this in changelog or man page.

[2022-03-14 19:36] Cyan4973 commented on #3097
`--rsyncable` adds a serial stage to the pipeline, so yes, it does add some processing requirement.

Moreover `-1 -T0` is a pretty fast baseline, so the relative importance of this stage is maximized under this setting.

For example, on my test system, the `--rsyncable` stage adds ~0.4sec / GB to total processing time.
This is relatively fast and almost negligible when using compression parameter

[2022-03-15 06:38] qingqingfeiwu opened #3098 "zstd vs lz4"
Hi, I tested ZSTD , LZ4 and LZO-RLE on our phone. When we use the default level(3) for comparison tests. The ZSTD decompressed speed much more slowly than LZ4and LZO-RLE.   Is there a level setting of ZSTD that has better compression ratio and decompression speed than LZ4?  Thank you!

[2022-03-15 12:23] klauspost commented on #3089
One thing I've learnt from the decoder is that it checks *everything* :)

This should be a good (but not reliable) corruption detection method. Of course not as reliable as CRC, but it can also be seen as a good supplement for the chance of the 32 bit CRC colliding, just like the other checks.

Yeah. It is not a clean-room implementation, but still based on the spec and with peeks at the code for

[2022-03-15 15:12] Cyan4973 commented on #3098
`LZ4` always decompresses faster. There's a lot less work to do for LZ4 decompression.

[2022-03-16 03:13] qingqingfeiwu commented on #3098
Thank you for your explanation!   Sorry , I have another question.  Is there a level setting of ZSTD that has better compression ratio and decompression speed than LZO-RLE ?  Thanks

[2022-03-16 03:47] Cyan4973 commented on #3098
I don't know much about `LZO-RLE`. Some sources describe it as a "faster `lzo` variant". Might be, but `lzo` was not particularly fast when it comes to decompression speed, so I would expect both `lz4` and `zstd` to remain (much) faster at decompression speed.

Therefore, my guess is that `zstd` level 1 is a good enough match for `lzo-rle`. It certainly compresses more, and likely decompresses fas

[2022-03-16 15:15] bouk opened #3099 "zstd -l should print out the dictionary ID"
[code]

Currently the output of zstd looks something like this:

[code]

It would be useful if the dictionary ID (if present) was also printed

[2022-03-16 16:57] Hello1024 commented on #1919
How hard would it be to allow ZSTD_copyCCtx to work when a frame is in progress? (but at the end of a block - ie. after a flush).    I think that would cover most usecases mentioned here.

[2022-03-18 02:55] qingqingfeiwu commented on #3098
Thank you very much!

[2022-03-18 02:55] #3098 closed, assigned to nobody

[2022-03-19 16:22] tuxayo opened #3100 "Feature request: Standard dictionary for web usage"
**Describe the solution you'd like**
End goal is to have web browsers and servers use zstd the same way they now use brotli and gzip. IIUC the first step would be to have a dictionary optimized for web usage. https://github.com/Fyrd/caniuse/issues/4065#issuecomment-674579092

There doesn't seem to be a similar ticket. Feel free to close as dup if it's the case.

[2022-03-21 16:31] felixhandte commented on #3100
Hi @tuxayo,

We've discussed this a bunch internally, and we've had related conversations on various issues (#1669, #315, #2853, mozilla/standards-positions#105). The summary is that this is something we would like to do. But it requires time that we have not yet been able to invest.

[2022-03-21 20:56] Cyan4973 commented on #2453
Closing, due to lack of activity.
Please re-open if it's still an issue.

[2022-03-21 20:56] #2453 closed, assigned to nobody

[2022-03-21 21:00] Cyan4973 commented on #2852
Closing, due to lack of activity

[2022-03-21 21:00] #2852 closed, assigned to nobody

[2022-03-21 21:07] Cyan4973 commented on #2932
Oh, btw,
`uncompressed` frame size is part of the format,
it's not the reason why `zstd --list` seeks into the file.

The issue is that a file _may_ consist of multiple concatenated frames.
In order to know that, the only way is to reach the end of the (compressed) frame, and see if there is more data.
If there is, start decoding again, and aggregate the results.
If there is not, stop there.

So,

[2022-03-21 23:24] Cyan4973 commented on #2833
Is this topic still active ?

[2022-03-22 00:49] #3097 closed, assigned to nobody

[2022-03-22 06:26] southwindcg opened #3101 "Possible typo in Operation modifiers section of man page of v1.5.2"
The --long[=#]: bullet point contains a phrase that I believe contains an error.

I believe this should read "if no # is present" or "if # is not present"...

[2022-03-22 06:34] Cyan4973 commented on #3101
Yes, indeed, good point, and good fix suggestion.

[2022-03-23 06:46] aleksazr commented on #2833
afaic, no. Its only 2k diff.

[2022-03-23 20:17] gdhuse-ocient opened #3102 "Assert in ZSTD_buildSeqStore when using ZSTD_compressContinue with a dictionary"
Hello, I'm hitting the assert on [zstd_compress.c:2837 (v1.5.2)](https://github.com/Cyan4973/zstd/blob/v1.5.2/lib/compress/zstd_compress.c#L2837) when calling `ZSTD_compressContinue` with a dictionary (attached using `ZSTD_compressBegin_usingCDict`).

This code uses a manually-allocated circular buffer of `1 << (windowLog+1)` (I've reproduced with multiple window sizes including `windowLog == 17`)

[2022-03-24 16:47] terrelln commented on #3102
An example of your usage of the compression API would be useful for debugging, though probably not 100% necessary.

What is your use-case for the buffer-less API? Could you use the streaming API `ZSTD_compressStream2()` instead? The buffer-less API is not super well supported, and I generally wouldn't recommend using it.

At some point in the future, I would like to deprecate the buffer-less API.