[2022-03-24 21:16] gdhuse-ocient commented on #3102
Hi, and thanks for the response.  My eventual goal is to avoid large internal allocations and use a collection of externally provided buffers where I don't control the size, so it wouldn't be possible to just configure a custom memory allocator with `ZSTD_compressStream2`.

[2022-03-25 19:11] #2833 closed, assigned to nobody

[2022-03-25 19:38] mraddatz commented on #3099
@bouk that is the output of exactly which command? With which flags? I have been compressing and decompressing without seeing this type of output.

[2022-03-25 20:20] bouk commented on #3099
`zstd -l <file>`

[2022-03-26 01:14] felixhandte commented on #2908
Duplicate of #2913.

[2022-03-26 01:14] #2908 closed, assigned to nobody

[2022-03-26 01:15] felixhandte commented on #2913
Please actually fill out the issue form. In the absence of any details, we can't help you.

Closing unless and until we get more information.

[2022-03-26 01:15] #2913 closed, assigned to nobody

[2022-03-26 01:16] #2903 closed, assigned to nobody

[2022-03-26 01:17] felixhandte commented on #2880
I think #2909 addressed this.

[2022-03-26 01:17] #2880 closed, assigned to binhdvo

[2022-03-26 01:22] #2575 closed, assigned to nobody

[2022-03-26 01:23] felixhandte commented on #2471
If we cared to, we could consider adding an `int _reserved` field to the struct definition and stabilizing with that.

[2022-03-26 01:25] felixhandte commented on #2392
Closing based on inactivity.

[2022-03-26 01:25] #2392 closed

[2022-03-26 01:34] #1638 closed

[2022-03-26 01:35] felixhandte commented on #1601
I believe this is complete. Re-open if there's remaining desired functionality not covered by #2482.

[2022-03-26 01:35] #1601 closed

[2022-03-26 05:03] ghost commented on #2471
Sounds good.
If the format will be changed greatly in the future, can add a `ZSTD_getFrameHeaderV2()` function.

`ZSTD_getFrameHeader()` function is convenient to get information from a frame header.
(I want to use it to detect skippable frame.)

[2022-03-29 11:43] marxin commented on #2944
Hello. Again, the same problem, please fix.

[2022-03-30 01:46] embg opened #3105 "Visual 2015 CI is broken"
Confirmed on two separate PRs: https://github.com/facebook/zstd/pull/3103 and https://github.com/embg/zstd/pull/15. Will take a look on Friday if the problem hasn't resolved itself by then.

[2022-03-31 16:26] #3105 closed, assigned to embg

[2022-04-03 05:20] paulmenzel opened #3107 "Missing change-log entry for 1.4.10 release"
Version 1.4.10 was tagged, but I am unable to find an entry in the file [`CHANGELOG`](https://github.com/facebook/zstd/blob/v1.4.10/CHANGELOG).

[2022-04-03 15:53] Cyan4973 commented on #3107
`v1.4.10` is a special tag, created for synchronization with the Linux Kernel community, and corresponds to the state of the software at latest Linux Kernel update.

But it's not a "release". `zstd` `v1.4.10` was never released. Hence no trace in the `CHANGELOG`.

[2022-04-03 23:39] paulmenzel commented on #3107
Thanks, maybe that could be added to `CHANGELOG`? Anyway, thanks for clearing this up. (Debian [packaged that version now][1].)

[1]: https://metadata.ftp-master.debian.org/changelogs//main/libz/libzstd/libzstd_1.4.10+dfsg-1_changelog

[2022-04-03 23:46] #3107 closed, assigned to nobody

[2022-04-04 06:12] #3101 closed, assigned to nobody

[2022-04-07 09:13] Beiri22 commented on #3062
@giovariot  Have you tried the --long=31 option? What are the results compared to default --long and lrzip?

[2022-04-07 09:15] giovariot commented on #3062
The compression is a bit better than simply using --long, but not really as good as lrzip's one.

I can try again timing the whole thing, but I don't have much free time lately so I'm not sure how long it's gonna be until I'll have some news.

[2022-04-08 06:03] chiragpat1 opened #3110 "ZSTD compatibility"
Hi,

We want to upgrade ZSTD from v1.4.5 to v1.5.2 after seeing some significant performance improvement in decompression during POC.
Can you please clerify on compatibility?

1. Any compressed data produced by v1.4.5 can be decompressed correctly by decoder v1.5.2.
2. Any compressed data produced by v1.5.2 can be decompressed correctly by decoder v.1.4.5.

[2022-04-08 14:34] Cyan4973 commented on #3110
Yes.

[2022-04-11 04:39] chiragpat1 commented on #3110
Thanks!

[2022-04-13 14:49] rtviii opened #3111 "Keep hitting memory limits on large training set with samples > 1MB. What's the strategy?"
Opening an issue because I have exhausted the docs and am still not sure how to go about this.

## Context

I'm trying to train a dictionary on a relatively large data-set and I keep bumping into the memory limit. The training set consists of ~100000 .json files, each with a similar schema and between 2 and 8 MB in size amounting to ~300GB of training data total. I have successfully trained a ~10M

[2022-04-13 17:41] Cyan4973 commented on #3111
There are several points in this post, some are misunderstanding, and some are surprising behaviors that should probably be fixed or improved on our side.

1. Dictionary training size is limited to 2 GB

This is a hard limit, unfortunately.
This is implementation related.
Going past this limit would require rewriting some portions of the training algorithms, so that's a large effort.

Moreover, it

[2022-04-13 17:52] Cyan4973 commented on #3111
Follow up :
in the command :
[code]

I notice the `-M5000000`,
which I read as "memory usage limited to ~500 KB".

This would match with the following error message :
[code]

so I think the issue in this case is the `-M500000`.
Remove it.
I don't think that's what you want, since it decreases the amount of selected samples, and it seems you would prefer to maximize that amount instead.

[2022-04-13 18:00] rtviii commented on #3111
Thanks a ton, Ian. I'm reading and seeing certain things that you have definitely mentioned elsewhere -- sorry for getting you to write those again.

I think certain things just don't click with me  like ex. "_dictionary is only effective at the beginning of a file_" because i don't have the intuition for how this works mechanically. To this end i actually tried to find any sort of publication for

[2022-04-14 01:15] Cyan4973 commented on #3111
In most (if not all?) cases, values are expressed in bytes by default.
But, it's possible to use suffixes to indicate KB or MB instead.

https://www.mankier.com/1/zstd#Options-Integer_suffixes_and_special_values

[2022-04-14 06:07] chiragpat1 commented on #3110
Opening an issue to know more about it.
which conditions would break the compatibility of above cases?

[2022-04-14 12:58] Cyan4973 commented on #3110
none ?

do you have any specific example in mind ?

[2022-04-17 10:16] dentiny commented on #2688
Hi @Cyan4973 can I ask a question on stream-based decompression?

For my case, on compression side, I use zstd `ZSTD_compressCCtx`.
On decompression side, I read content from cloud in chunks with zero-copy (we could get the pointer for content). We allocate memory in several chunks instead of a large piece of memory.

I want to know if zstd currently supports stream-based decompression, which coul

[2022-04-18 00:33] dentiny opened #3113 "Question on best practice for stream-based decompression"
This issue is to ask question about the best practice for stream-based decompression.

Context:
On compression side, I use zstd `ZSTD_compressCCtx` block-based compression.
On decompression side, I read content from cloud in chunks with zero-copy file handle: we could get the pointer for content in each chunk, rather than memcopy them into a large chunk then decompress.

I want to know if zstd cur

[2022-04-18 05:47] chiragpat1 commented on #3110
1. Any compressed data produced by v1.4.5 can be decompressed correctly by decoder v1.5.2.
2. Any compressed data produced by v1.5.2 can be decompressed correctly by decoder v.1.4.5.

As you confirmed the compatibility across different version.
Does different version generate the same compressed data?  if not, which things can keep it compatible?

[2022-04-18 05:52] Cyan4973 commented on #3110
It can happen. But that's not an objective. Don't expect it.

The [IETF-registered Zstandard Format](https://www.rfc-editor.org/rfc/rfc8878.pdf) .

[2022-04-18 17:50] terrelln commented on #3110
Yes.

Zstd will always be compatible with older versions.

[2022-04-18 17:59] Cyan4973 commented on #2688
This sounds like a very complex topic, that I would rather recommend to stay clear of.

It's correct that the buffer-less decompression API seems to offer capabilities in the direction you are looking for,
but it comes with many strings attached, so I would rather not invite you to try this direction.

The "regular" streaming API will collect data from these chunks, and whenever necessary, copy th

[2022-04-19 17:55] Cyan4973 commented on #3113
I think this question was already asked in another place,
but for improved visibility let's provide an equivalent answer here.

In short : I recommend to not try decompression "in-place", and just rely on the generic (and safer) `ZSTD_decompressStream()`.

`ZSTD_decompressStream` will proceed with copying and combining block parts whenever necessary, and will be able to read compressed blocks in-p

[2022-04-21 14:56] greensea opened #3115 "Train large number of files for dictionary"
**Is your feature request related to a problem? Please describe.**
I am traning dictionary from large number of files ( ~2M files), using the command:
`zstd --train train_dataset/*`
And got an error:
[code]

**Describe the solution you'd like**
If I can specify the train dataset with a directory like this
`zstd --train train_dataset/`
Then the argument list limit is not a problem anymore.

[2022-04-21 15:32] felixhandte commented on #3115
You can use `-r` to find files recursively. So `zstd --train -r train_dataset/` should work.

You also shouldn't need that many samples for training. It's going to be very slow.

[2022-04-21 15:32] #3115 closed, assigned to nobody

[2022-04-22 15:40] yoniko commented on #3113
@dentiny - I hope the answer helps you. Closing for now, please reopen if something's not clear.

[2022-04-22 15:40] #3113 closed, assigned to Cyan4973

[2022-04-26 03:36] andrewathalye opened #3116 "Unclean termination with assertion 'nbFiles >= 1' failed at dibio.c:196"
**Describe the bug**
Zstandard crashes with SIGABRT if called with --train but without any files specified.

**To Reproduce**
Steps to reproduce the behavior:
tar c * |  zstdmt --train -o test.tar.zstd

**Expected behavior**
Given that no files have been provided, ZSTD should cleanly terminate, probably with an error message stating that files are required for training.

**Desktop (please complete

[2022-04-26 15:49] Cyan4973 commented on #3116
I believe this issue has been fixed within `dev` branch:

[code]

[code]

[2022-04-26 15:53] andrewathalye commented on #3116
Once again I forget to check the dev repo before filing an issue lol, sorry about that. You can definitely close the issue, or keep it open until a release comes out with the new behaviour if that works better.

[2022-04-27 00:59] eli-schwartz opened #3119 ""./zstreamtest --newapi" test case fails on Windows"
In the Meson WrapDB integration CI, we try to run the build && test on all 3 major OSes. On Windows, one of the tests fails. Logs: https://github.com/mesonbuild/wrapdb/runs/6086663524?check_suite_focus=true

Relevant bits:

[code]

It is dying of a strange signal apparently. I've grepped around the source tree, and --newapi is only exercised by the Makefile and by the meson.build, and neither one

[2022-04-27 17:10] terrelln commented on #3119
@eli-schwartz are you able to reproduce the error consistently?

[2022-04-27 18:16] eli-schwartz commented on #3119
My only windows test environment is GitHub actions. In that environment I could consistently produce these results while doing debug iteration. (This is the same debug iteration in which I discovered the valgrind issue I was facing etc. in my other PR.)

[2022-04-27 18:35] eli-schwartz commented on #3119
It was also reproducible at the end of January (again in the WrapDB github actions CI), as I mentioned this exact problem here: https://github.com/facebook/zstd/pull/3039#issuecomment-1025331166

[2022-04-28 03:07] LukeShortCloud commented on #1811
Exactly related to the original issue, when I use PeaZip 8.6.0 (32-bit) on Windows XP (which they support that as well as ReactOS), I get this error message pop-up:

[code]

Despite the error, it continues to extract. I am actually able to extract 95% of a zstd compressed file before it hangs.

[2022-04-28 03:32] Cyan4973 commented on #3119
I've tried to reproduce it.
On `macos` or Linux, I was unable to reproduce the same issue.

On Windows + Mingw64, I could finally reproduce it.
Problem is, it's not reproducible : a problem will happen, at some point, but it's never the same place. Traces are not helpful to debug the issue. There is no way to use something like a sanitizer in this environment.

Suspecting an issue with the multi-t

[2022-04-28 03:57] eli-schwartz commented on #3119
Note that in the preamble to my CI logs I linked above, it prints messages pointing out that the detected / used compiler is cl.exe (msvc 19.31.31105) and the linker is link.exe -- and of course there too it is not using the msys2 posix compatibility layer.

Thanks for confirming the issue. :) The fact that it happens due to MALLOC_PERTURB_ is interesting... Meson sets this as described at [https:

[2022-04-28 04:00] Cyan4973 commented on #3119
Yes, I think `MALLOC_PERTURB_` is useful for tests, and it's worthwhile fixing the issues it finds: #3121.

[2022-04-28 16:30] Cyan4973 commented on #3119
I retract that statement.
Even without `MALLOC_PERTURB_`, there are still failures. They just _seem_ to take longer to generate, but they still happen.
This seems to point at a more subtle issue in the Windows pthread translation layer.

[2022-04-28 23:36] eli-schwartz commented on #2976
Seems like in git `dev` building on MSVC is broken due to
[code]

This happens, apparently, because these executables need `lib/common/threading.c` symbols but they aren't globally available. Interesting to note, this happened in dev after the 1.5.2 release?

I have an experimental fix that applies the private symbols more reliably after the shared library symbols get resolved: 1aaa10ce612b55a475d

[2022-04-28 23:50] Cyan4973 commented on #2976
I believe this dependency was added by @yoniko , to implement asynchronous decompression feature in the CLI.
Indeed, this feature is not part of any release, hence not part of `v1.5.2`.

I also think we already stated that we don't support linking the CLI to the dynamic library, due to usage of non-stable (experimental) symbols. We don't foresee a situation where we would limit the CLI to stable l

[2022-04-29 01:53] eli-schwartz commented on #2976
Maybe it would help if I rephrased the problem a bit.

Linking the CLI to the dynamic library (in a build configuration where the library is dynamic, not static) is useful because it reduces code duplication in the installed product. It doesn't imply that only public symbols may be used, but it does mean that symbols which are public will be gotten from the dynamic library instead of included from

[2022-04-29 02:00] eli-schwartz commented on #2976
The PR I just linked above, [fixes building on MSVC](https://github.com/mesonbuild/wrapdb/runs/6221411471?check_suite_focus=true) (tests still fail, cf. my other PR) by completely disabling the "linking the CLI tool against the shared library" trick that Meson historically did, but only for MSVC.

I also anticipate it should entirely prevent future occurrences of "private symbols moved around and

[2022-04-29 08:25] dentiny commented on #3113
@yoniko yeah it's helpful, thanks for the answer!

[2022-05-02 01:12] gonzojive opened #3123 "Inclusion of Bazel build files in official zstd library"
**Is your feature request related to a problem? Please describe.**
I need to use this library to build RocksDB. We use bazel to build everything, which means zstd must build with bazel.

Currently we are achieving bazel builds by pulling in https://github.com/cschuet/zstd/pull/2, which tends to go stale.

**Describe the solution you'd like**
Add a BUILD.bazel and WORKSPACE file to the zstd repo. B

[2022-05-02 04:38] Cyan4973 commented on #3123
Yes, a bazel build script in `zstd/build/bazel` would be a welcomed patch.

[2022-05-02 21:08] eli-schwartz commented on #3123
This logic is similar to the logic by which the zstd developers accept community-maintained cmake and meson build descriptions, so thematically it makes a lot of sense for them to accept bazel as well.

There is a caveat that they don't want any of this in the root of the repository, so it has to live in the build/ directory as mentioned above. This may or may not be an issue for bazel! I have no

[2022-05-03 04:14] gonzojive commented on #3123
When something goes wrong with something that builds with `make` or `cmake` or `./configure`, I often find myself googling for error strings. Sometimes they are errors from make, sometimes from gcc, sometimes from clang?. Since bazel tries to produce reproducible builds, builds tend not to fail as much, so I end up googling for fewer strings. In theory. end smack talk

https://github.com/gonzojive

[2022-05-05 19:28] embg opened #3124 "Cirrus CI infra failure (FreeBSD test)"
There seems to be an infra failure with one of the Cirrus CI tests. [Example job](https://cirrus-ci.com/task/5680139374690304). I will take a look next week.

[code]

[2022-05-06 05:25] koobs commented on #3124
@embg FreeBSD 11.x is now EoL (and has been a while) [1], it wouldn't surprise me if the packages have been taken down.

You'll want to update cirrus to use 13.x releases and packages.

[code]

Note: 13.1-RELEASE is imminent, so you'll want to update to `freebsd-13-1` when its out

[1] https://www.freebsd.org/security/unsupported/

[2022-05-07 19:18] jaimeMF opened #3125 "Test playTests fails on ppc64 (openSUSE Tumbleweed)"
I was trying to use cmake for building the RPM for openSUSE and the test `playTests` fails on ppc64. Here is the [log of the test](https://github.com/facebook/zstd/files/8645346/test_ppc64.log) and here is the [full build log](https://github.com/facebook/zstd/files/8645339/build_ppc64.log.txt), from https://build.opensuse.org/package/live_build_log/home:jaimeMF:branches:Archiving/zstd/openSUSE_Fac

[2022-05-09 23:48] #3124 closed, assigned to embg

[2022-05-10 05:14] Cyan4973 commented on #3125
The following log lines are suspicious :
[code]

though why would this test fail on `ppc64` only, and not `ppc64le`, is a mystery ...
_edit_ : maybe the `ppc64le` version does not employ `cmake` ?

[2022-05-10 06:03] jaimeMF commented on #3125
In the modified RPM all are built with cmake and they all seem to run the same tests.

[2022-05-10 15:18] felixhandte opened #3128 "Consider Removing `ZSTD_copy*Ctx()` Functions"
They are effectively useless and their presence is misleading.

At the minimum we should mark them deprecated with an explanation of why they don't do what you might expect.

[2022-05-11 08:49] PMunch opened #3130 "Generating dictionary hangs on loading files"
**Describe the bug**
When trying to train a dictionary with the CLI tool it simply hangs forever

**To Reproduce**
Steps to reproduce the behavior:
1. Split normal dmesg log into one line per file
2. Run `zstd` with flags `--train  -r data/ -o zstddict`
3. See "Loading data/<semi-random file>" which never goes away

**Expected behavior**
Expected `zstd` command to complete after having read all th

[2022-05-11 09:25] PMunch commented on #3130
It appears that the issue is caused by having a completely empty file in the set of files (as generated by e.g. `touch`) the file it hangs on loading isn't the empty file, but possibly the last file it managed to load or the file it tries to open after the empty one.

[2022-05-12 15:00] egrochow commented on #3049
libzstd_static.lib is for static linking not dynamic linking AFAIK.|

However, there is a libzstd.dll.a
This is in effect libzstd.lib.  I renamed the .a to .lib and it worked.
You can verify this using dumpbin too.

[2022-05-13 06:23] bhzhu203 opened #3131 "How to build zstd pure single binary staic ?"
How to build zstd pure single binary staic ?

I can not find the way to build zstd staic .

The meson build either not working :
meson setup -Dbin_programs=true -Dbin_contrib=true -Dstatic_runtime=true builddir
DESTDIR=./staging ninja install   ,but showing this:

'''
❰bhzhu❙~/source/zstd/build/meson/builddir/staging/usr/local/bin(git≠dev)❱✔≻
ldd zstd
	linux-vdso.so.1 (0x00007ffff7ffd000)
	/libjem

[2022-05-13 06:38] eli-schwartz commented on #3131
The static_runtime option specifies in the help description:

[code]

Note it's specifically calling out MSVC. The only thing this option does is set `/MT` as a compile option. Really, it's a duplicate of Meson's builtin `-Db_vscrt=mt` option.

They do that by privately building a copy of all those dependencies.

Do you have static versions of a system libz, liblz4, liblzma etc. installed?

As wit

[2022-05-15 23:12] rthamrin commented on #409
I tried this but confuse to implement it inside of my nginx.conf kubernetes. no so much information

[2022-05-16 02:39] bhzhu203 commented on #3131
Thank you for your response. @eli-schwartz

1. I have tried the build option in the root directory (LDFLAGS='-static' make) :
Single thread make
[code]
Multi thread make to have a chance to build the static binary zstd sucessfully ,but seems not completely(LDFLAGS=-static make -j10)
[code]

2. meson build is also failed
LDFLAGS='-static' meson  build ; cd  build ;  ninja

[code]

Seems that the bu

[2022-05-16 04:01] eli-schwartz commented on #3131
You will also need to configure meson to build the library as a static library using `-Ddefault_library=static`. For example I configured zstd like this:

[code]

(I don't have static versions of zlib/lzma/lz4 so I simply skipped those features.)

[2022-05-17 07:54] kappapiana commented on #2663
I agree, this should be clarified and it should be OR. Even without reading the README section, it appears a dual licensing, and in the trade dual means "you can choose". In this case, if you don't create derivatives, or the derivatives are inbound/outbound compatible with both licenses, you can apply the same licensing scheme, methinks.

[2022-05-17 09:08] bertox94 opened #3132 "Streaming decompression of data in a vector"
I need to do the following procedure.
1. Compress an input text into an array.
2. Split the compressed output into multiple pieces with approx. the same length and store them in a vector.
3. Decompress using streaming decompression.

Is it possible to do that?
Consider that in my case, the size of each block is fixed and independent of the compression scheme.

Thanks,
Alberto

[2022-05-19 01:05] terrelln opened #3133 "Improve documentation for supported compression levels"
Users find it difficult to understand the supported compression levels, especially around negative levels.

See https://news.ycombinator.com/item?id=31429308

[2022-05-19 09:47] Madouura opened #3134 "Contrib build fails on riscv64 hardware"
**Describe the bug**
We get a linker error in pzstd specifically, when building on riscv64 hardware. (StarFive VisionFive)

**To Reproduce**
See https://github.com/NixOS/nixpkgs/blob/634141959076a8ab69ca2cca0f266852256d79ee/pkgs/tools/compression/zstd/default.nix for specific build information.

**Expected behavior**
pzstd should correctly link.

**Desktop (please complete the following informatio

[2022-05-19 21:07] embg commented on #3134
Could you modify [this logic](https://github.com/NixOS/nixpkgs/blob/634141959076a8ab69ca2cca0f266852256d79ee/pkgs/tools/compression/zstd/default.nix#L45) to add `-DCMAKE_BUILD_TYPE=Debug` and share that build output?

[2022-05-20 08:37] Madouura commented on #3134
https://gist.github.com/Madouura/01bac15373b6569af269176095ffb120

[2022-05-21 13:16] suiguoxin opened #3137 "[Doc] what is the API to train a dictionary & how to dump the dictionary into a file?"
It's not mentioned here: https://github.com/facebook/zstd/blob/dev/examples/dictionary_compression.c#L17

[2022-05-22 06:33] Cyan4973 commented on #3137
[zdict.h](https://github.com/facebook/zstd/blob/v1.5.2/lib/zdict.h)

[2022-05-22 19:43] scherepanov opened #3140 "How to achieve better compression on 1MB block by re-using compression context"
I am compressing 1G JSON file, with zstd command, and getting 27.55 MB file (2.75% compression ratio - very impressive!!!!).

When I am compressing same file, breaking input into 1MB blocks, and compressing each block individually into frame, I am getting 41.7MB file, around 50% worse compression ratio than zstd command line tool.

Increasing block size to 10MB make compression ratio go closer to

[2022-05-23 04:14] Cyan4973 commented on #3140
Generally speaking, it's not possible.
The problem is that, when starting a new frame, the history restart from zero, so it takes time to build up efficiency.

I personally believe that a 4.17% ratio at 1 MB blocks is pretty good, and would call it a day.

Now if you want a compression ratio a bit closer to single-frame, you might be tempted by dictionaries. This is a way to start a frame from a "

[2022-05-23 12:25] scherepanov commented on #3140
Thanks you very much for explanation!

It is not clear from your explanation - what does it mean "it takes time to build up efficiency" - is it a bigger size of dictionary (dictionary has to be stored in each frame and take space), or that dictionary is not optimal when build on 1MB block?

If dictionary size is the reason for less compression, you really cannot do anything. Dictionary has to be s

[2022-05-23 15:41] jimis commented on #2834
There might be a bug. Here is me trying to compress the same pipeline. first with `-19`:
[code]
Note that the verbose output reports `wlog=23` but afterwards it appears to be only `13` (8MB).

If I run the compression command with `-19 --long` I get the exact same verbose output (`wlog=23`) but the compression result is different.
[code]

[2022-05-23 19:58] embg commented on #3134
I did some research and it seems like lots of people are having link errors with C++11 atomics on RISC-V. Adding `--as-needed -latomic` to CFLAGS and CXXFLAGS should solve the problem. Can you try this and let me know if it works?

Sources:
https://github.com/riscv-collab/riscv-gcc/issues/12 and linked PRs
https://gitlab.kitware.com/cmake/cmake/-/issues/20895
https://gcc.gnu.org/bugzilla/show_bug.

[2022-05-23 21:47] Madouura commented on #3134
Unfortunately, it did not work. https://github.com/Madouura/nixpkgs/commit/01699f4cfe6bb74c8bbb2201ed9f540dd1c78798
Same error as before.

[2022-05-24 01:18] dkcasset opened #3142 "Documentation issue in repeat offset table"
**Describe the bug**
(Documentation). In doc/zstd_compression_format.md, the table that shows the values of the Repeated_Offsets:
- The last row shows Repeated_Offset3 having a value of 3333 (changed from previous row value of 1111)
- It seems the correct value would be 1111

**To Reproduce**
Steps to reproduce the behavior:
1. NA

**Expected behavior**
NA

**Screenshots and charts**
If applicable

[2022-05-24 11:42] Cyan4973 commented on #3142
You are right @dkcasset, the example contains a mistake. To be fixed.

[2022-05-24 13:34] Cyan4973 commented on #2834
`23` is a correct value, it indeed means `8 MB`.

So the issue is on the other side: when using `-19 --long`, the window size is automatically enlarged to `128 MB` (by default), but this is not reflected in the verbose output report.

[2022-05-24 13:49] jimis commented on #2834
Sorry I mixed it up in the report, 13 is 8KB. :-) As you said it seems the verbose output for `-19 --long` is wrong and should report 27 (128MB) instead of 23.

If you want to track the issue I can submit a new ticket, just let me know.

[2022-05-24 13:50] Cyan4973 commented on #2834
Sounds good

[2022-05-24 13:56] jimis opened #3144 "Extra verbose output prints wrong value for `wlog` when doing `zstd -19 --long`"
## How to reproduce:

Here is me trying to compress the same pipeline. First with `-19`:
[code]
Note that the verbose output reports `wlog=23` (8MB) which agrees to the output of `zstd -vv -l`.

If I run the compression command with `-19 --long` I get the exact same verbose output (`wlog=23`) but the compression result is different and `zstd -vv -l` reports 128MB.
[code]

## Version info and OS
[c

[2022-05-24 14:03] jimis commented on #2834
https://github.com/facebook/zstd/issues/3144

[2022-05-24 14:38] embg commented on #3134
Shoot. Can you check that you're compiling with C++11?

[2022-05-24 17:19] #3142 closed, assigned to Cyan4973

[2022-05-24 17:22] terrelln commented on #3132
Yes, see the [streaming compression API](https://github.com/facebook/zstd/blob/dev/lib/zstd.h#L611), and and the [streaming compression](https://github.com/facebook/zstd/blob/dev/examples/streaming_compression.c) and [streaming decompression](https://github.com/facebook/zstd/blob/dev/examples/streaming_decompression.c) examples.

[2022-05-24 17:22] terrelln commented on #3132
Yes, see the [streaming compression API](https://github.com/facebook/zstd/blob/dev/lib/zstd.h#L611), and and the [streaming compression](https://github.com/facebook/zstd/blob/dev/examples/streaming_compression.c) and [streaming decompression](https://github.com/facebook/zstd/blob/dev/examples/streaming_decompression.c) examples.

[2022-05-24 17:25] Madouura commented on #3134
[code]
Is there something else specific I should be looking for? Nothing regarding which version of C++ we're compiling with is specified in the nix package.

[2022-05-24 18:34] embg commented on #3134
Not sure, sorry! Assigning this to @terrelln

[2022-05-27 08:40] #3132 closed, assigned to terrelln

[2022-05-27 22:44] blastwave opened #3146 "[Documentation] Clarify the variables that affect installation"
**Describe the bug**
The Makefile is very unclear about the destination directory.

**To Reproduce**
Extract the tarball and run "make" and then "make install" seems to
try to create files in the system directories.

**Expected behavior**
There should be a DESTDIR target or a configure script or perhaps
even some autotools/automake/autoconf input that allows a configure
script to exist.

**Desktop

[2022-05-27 23:22] blastwave commented on #3146
I did some reading in the lib/Makefile where it mentions a DESTDIR and that seems to work. I really don't know what the testsuite is doing so I don't know if I should do the install or not. I will test the DESTDIR and see what that does with some throw away destination target.

[2022-05-30 13:35] NOTRp opened #3149 "How can I use the function ZSTDLIB_STATIC_API unsigned long long ZSTD_findDecompressedSize(const void* src, size_t srcSize)?"
How can I use the function ZSTDLIB_STATIC_API unsigned long long ZSTD_findDecompressedSize(const void* src, size_t srcSize)?
I use  the static library with "cmake -DZSTD_MULTITHREAD_SUPPORT=ON -DZSTD_BUILD_TESTS=ON -DZSTD_ZSTD_BUILD_STATIC=ON -DZSTD_LEGACY_SUPPORT=ON ..  && make". But, when I build my project , it show me that "error: ‘ZSTD_findDecompressedSize’ was not declared in this scope"

th

[2022-05-31 18:41] Cyan4973 commented on #3146
[code]

This a [GNU `make` convention](https://www.gnu.org/software/make/manual/html_node/DESTDIR.html) for staged installs.

[2022-05-31 20:20] Cyan4973 commented on #3149
It looks like a more fundamental build + linking stage issue,
so the `zstd` code base, and the symbol you are trying to link to in particular, are unlikely participants to this problem.

Unfortunately, such issues are also quite specific to your build setup.

[2022-06-01 01:39] ghost commented on #3149
add `-DZSTD_STATIC_LINKING_ONLY` should solve it.

[2022-06-01 02:33] blastwave commented on #3146
Why not just have a configure script the SAME as every other thing on the planet like GCC and binutils and grep and fifty other popular projects.

[2022-06-01 16:32] Cyan4973 commented on #3149
Good point @animalize !
This symbol is indeed part of the non-stable API,
and therefore requires `ZSTD_STATIC_LINKING_ONLY` to be set.
Maybe that's all there is ...

[2022-06-02 03:16] stevenshiau opened #3150 "zstd 1.5.2 still has performace issue"
I believe zstd 1.5.2 still has the performance issue, as it did in zstd 1.5.1, i.e.,
related to this closed issue: https://github.com/facebook/zstd/issues/2966

The way to reproduce this issue:
1. Create a 2 GB partition on amd64 Debian Linux, say /dev/sda1. I am doing it on a VM here, boot from a Debian Sid live system.
2. dd if=/dev/urandom of=/dev/sda1
3. dpkg -l zstd
Desired=Unknown/Install/Re

[2022-06-02 05:38] ghost commented on #3025
Currently, the files in `dll` and `static` folders are generated by Cygwin (or MinGW), not MSVC.
Do you want to use MSVC to build instead?

Is `zstd.exe` also generated by Cygwin (or MinGW)?

[2022-06-02 16:20] yoniko commented on #3150
The two issues don't seem related to me. https://github.com/facebook/zstd/issues/2966 focused on reusing allocations in cases where inputs are very small and allocation overhead becomes a bottleneck.
On the other hand, in your example you are compressing a 2G partition, so it seems to be a different case.

A simple experiment on my machine didn't reproduce the issue you report here. At the same ti

[2022-06-02 17:04] #3051 closed, assigned to nobody

[2022-06-02 17:11] dkcasset opened #3151 "Clarification on small Window_Size checks by zstd -d"
I have a file containing one compressed block produced by zstd with no options (of Calgary obj1), and then modified for an artificially small Window_Size of 1KB (with Single_Segment_flag = 0).  This file appears to violate 3 points of the zstd format specification:

1. Block_Maximum_Size = Window_Size is less than the Block_Size
2. Block_Maximum_Size = Window_Size is less than the single block's d

[2022-06-02 17:18] terrelln commented on #3151
Upon corruption, the zstd decompressor doesn't guarantee that it will catch every error. If you would like to catch corruption errors **that cause decompressed data corruption** then enable the frame checksum.

We guarantee that we will safely decompress any corrupted data, ant won't crash, or access out of bounds memory, etc. But in this case you are likely decompressing in a single decompression

[2022-06-02 17:18] felixhandte commented on #3144
One thing we can do here would be to add a test that runs a compression, captures the flag outputs, reruns the compression under those flags, and then validates that the output is identical. It could be a partial validation going forward that this logic is staying in sync.

[2022-06-03 01:31] stevenshiau commented on #3150
Thanks for clarifying that, and providing the method to isolate this issue.
I believe we can focus on the "--rsyncable" option. I can always reproduce this performance issue using zstd 1.5.2 as the following.

root@debian:/mnt# dd if=/dev/urandom of=urandom.dd bs=1M count=2000
2000+0 records in
2000+0 records out
2097152000 bytes (2.1 GB, 2.0 GiB) copied, 8.38131 s, 250 MB/s

root@debian:/mnt# zst

[2022-06-03 16:37] yoniko commented on #3150
Thank you, this is helpful, but I'm still unable to reproduce the issue.

Have you tried other zstd versions? It'd be useful to know when the change happened (I can see a couple of related changes in v1.5.1, but would prefer to be sure).

It'd also be helpful if you could:

- Run the same commands with `-vvv` so we can have some more info
- Detail the specs of your system

[2022-06-04 05:15] stevenshiau commented on #3150
Thank you.
Some tests here show that the changes from v1.5.0 to v1.5.1 cause this issue.
More info is provided as the following.
The environment I am running for this case is on a 4-core CPU/4GB RAM virtual machine of VMWare WS 16.2.3, and OS related info:
-- System Information:
Debian Release: bookworm/sid
  APT prefers unstable
  APT policy: (500, 'unstable')
Architecture: amd64 (x86_64)

Kernel

[2022-06-04 07:36] stevenshiau commented on #3150
From the tests, I noticed that although the manual of zstd mentions:
--rsyncable : zstd will periodically synchronize the compression state to make the compressed file more rsync-friendly. There is  a  negligible impact  to  compression ratio, and the faster compression levels will see a small compression speed hit.

the speed for compression can be a big difference with or without "--rsyncable"..

[2022-06-06 18:45] terrelln commented on #3150
Ah, I figured it out!

The issue is caused by https://github.com/facebook/zstd/commit/9d9e2ed00baa70652c1b8255b3ff16057a702f2e. It added this assert:

https://github.com/facebook/zstd/blob/9f346dbe45111a9704c02bbc58360982a3f62069/lib/compress/zstdmt_compress.c#L1766

When zstd is compiled with asserts, the CPU time of your command is 84 seconds. Without asserts it is 7 seconds.

We can remove this

[2022-06-06 18:49] terrelln opened #3153 "Switch rsyncable mode to the new LDM gear hash"
Rsyncable mode still uses the multiplicative rolling hash. It would likely get a large speedup by switching to the gear hash.

[2022-06-06 19:00] terrelln commented on #3150
Also, we should be able to significantly speed up rsyncable mode by using the new gear rolling hash that we're using in LDM.

[2022-06-06 19:06] Cyan4973 commented on #3153
Pay attention that gear hash seems to be hard-wired to a rolling hash length of 64,
that may be good enough for `--rsyncable`,
but if there is a need for larger lengths, it will become a blocker.

[2022-06-06 19:08] yoniko commented on #3150
@terrelln - thank you for investigating and mitigating!
I've approved the PR https://github.com/facebook/zstd/pull/3154.

@stevenshiau - can you compile https://github.com/facebook/zstd/pull/3154 and check that it mitigates the issue for you?

[2022-06-06 19:08] terrelln commented on #3150
@stevenshiau did you enable asserts when you compiled from source.

[2022-06-06 19:39] terrelln commented on #3153
`--rsyncable` is hardwired to a 32-byte hash, which could likely be increased to a 64-byte hash without any issues.

I quickly tried to change it out, and saw a 2x speed improvement. Will try to test & land it for our next release.

[code]

[2022-06-06 20:11] Cyan4973 commented on #3153
Such a length should be compatible with gearhash.
It's designed for 64-byte, but can also accept 32 or 16.
It just can't accept, say, 48, or any non-power of 2 value.

Observed performance improvement is indeed within expectation territory.

A really good surprise is how easy it seems to integrate.

[2022-06-06 20:13] stati64 commented on #3150
We fell into this 50% slower by default trap also.

[2022-06-06 20:50] terrelln commented on #3150
@stati64 what do you mean?

[2022-06-07 14:21] stevenshiau commented on #3150
Yes, I have compiled $3154 and confirmed it mitigates the issue:
root@debian:/mnt# time zstdmt -c --fast -vvv urandom.dd > /dev/null
*** zstd command line interface 64-bits v1.5.2, by Yann Collet ***
Note: 4 physical core(s) detected
--zstd=wlog=19,clog=12,hlog=13,slog=1,mml=6,tlen=1,strat=1
--format=.zst --no-sparse --block-size=0 --memory=134217728 --threads=4 --content-size
set nb workers = 4
U

[2022-06-07 18:02] #3110 closed, assigned to nobody

[2022-06-08 12:39] ShenglongWang opened #3156 "HIST_count_wksp segment fault"
when use zstd 1.3.5, core dump

(gdb) bt
#0 0x00007f5ed319aef8 in ?? () from /lib64/libgcc s.so.1
#1 0x00007f5ed319c039 in Unwind Backtrace () from /lib64/libgec_s.so.1
#2 0x00007f5ed383e5a6 in backtrace () from /l1ib64/libc.so.6
#3 0x000055fe6ef96f27 in print_call link ()
#4 0x000055fe6ef973c0 in sigsegv handler ()
#5 <signal handler called>
#6 0x00007f5ed3f519f0 in HIST_count_wksp () from /opt/l

[2022-06-09 07:28] ShenglongWang commented on #3156
the libzstd.so was damaged. md5 has beend changed。

[2022-06-09 07:28] #3156 closed, assigned to nobody

[2022-06-09 16:31] yoniko commented on #3150
Closing the issue, please reopen if there's any followup.

[2022-06-09 16:31] #3150 closed, assigned to yoniko

[2022-06-09 17:11] #3151 closed, assigned to yoniko

[2022-06-09 17:17] terrelln opened #3158 "Mark ZSTD_getDecompressedSize() as deprecated"
It is replaced by `ZSTD_getFrameContentSize()` and is easy to confuse with `ZSTD_findDecompressedSize()`. Also, consider moving it to a deprecated function section.

[2022-06-12 07:28] JsBergbau opened #3159 "Use longer compression window size by default: otherwise compressing Acronis image more than twice the size compared to Winrar"
Given is Acronis TrueImage Boot-CD iso Image 2021, filesize 706 MB.
Compressed with Winrar filesize is 178 MB.
ZSTD using maximum settings with Peazip results in 393MB, using `zstd --ultra -22 -T16 AcronisTrueImage2021BootCD.iso` results in 383 MB.
This is still twice of the size of Winrar.

So Winrar must do some trick to get this massive compression.

`pigz -v9 AcronisTrueImage2021BootCD.iso` re

[2022-06-16 18:48] terrelln opened #3162 "[edge case] Zstd performs badly on 200-symbol uniform data"
Data generated by this script:

[code]

gzip -1: 100000000 -> 96526120
zstd -1: 100000000 -> 100002299

If I remove these heusistics:

https://github.com/facebook/zstd/blob/b7b7edb3a3017ac8e16d7eb2dbede45168560c58/lib/compress/huf_compress.c#L1297
https://github.com/facebook/zstd/blob/b7b7edb3a3017ac8e16d7eb2dbede45168560c58/lib/compress/huf_compress.c#L1303

We get:

zstd -1: 100000000 -> 9644963

[2022-06-16 22:37] yoniko commented on #3162
I think we should be able to remove these heuristic and replace them with an actual Shannon entropy estimation.
As I already have a pretty precise and fast estimator, we can try it here.
I believe runtime shouldn't change much, given that we already calculate the histogram and its in cache.

[2022-06-18 07:10] VorpalBlade opened #3163 "Strange performance and scalability issues with some of the build systems"
**Describe the bug**

After reading a reading a recent [Phoronix benchmark](https://www.phoronix.com/scan.php?page=article&item=hp-devone-linux&num=3) (a bit down the page) I decided to investigate why Arch Linux was so much slower (10-20x) for zstd performance. It turned out that something is wrong with some of the build systems included with zstd!

When zstd is built with the cmake or meson buil

[2022-06-18 11:53] VorpalBlade commented on #3163
In the downstream bug report for Arch (https://bugs.archlinux.org/task/75104), "Antonio Rojas (arojas)" made an interesting discovery: Apparently the issue is with line 28 in `AddZstdCompilationFlags.cmake`:

[code]

Commenting out this line brings performance up to par with the plain make version. Setting it to `c11` also works for fixing the performance. I have not checked for similar things in

[2022-06-18 23:26] StefanBruens commented on #3163
The default for GCC would be `-std=gnu18`, i.e. using `-std=c99` disables any "GNU" GCC extension.

`man gcc`

     gnu18
          GNU dialect of ISO C17.  This is the default for C code.

[2022-06-19 02:27] berolinux commented on #3163
Confirmed on OpenMandriva (building with clang rather than gcc by default) as well. -std=c99 lowers performance significantly (especially with multiple threads), and higher standard is fine. No significant difference between cXX and gnuXX.
We'll stick with building with cmake, but have added
`sed -i -e 's,c99,c18,g' build/cmake/CMakeModules/AddZstdCompilationFlags.cmake`
to the build script.

Also

[2022-06-19 03:28] DanielGibson commented on #3163
Regarding the degradation with more threads, I could observe this on my system as well, but at other points.
I have a Ryzen 5950X (also 16 cores, 32 threads), running (X)Ubuntu 22.04 with kernel 5.15.0-39-generic, zstd 1.4.8+dfsg-3build1 (from the Ubuntu package, not compiled myself).

For me the peak is at
[code]
afterwards it degrades slowly (though sometimes one more thread is a bit faster agai

[2022-06-19 05:10] jbeich commented on #3163
Also discovered on FreeBSD half a year ago, see
https://lists.freebsd.org/archives/freebsd-current/2021-December/001183.html

[2022-06-19 06:29] eli-schwartz commented on #3163
Officially only Make is supported, the others are all third-party contributions and, I believe, primarily exist to enable functionality such as Meson subproject wraps or cmake `add_subdirectory()`.

Somewhat relevant as well: #2261

Also interesting: #1609 changed meson from c99 to gnu99 for unclear reasons? which is inconsistent with both cmake and make.

[2022-06-19 09:47] ismail commented on #3163
Can't confirm on macOS 12.4 arm64; hence it seems to be a gcc issue.

[2022-06-19 13:19] mirh commented on #3163
The build systems have no inherent fault, the culprits are presumably the compiler and the code here relying on different clock assumptions.
Having different defaults was ironically a good thing insofar as it allowed to discover this mindblowing bug.

[2022-06-19 13:21] th0rex commented on #3163
I had a quick look at the code, maybe this is due to [this](https://github.com/facebook/zstd/blob/dev/programs/timefn.c#L138) (`/* relies on standard C90 (note : clock_t measurements can be wrong when using multi-threading) */`)? That comment would indicate that timing can be wrong with multithreading, and the `#else` would happen in c90/c99 mode I think.

To test I ran it under `hyperfine` (i.e.

[2022-06-19 13:37] firasuke commented on #3163
What's the official upstream build system for `zstd` anyways? Why is that not clarified in the `README` file?

It also seems that the different build systems have different install targets and different configuration options as well...

[2022-06-19 23:26] Technetium1 commented on #3163
This issue has been [featured on Phoronix](https://www.phoronix.com/scan.php?page=news_item&px=Arch-Linux-Bizarre-Zstd).

[2022-06-19 23:49] #3163 closed, assigned to nobody

[2022-06-20 02:51] ghost opened #3169 "stream decompression: check 1~4 bytes Magic Number"
When using stream decompression without [`ZSTD_f_zstd1_magicless`](https://github.com/facebook/zstd/blob/v1.5.2/lib/zstd.h#L1249-L1251):

- Feed 1~4 invalid bytes (wrong Magic Number), it doesn't report an error.
- Feed 5 invalid bytes, it reports "Unknown frame descriptor" as expected.

Magic Number is used to verify invalid data, so it could report an error earlier.
In some environments, short i

[2022-06-20 13:05] rmader commented on #3163
@Cyan4973: from what I understand #3167 should only fix the CMake case but not Meson. Is that correct and should the issue be reopened until that is fixed as well?

[2022-06-20 16:51] Cyan4973 commented on #3163
I don't see any `c99` in the `meson` script.

[2022-06-20 17:06] DanielGibson commented on #3163
No, but `gnu99` :)
https://github.com/facebook/zstd/blob/dev/build/meson/meson.build#L15

[2022-06-21 07:52] JsBergbau commented on #3159
Some other figures. Realized later, that I forgot using ultra-compression for media wiki. Very impressive how much better this mode is. On the other hand, compared to Winrar using `--ultra -22` is much slower than Winrar. `--long=31` seems to do the trick.

used zstd:
`*** zstd command line interface 64-bits v1.5.2, by Yann Collet ***`

Mediawiki mysql dump:
1870 MB Plaintext
Winrar comressed at m

[2022-06-21 08:31] JsBergbau commented on #3159
Update:
`./zstd -15 --long=31 AcronisTrueImage2021BootCD.iso`
compresses to 175.9 MB, so even better than Winrar.

2048 MB is not much memory. So we should consider using longer windows for default.

[2022-06-21 11:47] rossburton opened #3171 "Add stream-size option to pzstd"
The standard `zstd` tool has a `--stream-size` option so the file size can be set for streamed compression.  However, `pzstd` doesn't support this option, so any file compressed with `pzstd` has to be decompressed with a stream (so, eg, the PyPi `zstd` module can't be used).

[2022-06-21 11:48] JsBergbau commented on #3159
Update:
Another MySQL-Dump (typo3) 915.3 MB in size

Using: zstd -T0 -15 --long=31 results in 26.97 MB compressed file size
./zstd -T0 -15 results in 25.78 MB
So in this case 4.6 % larger file size, wenn using longer compression window. Very strange.

[2022-06-21 15:17] Cyan4973 commented on #3159
`--long` mode should always be positive for high compression modes (`btopt` and above), starting level 16.
Below that point however, `--long` is more like a "bet", which tends to be fine in "general" cases, but can occasionally go wrong.
In this case for example, the compression factor is very high (more than x30!), which means regular matches are already very long and therefore competitive with t

[2022-06-21 22:48] Cyan4973 commented on #3163
fixed

[2022-06-22 18:21] #3169 closed, assigned to Cyan4973

[2022-06-23 07:13] kkishoreyadav opened #3176 "Destination buffer is too small"
Error occurs during decompress  com.github.luben.zstd.ZstdException: Destination buffer is too small |	at com.github.luben.zstd.ZstdDecompressCtx.decompressByteArray(ZstdDecompressCtx.java:157) |	at com.github.luben.zstd.ZstdDecompressCtx.decompress(ZstdDecompressCtx.java:214) |	at com.github.luben.zstd.ZstdDecompressCtx.decompress(ZstdDecompressCtx.java:219) |
at com.snapchat.ab.exposure.util.com

[2022-06-23 19:51] felixhandte commented on #3176
Hi @kkishoreyadav,

It's difficult to analyze what's going wrong here.

This failure is almost certainly the result of user error: you are likely incorrectly transporting the output of compression to the decompressor somehow. I'm not really in a position to debug what specifically is going wrong, since, (1) that's not really a minimal reproducer of your issue, (2) it's in Java, (3) you are using a

[2022-06-29 09:48] xiaoyong-z opened #3178 "[Question] What's the difference between ZSTD_decompressDCtx and ZSTD_decompressStream"
What's the difference between ZSTD_decompressDCtx and ZSTD_decompressStream?
Under what circumstances should I use ZSTD_decompressDCtx?
And under what circumstances should I use ZSTD_decompressStream?

[2022-06-29 09:53] xiaoyong-z commented on #3178
which one's performance is better?

[2022-06-29 10:00] xiaoyong-z commented on #3178
In my scenario, in some cases I will decompress the entire block directly, in other cases i will decompress the streaming data piece by piece.

[2022-06-29 22:20] Cyan4973 commented on #3178
It's recommended to employ `ZSTD_decompressDCtx()` whenever possible.
This variant is leaner, simpler and slightly faster than the streaming variant.

However, `ZSTD_decompressDCtx()` can only work on full-buffer scenarios,
i.e. the entire compressed frame must be present in memory within a single continuous buffer,
and the resulting decompressed content will be generated into a single pre-allocat

[2022-06-30 05:18] ghost commented on #3176
IMO, this is an usage problem of Java wrapper, you may ask in https://github.com/luben/zstd-jni/issues.

[2022-07-01 18:10] thatch opened #3181 "Unexpectedly better compression ratio with threads"
**Describe the bug**

My assumption from the [manual](https://facebook.github.io/zstd/zstd_manual.html) and `zstd --help` is that there are two modes:

* `nbWorkers=0` performs compression blocking, and is a fine thing to do, just slow
* `nbWorkers>=1` will compress in nbWorkers many threads, plus one for I/O or something else

If anything, I expect nbWorkers>=1 to compress _worse_ than nbWorkers=

[2022-07-02 10:29] vikas6767 opened #3182 "Meta algorithm"

[2022-07-02 20:10] thatch commented on #3181
Looking at this a little closer today, I'm less convinced that it's a bug.  The threaded version does produce 24 distinct blocks that contain a single symbol instead of ~90 but I suspect that on this particularly-repetitive data that's not a hindrance.  I'm going to close this out, because there's far stranger I've found with other example texts :)

[2022-07-02 20:10] #3181 closed, assigned to nobody

[2022-07-05 17:24] felixhandte commented on #3182
What?

[2022-07-05 17:24] #3182 closed, assigned to nobody

[2022-07-06 01:19] wanfuse123 opened #3183 "Zstd support of multithreading and multicpu support"
Hi! I understand this is possible now, is it possible to set it system wide MULTITHREADING AND MULTICORE support using compile options?

If so is there compile directions for doing this?

Lastly will this work on Linux?

I would like to work this with zswap and zram together getting LZ4 or LZ4HC compression to get around system ram limitations.

Also, I might look for a ram drive and add it to tha

[2022-07-06 09:40] xiaonengmiao opened #3185 "How to compile and use fse.h in lib/common?"
There are two functions: `FSE_compress` and `FSE_decompress`. How to compile and use them?

[2022-07-06 13:02] yymt168 opened #3186 "Compiling zstd-sys v2.0.1+zstd.1.5.2 failure"
C:/Users/yymt/.cargo/bin/cargo.exe build --color=always --message-format=json-diagnostic-rendered-ansi --package minigrep --bin minigrep
   Compiling zstd-sys v2.0.1+zstd.1.5.2
The following warnings were emitted during compilation:
warning: during RTL pass: final
warning: zstd/lib/common\entropy_common.c: In function 'FSE_readNCount':
warning: zstd/lib/common\entropy_common.c:252:1: internal comp

[2022-07-06 13:48] gyscos commented on #3186
For context: this seems to happen when building the rust binding for zstd. The building process starts by building the zstd C library itself, which apparently in this case causes a GCC internal compiler error.

I've seen it before in CI when using old versions of gcc. You could try updating gcc, it's possible the bug was already fixed.

[2022-07-06 14:07] gyscos commented on #3111
Note that the rust code sample has a few probable issues:
* `Path` doesn't automatically expands `~` into your home directory
* The argument to `from_files` is a list of files to train, _not_ a file with the list of files to train. So the sample would train a dictionary on a single file `~/training_files`.

[2022-07-06 23:21] yoniko commented on #3183
Hi @wanfuse123 ,
Please see https://github.com/facebook/zstd/tree/dev/lib#multithreading-support regarding compilation options required for multithreading support in the library.
It should work on linux as long as the `pthread` lib is available.

[2022-07-08 18:58] yoniko commented on #3185
Hi @xiaonengmiao ,
Zstd's FSE isn't meant to be used as a standalone module.
Please see the standalone FSE repo for that purpose https://github.com/Cyan4973/FiniteStateEntropy.

[2022-07-08 20:05] felixhandte commented on #3099
#3184 fixes this (with `--verbose`).

[2022-07-08 20:05] #3099 closed, assigned to nobody

[2022-07-08 23:11] Madouura commented on #3134
See https://github.com/NixOS/nixpkgs/pull/180028 for a fix.

[2022-07-08 23:11] #3134 closed, assigned to terrelln

[2022-07-09 16:39] urain39 opened #3188 "How can i backport new zstd kernel module to Linux 4.x?"
I am doing the backport of zstd-1.4.10+ for Linux 4.x, but I have encountered some problems.

[code]

The output shows that the problem exists only in common/*.

I checked the code for the mainline kernel and found that these issues seem to be caused by build script changes.

(changes built-in.o -> built-in.a)

[2022-07-09 17:38] Awendel opened #3189 "Fast Node js version that lives up to Benchmark"
By far the strongest use case for using zstd is for the use in databases, such as Redis with repeatable small objects, where one can pretrain a dictionary on the data. A trained ZSTD dictionary will outperform snappy by a magnitude of 3-4.

Yet there doesn't seem to be a decent Node.js version that lives up to the benchmarks posted in the repository.

Officially zstd is meant to outperform Snappy

[2022-07-09 22:34] llamasoft opened #3190 "Build fails depending on how LDFLAGS is passed"
**Describe the bug**
Building zstd can fail depending on how LDFLAGS is passed to make.

**To Reproduce**
Steps to reproduce the behavior:

1. Download source code.
2. Run `make LDFLAGS="-L/some/extra/dir"` and the build will fail.
3. Run `LDFLAGS="-L/some/extra/dir" make` and the build will succeed.

**Expected behavior**
I expect the build to succeed regardless how LDFLAGS was passed to make.

*

[2022-07-09 23:39] Cyan4973 commented on #3189
The closest `node.js` binding I can think of corresponding to this request would be @Stieneee 's `simple-zstd` :
https://www.npmjs.com/package/simple-zstd

featuring a great blog entry explaining the genesis and outcome:
https://tylerstiene.ca/blog/zstandard-compression-for-nodejs/
and even a benchmark script for quick evaluation :
https://github.com/Stieneee/node-compression-test

I suspect it do

[2022-07-10 09:32] Awendel commented on #3189
Thanks for the prompt reply!

I came across simple-zstd before, but I think there may be some fundamental problems with it:

- a confusing API compared to other libraries where encode / decode on buffer like data is a lot more straight forward
- no dictionary support (apparently)
- the overhead involved with creating / destroying a child process for each conversion

in total, it seems that simple-

[2022-07-10 18:34] JsBergbau opened #3191 ""sweetspot" of --rsyncable option?"
I've compressed database backups with zstd and `--rsyncable` option. I've then used restic to store these files. Restic detects identical blocks and deduplicates them, similar as rsync would not transfer these blocks via network.

The resulting table

| ZSTD Level | compresed size | in restic |
|------------|------------|-----------|
|      1      |   84.9 GB         |    31.34 GB       |
|

[2022-07-10 20:39] Stieneee commented on #3189
You are correct on all points, when I built the library I was just addressing my use case for large files and the stream interface was the logical interface.

I would be concerned about the child process overhead for your use case as well. A pool of pre-spawned instances might be easy enough to implement. In addition, dictionary support could be added and the encode decode support would just be an

[2022-07-10 22:04] Awendel commented on #3189
Sounds like a great idea and I'm definitely ready to test and benchmark.

The theoretical structure of the project and all is extremely promising once properly implemented, it could become the defacto Node js standard for zstd, also since it is not tied to a specific release, so very future proof.

In terms of the dictionary API, one could make it class / constructor based and essentially passing

[2022-07-11 06:16] winxblast opened #3192 "Can change license from BSD and GPLv2 to MIT or something else，just like react？"
I holp to use this powerful algorithm in my work，but because of this license，our company forbid us to use。

[2022-07-11 15:42] #3185 closed, assigned to nobody

[2022-07-11 15:43] #3183 closed, assigned to yoniko

[2022-07-11 16:51] felixhandte commented on #3192
What part of the BSD license is a problem for you that wouldn't be with an MIT license? The MIT license is *very* similar.

[2022-07-11 17:09] #3176 closed, assigned to felixhandte

[2022-07-11 22:24] terrelln commented on #3188
If you're porting to a release older than `4.17` I think you'll just need to "undo" this commit:

https://github.com/torvalds/linux/commit/dc35da16a2e23db04822f0129cd5b28b7b0e72b4

Its a bit different now but basically look for duplicates, and only add them to `zstd_compress-y`. And then `ifneq ($(CONFIG_ZSTD_COMPRESS)$(CONFIG_ZSTD_DECOMPRESS),yy)`, then also add them to `zstd_decompress-y`.

[2022-07-11 22:27] terrelln commented on #3191
There isn't a sweet spot w.r.t the level. Higher levels will compress better, and I think levels 8 and 16 is just getting the best by chance.

The parameter you can tune is `-B` for the job size. This will affect how large of a block that we will de-dup. E.g. you could try `-B512KB`, or `-B4MB`.

[2022-07-12 01:56] urain39 commented on #3188
Thanks! I'm working on Linux 4.9, which is much older than 4.17.

Before this, I used a dirty trick to avoid this problem, but it doesn't seem to work.

You can see my changes at https://github.com/urain39/android_kernel_meizu_m1721/commit/2561c1ee916aa4f7fab9489e3cfd7bc5039d7ef9

The main problem is that I get a kernel panic after changing:
<details>
  <summary>dmesg-ramoops-0</summary>
  <pre><c

[2022-07-12 03:49] winxblast commented on #3192
thanks，I am asking the lawyer of company，I have to follow his advice

[2022-07-12 03:49] #3192 closed, assigned to felixhandte

[2022-07-12 04:02] urain39 commented on #3188
Sorry, this is my mistake. This issue (kernel panic) is caused by `CONFIG_ARM64_SW_TTBR0_PAN=y` because of upstream modification of custom kernel.

[2022-07-12 04:02] #3188 closed, assigned to terrelln

[2022-07-13 05:51] #3178 closed, assigned to Cyan4973

[2022-07-13 07:49] rkitover opened #3193 "Cannot build with cmake -DCMAKE_ASM_COMPILER=as or llvm-as"
**Describe the bug**
Build of assembly sources fails if cmake is invoked with `-DCMAKE_ASM_COMPILER=as` using the `as` from GNU binutils. My version of `as` is 2.38.

It also fails in a different way with `clang` and `llvm-as`.

Originally reported here:

https://github.com/ccache/ccache/issues/1113
.

**To Reproduce**

For `gcc`, running:

[code]

, gives:

[code]

. For `clang` and `llvm-as` (fr

[2022-07-13 08:43] afbjorklund commented on #3193
The .S files contain preprocessor statements and other compiler flags, so need to be handled by cc unlike the .s files that are handled by as.

The Makefile does the right thing, by using COMPILE.S instead of COMPILE.s

So CMake should use CMAKE_C_COMPILER, instead of CMAKE_ASM_COMPILER

[2022-07-13 10:55] godfreymark opened #3194 "Recursive inline code failing to build with WindRiver 6.9 gnu compiler 4.3.3"
When I compile the ZSTD code under a VxWorks 6.9 environment, using the gnu compiler version 4.3.3 I see the following error reported when it attempts to compile the zstd_lazy.c file.

[code]

I was previously compiling the exact same zstd source code under VxWorks 6.8 environment, using the gnu compiler version 4.1.2
without any issues.   So on the face of it, it looks to me like the compiler's h

[2022-07-13 15:53] JsBergbau commented on #3191
Thanks for the hint.
I've tried `-B512KB`. This lead to a siginificant longer time it took to compress the files.

Complete results

ZSTD Level | -B parameter  | compressed size |   in restic
----|----|----|----|
16 | 512KB | 57.9 GB | 24.18 GB
16 | 4MB | 65.5 GB | 24.61 GB
16 |default (as above)| 49.7GB | 29.22 GB

Using deduplication of restic and internal (zstd) compression of these blocks/chun

[2022-07-13 15:55] dagrh opened #3195 "Q: Input changing during compression semantics?"
I'm a maintainer on QEMU's migration code; and we recently found out the hard way that ZLib requires the input data to be stable during compression; and I'd like to know what zstd's requirements are.  QEMU is a bit odd in that it is compressing the content of guest ram as it's live migrating, but if it does change it'll resend the data again.

So, speciifically for ZSTD_compressStream2 with the de

[2022-07-13 16:31] felixhandte commented on #3195
Ooh, interesting and tricky question.

... no? I don't think it ever even occurred to us to prohibit this, but it's pretty clearly against the spirit of the API. However, that doesn't mean it won't work.

No: I believe zstd should never crash under these circumstances, although we don't have any tests that validate that...

Yes: The block in question may contain bogus data. (Although see below.)

[2022-07-13 16:50] dagrh commented on #3195
Thanks for the reply (and I'm glad you like QEMU); given 'No: Subsequent blocks should not be affected' then I think we'll avoid adding a copy in our code for now - but I want to make sure I understand your reply; Is the paragraph 'This guarantee only holds...' breaking the 'Subsequent blocks should not be affected' or only the less of a problem on the current block?

[2022-07-13 23:12] m-nagarajan opened #3198 "Is there a way to not have all the training samples in memory for building the dictionary?"
Hi team,

I am trying to use 2GB of training samples to build the dictionary but the system only has 256MB of RAM. Trying to see if there is a way to build this dictionary in this 256MB system? Currently only way I can think of is to load all the 2GB of data into memory and build the dictionary. Is there a way we can do streaming build where not all the sample is in memory at any time?

Thanks,
Ma

[2022-07-14 03:43] gaby commented on #3153
👍🏻 for this

[2022-07-14 15:45] felixhandte commented on #3198
We don't currently support that. It's unlikely you need so much training data, though. You'll find rapidly diminishing returns as you increase the number of samples provided to the trainer past 10MB of data or so. Could you select a subset (randomly?) of your data that would be representative of the overall corpus?

[2022-07-14 16:48] m-nagarajan commented on #3198
Thanks @felixhandte for the reply. The diminishing returns after 10MB or so applies even if the original data is in multiple TBs?
As per my understanding, the more the sample, the more the possibility of finding more frequent Bytes to be made an efficient dictionary.

[2022-07-14 20:20] felixhandte commented on #3198
Well it all depends on the nature of your data.

I'd recommend trying to train dictionaries on, for example, 1MB, 10MB, and 100MB of your data, and then benchmarking how much each of those improves compression for the dataset. If your data is fairly homogeneous, I would expect those dictionaries to perform equivalently well.

[2022-07-18 05:52] yiyuaner opened #3200 "Buffer overrun can happen in util.c"
In the file `programs/util.c`, the function `mallocAndJoin2Dir` has the following [code](https://github.com/facebook/zstd/blob/43f21a600ec431aa615b09868f1f586b949607fb/programs/util.c#L871):

[code]

When `dir1Size=0` (i.e., `dir1=""` ),  the buffer access `*(buffer - 1)` is out of bound.

[2022-07-18 15:24] hmartink opened #3201 "Issues in zstd man pages"
[code]

[2022-07-18 18:51] shulib opened #3202 "Question"
Hi
I have compressed packet:
28 b5 2f fd 20 0c 5d 00 00 c2 c0 01 04 10 23 03 04 12 10 00
when I run in tool for decompress this packet I got corruption
what is the mistake that I do when I try to parse this packet?
if I parse it by spec I get
magic number: 28 b5 2f fd
uncompressed packet size: 20 0c  - 0xc
block size: 5d 00 00 - size of compressed part is 11
c2 c0 01 - decompressed size is c compr

[2022-07-18 19:14] shulib opened #3203 "Compression Ration when data file use a few alphabet is bad"
**Describe the bug**
A clear and concise description of what the bug is.
**To Reproduce**
Steps to reproduce the behavior:
1. Downloads data 'file which contains only 104 size  two characters which its ascii 0x00 and 0x01  '
2. Run '...' with flags 'without flags'
3. Scroll up on the log to '....'
4. See error
 the error is:
Frames  Skips  Compressed  Uncompressed  Ratio  Check  Filename
     1

[2022-07-18 19:16] shulib commented on #3203
the file I sent not correct, but the example is correct

[2022-07-18 19:37] thatch opened #3204 "I'm not 100% sure that block splitter is working properly"
**Describe the bug**

This is not a correctness issue.  It simply appear to be leaving a lot of ratio unattained when faced with real-world data.

Side notes:
- zstd is zstd 1.5.2-3 from archlinux
- python-zstandard is 0.18.0 using backend_c
- block splitter being an experimental param, I don't think I can enable separately in the zstd CLI or in the [python-zstandard compression params](https://gi

[2022-07-18 19:42] thatch commented on #3162
aside: this is 201-symbol data; randint is inclusive of both params.

[2022-07-18 23:50] m-nagarajan commented on #3198
thanks @felixhandte, Let me experiment on it.

Closing the ticket.

[2022-07-18 23:50] #3198 closed, assigned to felixhandte

[2022-07-20 00:53] cgbur opened #3206 "`-` when compressing multiple files causes a segfault"
**Describe the bug**
In normal operation the `-` should be treated as `stdin`. When compressing multiple files and one of them is `-` the cli incorrectly attempts to make a file named `stdin.zst` and segfaults.

**To Reproduce**
## zstd
[code]
[code]

`-f` makes no difference here and still a segfault

## gzip
[code]
[code]
----

If `zstd - !` is passed, zstd will propogate the stdin->stdout behav

[2022-07-20 19:00] CoderJoeW commented on #409
2022 still need an nginx module we adopted Zstandard for all our compression/decompression needs replacing GZIP a while back and it has been the best move we ever made. Now we need to do the same for the web

[2022-07-20 19:03] CoderJoeW opened #3207 "Request for ZSTD to be available in NGINX"
This is related to an old and closed issue here
https://github.com/facebook/zstd/issues/409

We need ZSTD to be available in NGINX by default. I don't know what needs to happen to get it there but GZIP should no longer be the de facto standard for web compression/decompression its gotta be ZSTD and the only way mass adoption is gonna happen is if its available by default in nginx

[2022-07-21 01:45] shulib commented on #3202
I found my mistake and the tool is ok here:
the table suppose to be 0x10 0x3f - and it works correctly.
the issue closed

[2022-07-21 01:45] #3202 closed, assigned to nobody

[2022-07-22 15:29] cgbur opened #3210 "Passthrough on short files fails"
**Describe the bug**
When trying to use the decompression passed through functionality on files of 0, 1, or 2 bytes the decompressor fails to read enough bytes to understand the context and quits instead of just copying the bytes to the output. This means if you have small files and are trying to use `zstdcat` for all of them, the very small files will fail and not be written to the output.

**To

[2022-07-22 22:44] cgbur opened #3211 "Passthrough inconsistent behavior depending on `-o` flag"
**Describe the bug**
Passthrough behavior found in zstdcat does not persist when an output file is specified.

**To Reproduce**
[code]

[code]

**Expected behavior**
In gzip, when you want the passthrough behavior, you should specify `-dcf` to decompress to console and force. When both force and console are present, passthrough is active.

Zstd tries to mimic the command line interface of gzip. Zs

[2022-07-22 22:52] cgbur commented on #3211
I actually realize that `-c` has nothing to do with this and its entirely dependent on `-f` and stdout. I guess my question is should the `-f` flag also elicit the passthrough behavior when writing to a file.

[2022-07-24 20:49] donpellegrino commented on #3146
This is not just an issue of unusual convention. The resulting libzstd.pc file will have the wrong value for "prefix=" when generated with the current implementation. Normal use of the normal tooling should account for automation in .pc files.

[2022-07-24 21:24] tansy opened #3212 "--target-compressed-block-size produces corrupted file"
**Describe the bug**

For some reason I wanted to "split" input into blocks and couldn't find an option for it. I expected it to be `-B`, like in lz4, lizard or lzip, but it wasn't an option. I found this option: `--target-compressed-block-size`, which I expected to be some, close alternative, compressed some files and during testing they all turned out to be corrupt.
Below you have a script that

[2022-07-25 03:12] tansy commented on #3207
As you referred to that issue/409 you probably realise that it's been done. I mean the module. You also need to implement the support in browsers and have the compression be actually better and/or faster and/or less memory hungry.

At level 3, which is default, it's going to be faster, that's for sure but is it better compressor (I mean ratio)? With standard DuckDuckGo search (<16kB uncompressed)

[2022-07-25 08:24] efbicief opened #3213 "Add compressionLevel parameter to ZDict_trainFromBuffer"
Currently, `ZDICT_trainFromBuffer` (lib/dictBuilder/zdict.c) trains a dictionary using compression level `ZSTD_CLEVEL_DEFAULT` (3). I would like to be able to pass in a compression level, and from what I can tell there's no way to do this currently. Would it be possible to add functionality to do so?

[2022-07-25 17:12] felixhandte commented on #3207
@CoderJoeW, I agree! This would be great.

I think this is not the right forum to discuss default-inclusion in nginx. It looks like they ask for this to be discussed on their [mailing list](http://nginx.org/en/docs/contributing_changes.html).

As @tansy notes, we're in a bit of a chicken-or-the-egg situation. Browsers are reluctant to add support until there's a wide base of server support, and vi

[2022-07-25 17:12] #3207 closed, assigned to felixhandte

[2022-07-25 18:32] terrelln commented on #3212
Thanks for the report, I was able to reproduce it. We'll work on fixing the bug, and figuring out why our fuzzers aren't catching the issue for the next release.

I'm not sure if `--target-compressed-block-size` is the option you want. It aims to produce compressed blocks of approximately some size, to improve the latency of streaming compression in some scenarios. But these block aren't independe

[2022-07-25 18:33] terrelln commented on #3212
Commit https://github.com/facebook/zstd/commit/e103d7b4a64c6321bb3ac4df07899ea09c3edbb2 introduces the bug, so it's been broken since v1.4.5.

[2022-07-25 18:40] terrelln commented on #3204
Thanks for the report! We know our block splitter is pretty trivial right now, and hope to find some time to work on it in the future. This case in particular is probably an interaction between block splitting, and the optimal parser, that tries to make decisions based on what it estimates the costs of particular matches are. So the block splitting changes the costs, but we don't re-parse based on

[2022-07-25 18:45] terrelln commented on #3213
We can't do that because `ZDICT_trainFromBuffer` is part of our ABI stable interface.

I'd recommend trying the `ZDICT_optimizeTrainFromBuffer_cover` or the `ZDICT_optimizeTrainFromBuffer_fastCover` function, depending on if you care about speed of dictionary training. You can tune the `steps` parameter to make it faster.

Under the hood `ZDICT_trainFromBuffer` is just calling `ZDICT_optimizeTrain

[2022-07-25 18:47] terrelln commented on #3210
Thanks for the report, we'll fix this for the next release!

[2022-07-25 18:53] terrelln commented on #3211
I think that this is a legitimate issue & inconsistency in the API. I think we'll need to think more about exactly what our contract is for pass-through mode, document that contract, and improve our test cases, to make sure we're meeting it.

We'll make sure to tackle this in our next release.

[2022-07-25 19:03] terrelln commented on #3206
Thanks for the bug report!

Zstd should definitely treat `-` as stdin when compressing multiple files, and only write that single file to stdout.

We'll make sure to fix this in our next release. I think this one might be a somewhat tricky one to fix, so I'd recommend leaving it to us. However, the pass-through mode issues would be a good candidate to work on.

[2022-07-25 19:08] terrelln commented on #3210
Basically, we read 4 bytes, then if we don't see any magic numbers we recognize, we will go into pass-through mode if we are writing to stdout and `-f` is passed:

https://github.com/facebook/zstd/blob/466e13f7225387a4276738f421378396595a5d4a/programs/fileio.c#L2385-L2386

The fix is to also go into pass-through mode if the file is less than 4 bytes and if pass-through mode is enabled (in https://

[2022-07-25 19:10] terrelln commented on #3211
This is how we determine if we enable pass-through mode:

https://github.com/facebook/zstd/blob/466e13f7225387a4276738f421378396595a5d4a/programs/fileio.c#L2385-L2386

We could consider removing the requirement that we are writing to stdout. However, this mode is really intended to mostly be used for `zstdcat`. And I'd be hesitant to enable pass-through mode in more scenarios, because we could be

[2022-07-25 19:16] thatch commented on #3204
Not very easily, unfortunately.  See https://gist.github.com/thatch/c2e8aa3d34a7a548687f43813f9cb788

Usage: `python compress_subdivide.py -19 input_filename.bin`

After reading 128KB, it tries that as well as 64+64, and 32+32+32+32, etc (uniformly sized within a 128KB block).  In initial testing there appeared to be a single minimum [sizes appeared to look like concave up], hence the "break" whic

[2022-07-26 01:59] tansy commented on #3212
Actually I wanted to split input into blocks of some fixed size. But, as there is no such option I thought it would be an alternative.

I also wanted to set sliding window size to limit memory usage during decompression. As far as I understood it's `--zstd=wlog`, but not sure about that.

[2022-07-26 03:04] ghost commented on #3213
Currently stable API has two dictionary training functions:

1. `ZDICT_trainFromBuffer()`
https://github.com/facebook/zstd/blob/43f21a600ec431aa615b09868f1f586b949607fb/lib/dictBuilder/zdict.c#L1101-L1102
2. `ZDICT_finalizeDictionary()`
https://github.com/facebook/zstd/blob/43f21a600ec431aa615b09868f1f586b949607fb/lib/dictBuilder/zdict.c#L852-L855

----------
If don't break the stable API, you may

[2022-07-26 15:15] efbicief commented on #3213
Thanks both, much appreciated!
Since `ZDICT_optimizeTrainFromBuffer_fastCover` isn't in `zdict.h` like `ZDICT_trainFromBuffer` is, how should I #include it in my code?
Also, would using `ZDICT_finalizeDictionary` in this way generate the same dictionary as `ZDICT_trainFromBuffer`? I'm not sure exactly what the standard usage of `ZDICT_finalizeDictionary` is.

[2022-07-26 15:38] cgbur commented on #3211
I agree that there's a possibility to silently hide corruption or not signal when a failure should be happening. `zstdcat` being the main reason for needing passthrough, I would almost prefer `zstd` **never** have passthrough behavior and the cat program **always** having it. One thing to consider might be explicitly adding a `-p` for an explicit call for passthrough to be done.

The main point of

[2022-07-26 15:41] cgbur commented on #3210
Thanks I'll take a stab at opening a PR with a fix!

[2022-07-26 17:18] felixhandte commented on #3201
@hmartink, thanks for the report! We'll address this in the next release.

[2022-07-26 20:57] tansy commented on #3207
I think I had been misunderstood.
From issue/409 referred by @[CoderJoeW](https://github.com/CoderJoeW)  it appears that problem is already solved. Module with zstd support is done.

Reluctance, you mention comes from qualities of zstd, that is indeed faster, but that's about it. It's not better than gzip at compression level 3 and is just as memory hungry as brotli. So advantages seem to fade. At

[2022-07-27 02:09] ghost commented on #3213
If use experimental API, define this macro, then it's available in `zdict.h`. (define it before include `zdict.h`)
[code]

Not at present. It's a feature request.

[2022-07-27 09:59] Nevon commented on #3189
So far this discussion has only touched on two vastly different approaches, each with their own drawbacks:

1. Compile zstd to webassembly. Necessary for browser support, but makes it awkward to use in NodeJS and as you found out the performance is not stellar.
2. Call out to a child process. You already mentioned some of the drawbacks, but another drawback is simply that it relies on a system ins

[2022-07-27 10:48] Awendel commented on #3189
That's some very good points and promising suggestion!

Indeed, if one wanted to create a larger npm module that makes use of zstd as a dependency, your suggestion really does seem like the only right way moving forward.

[2022-07-27 19:16] orbea opened #3216 "zlibWrapper build failure - error: expected ‘=’, ‘,’, ‘;’, ‘asm’ or ‘__attribute__’ before ‘OF’"
**Describe the bug**
The zlibWrapper build fails when the `OF` macro is not defined.
[code]

**To Reproduce**
1. `cd zlibWrapper`
2. `make`

**Expected behavior**
The build should succeed.

**Desktop (please complete the following information):**
 - OS: `Gentoo`
 - Version https://github.com/facebook/zstd/commit/e5db7c93f51992b10feb2fa64daa79c04e05574b
 - Compiler `gcc 11.3.0`
 - Flags `N/A`
 - Ot

[2022-07-27 19:58] orbea commented on #3216
Okay, I see what happened, this changed in `zconf.h`.

__zlib-1.2.12__
[code]
__zlib-1.2.11__
[code]

[2022-07-29 16:47] terrelln commented on #3191
I'm closing out this issue, but please re-open if you have any further questions!

[2022-07-29 16:47] #3191 closed, assigned to terrelln

[2022-07-29 16:50] terrelln commented on #3186
What version of gcc is this? I'd second updating your gcc version

[2022-07-29 16:54] terrelln commented on #3159
We can't default to window sizes larger than 8MB, because that is the max window size we say all decoders should support in our spec. So you must explicitly opt into a larger window size with `--long`.

[2022-07-29 16:55] #3149 closed, assigned to Cyan4973

[2022-07-29 17:01] #3137 closed, assigned to Cyan4973

[2022-07-29 19:22] #3216 closed, assigned to nobody

[2022-07-29 19:22] #3210 closed, assigned to nobody

[2022-07-29 20:23] adamdmoss commented on #3212
Hah, cool, I just got bitten by this today.  FWIW my simple little input file which tickled the bug is:
[badzstd.txt](https://github.com/facebook/zstd/files/9222974/badzstd.txt) - just about any (valid) --target-compressed-block-size seems to generate a bad output when trying to compress this.

[2022-07-29 20:26] terrelln commented on #3212
@adamdmoss what is your usecase for `--target-compressed-block-size`? It is a pretty unusual feature.

BTW: Anyone who hit this bug, please post here if you need your files recovered. This bug is recoverable. I can post a patch to the zstd decoder which will allow you to recover your files.

[2022-07-29 22:45] yoniko commented on #2918
Thank you for reporting.
Issue was fixed in https://github.com/facebook/zstd/pull/3208.

[2022-07-29 22:45] #2918 closed, assigned to yoniko

[2022-07-29 23:13] yoniko commented on #3206
Thank you for reporting.
Fixed in https://github.com/facebook/zstd/pull/3222.

[2022-07-29 23:13] #3206 closed, assigned to yoniko

[2022-07-29 23:44] terrelln commented on #3203
@shulib try compressing with a higher compression level.

At lower compression levels we use heuristics to decide whether or not to use Huffman compression. One of those is based on the size of the literals buffer. Since in most data, the size of the Huffman header outweighs any gains for small data.

If you have many samples of data of a similar nature, you could also try using dictionary compres

[2022-07-29 23:44] #3203 closed, assigned to nobody

[2022-07-30 18:07] adamdmoss commented on #3212
My use-case is a dumb toy.  I can live without.  Was just surprised to get corruption.

[2022-07-31 12:13] shulib commented on #3203
a. I tried to compress with higher lever and got a same result
b. If I have few alphabet symbols (less then 64 (6 bits Huffman length)  - I took only 2!!) - Huffman code for every symbol takes less the 8 bits even when
I have a  uniform probability each of them. so, for big enough literal stream we get a better compression then raw (even we add a tree).

[2022-07-31 12:18] shulib opened #3228 "Optimal parser edge case: Huffman alone is significantly better than any matches"
a. I tried to compress with higher lever and got a same result
b. If I have few alphabet symbols (less then 64 (6 bits Huffman length)  - I took only 2!!) - Huffman code for every symbol takes less the 8 bits even when
I have a  uniform probability each of them. so, for big enough literal stream we get a better compression then raw (even we add a tree).

_Originally posted by @shulib in https://gi

[2022-08-01 18:04] #3200 closed, assigned to embg

[2022-08-01 18:51] terrelln commented on #3228
@shulib can you provide an example file?

[2022-08-01 18:52] #3158 closed, assigned to nobody

[2022-08-01 20:09] grossws opened #3229 "Docs lack ZSTD_initDStream and ZSTD_decompressStream signature in the streaming decompression section"
**Describe the bug**

[Docs for 1.5.2](https://raw.githack.com/facebook/zstd/release/doc/zstd_manual.html#Chapter9) have only `ZSTD_DStreamInSize`/`ZSTD_DStreamOutSize` in the Streaming decompression functions section.

**To Reproduce**

1. See the link above.

**Expected behavior**

Signatures to be present in docs

[2022-08-01 20:26] shulib commented on #3228
example file data (hexdump):
00000000  02 02 02 02 02 02 02 01  02 02 02 02 02 02 02 02  |................|
00000010  01 01 01 02 01 01 01 01  02 01 01 02 02 01 01 02  |................|
00000020  01 02 02 02 01 02 02 02  01 02 01 01 01 02 01 02  |................|
00000030  01 01 01 02 01 01 02 01  01 01 02 02 01 01 02 01  |................|
00000040  02 02 01 02 02 02 02 01  02 01 02 01 02 01 02

[2022-08-01 20:27] shulib commented on #3228
I cannot drug the file - so I put  data.

[2022-08-01 20:30] shulib commented on #3228
[try78__1_2.zip](https://github.com/facebook/zstd/files/9237264/try78__1_2.zip)

[2022-08-01 20:33] shulib commented on #3228
this is the dat
[try78__1.zip](https://github.com/facebook/zstd/files/9237271/try78__1.zip)
a
zip results

[2022-08-02 01:35] ghost commented on #3213
Please reopen this issue.
It has been assigned to a core developer, may be solved in future.

[2022-08-03 18:20] scottcarey commented on #3159
"2048 MB is not much memory. So we should consider using longer windows for default."

On the contrary that is a MASSIVE amount of memory.   If you had a server compressing on the fly to 100 clients, that would eat up 200GB of RAM.   And then every _client_ reading from those servers would need to support a 2GB window.  The per-stream memory overhead to decompress zstd is an important limit that a

[2022-08-03 18:28] #3212 closed, assigned to terrelln

[2022-08-04 03:32] michael-grunder commented on #3130
I encountered similar behavior and found it to be fixed in newer versions.  I think the relevant commit is da737c7ab89f61f1ea7c392299137f6ffe6f9733.

[2022-08-04 19:51] #3130 closed, assigned to felixhandte

[2022-08-05 00:16] #3211 closed, assigned to terrelln

[2022-08-05 04:36] shuffle2 commented on #2789
I strongly think that the assembly file should be moved to intrinsics. You get real cross-platform support without ugly hacks and/or duplicated code (and i wouldn't be surprised if the perf is actually better).

[2022-08-05 08:41] hzh0425 opened #3233 "How to train a dict by api?"
Hi, I try to use zstd dictionary mode for compression.
I want to use dictionary mode in my code.
But by looking at zstd.h, I found that there is no relevant api to train a dict, what should I do?
The example only shows how to use dict to compress and decompress, but it doesn't explain how to train a dict without cliTool

[2022-08-05 11:28] shulib opened #3234 "decompression of zst file is not done successfully in following cases"
**Describe the bug**
example of hex data of zst files:
1.
28 b5 2f fd e0 4a 02 00 00 00 00 00 00 7d 12 00 74 24 54 70 c3 73 54 3d 70 07 07 7b a0 7e c3 c3 7b 82 7b 73 70 3d 82 b2 95 6e 54 6e 7e 54 95 67 78 73 3d a0 78 7b 67 17 a9 17 07 7e 17 a0 3e 3d c3 c3 b2 54 7e 7b 3d 78 44 bb 17 3e 7e a0 07 a9 44 78 44 3e 67 b2 c3 a9 44 78 d3 3e b2 c3 44 a9 b2 95 7b 70 7e 3d 54 82 7b 7b 95 b2 44 3e 17 a9 07 7b

[2022-08-05 14:52] Cyan4973 commented on #3233
The API for dictionary training is in [`zdict.h`](https://github.com/facebook/zstd/blob/dev/lib/zdict.h).

[2022-08-05 17:01] terrelln commented on #2789
What do you mean by intrinsics? Like compiler builtins e.g. bextr?

You're definitely welcome to try! If we can get the same or better perf with C, we'd definitely switch back.

[2022-08-05 20:16] shuffle2 commented on #2789
Functions that you find pulled in from e.g. `x86intrin.h` (non-msvc) or `intrin.h` (msvc). It does seem that, unfortunately, gcc does not expose an intrinsic for some parts of BMI2. [Their own test for shlx relies on using -O2 and having the optimization pass emit shlx](https://github.com/gcc-mirror/gcc/blob/16e2427f50c208dfe07d07f18009969502c25dc8/gcc/testsuite/gcc.target/i386/bmi2-shlx32-1.c), w

[2022-08-07 22:33] embg opened #3236 "Undefined behavior in ZSTD_decompressStream()"
When `ZSTD_decompressStream()` is called with `outBuffer == {NULL, 0, 0}`, there is undefined behavior [here](https://github.com/facebook/zstd/blob/dev/lib/decompress/zstd_decompress.c#L2182) when 0 is added to the NULL outBuffer pointer. UBSAN reports this as "runtime error: applying zero offset to null pointer". It was discovered by folly's [CompressionTest.cpp](https://github.com/facebook/folly

[2022-08-08 18:34] terrelln commented on #3234
This file is corrupt. It violates the requirement that the compressed block size must be no more than `min(window_size, 128 KB)`. And the window size advertised 586 bytes. But the compressed block is 591 bytes. So this file is corrupt.

How did you generate this file? If it was created by the upstream zstd library, then that is a bug.

BTW: If you need to recover this file for whatever reason, the

[2022-08-09 09:29] hzh0425 commented on #3233
Thanks~

[2022-08-09 09:29] #3233 closed, assigned to nobody

[2022-08-09 09:33] hzh0425 opened #3237 "How can I monitor the usage of cpu and memory?"
How can I monitor zstd's memory usage and cpu usage? Are there any tools I can use?

Thank you very much if you can solve my confusion~

[2022-08-09 15:23] cgbur opened #3238 "Document pass-through behavior in `zstd.1` and `--help`"
Document pass-through:
- [X] `--help`
- [x] `man`

Document the always-on pass-through behavior when the `-f` flag is present and when writing to stdout during decompression:
- [x] `--help`
- [x] `man`

Open question: should the current pass-through be documented in the `-f` flag or is it too nuanced to go there. Perhaps all of the information should be in the pass-through flag documentation?

I w

[2022-08-10 06:42] ip7z opened #3239 "1 GiB file bug"
zstd 1.5.2 doesn't reduce the Windows Size from 2 GiB to 1 GiB, if file size is exactly 1 GiB.

**To Reproduce**
[code]
result:
[code]
**Expected behavior**
[code]
**Source code lines**
the bug probably in function `ZSTD_adjustCParams_internal()` in `zstd_compress.c`:
[code]

and fixed version probably must use `<=` instead of `<`:
[code]

[2022-08-10 11:39] calvin2021y opened #3240 "LLVM mingw bug AddressSanitizer: use-after-poison on address"
**Describe the bug**
when build with https://github.com/mstorsjo/llvm-mingw and CMAKE,  zstd make app crash with `AddressSanitizer: use-after-poison on address`

**To Reproduce**
Steps to reproduce the behavior:
1.  download llvm mingw for ubuntu
2.  build zstd with cmake
3.  create libuv thread and use ZSTD_compress
4. app late crash with `AddressSanitizer: use-after-poison on address`

remove th

[2022-08-11 09:45] calvin2021y commented on #3240
remove ZSTD, or change ZSTD into lz4 both fix the problem.

[2022-08-12 16:54] wanfuse123 commented on #3183
will this work with zcache, zram and zswap. I am told it might not multithread even though I have installed it as a kernel module because the kernel will not support multithreading. Anything special I have to do to get it to multithread? or is this not possible?
See my code so far here:  https://github.com/wanfuse123/zram-zswap-with-parallelized-compression-using-facebook-zlib

[2022-08-14 07:39] shulib commented on #3234
thanks for answer - I took the zstd file from other source ( it is not a tool bug)

[2022-08-14 07:39] #3234 closed, assigned to nobody

[2022-08-15 17:29] #3238 closed, assigned to nobody

[2022-08-16 07:30] PikachuEXE commented on #3131
Thanks for your comment now I can build it in multi stage Dockerfile
[code]

[2022-08-16 09:15] shulib opened #3243 "This packet not decompressed by tool"
Hi,
I take the additional file and tried to decompress it
as you see, the packet consists two blocks - one is zero block and the other is compressed block,
contains literals raw and all tables (they are predefined table, but it written as a regular table).
why the tool not decompress it?

this is the data of packet
28 b5 2f fd c0 7f fd 03 00 00 00 00 00 00 98 00 00 00 00 00 00 00 00 00 00 00 00 00

[2022-08-16 16:31] embg commented on #3243
Where did this file come from? How did you generate it?

[2022-08-16 16:33] embg commented on #3240
Thanks for the report! Could you share the exact code you're using to call `ZSTD_compress`? (You could create a GitHub Gist of that code and share that link with me).

[2022-08-16 16:35] embg commented on #3239
Thanks for the report! I will put up a fix before the next release.

[2022-08-16 16:43] embg commented on #3237
Would [top](https://man7.org/linux/man-pages/man1/top.1.html) or [htop](https://htop.dev/) work for your use-case?

[2022-08-16 16:48] #3229 closed, assigned to nobody

[2022-08-16 17:01] terrelln commented on #3237
For CPU, you'll need to use an external tool, but unless you explicitly enable multi-threading, each compression is single-threaded.

For memory, we provide `sizeof` functions for each of our objects, which you can use to determine how much memory they've allocated:

https://github.com/facebook/zstd/blob/ef60302af962840bced324034b73d13c481946d1/lib/zstd.h#L1100-L1105

You can limit memory usage by

[2022-08-16 17:10] terrelln commented on #3243
The offset table seems to be corrupt.

You can enable verbose logging with zstd by compiling with `make zstd DEBUGLEVEL=10`, you can raise or lower the debug level to get more or less verbose logging.

[2022-08-16 18:04] embg commented on #3243
Yes, in particular `ZSTD_decodeSeqHeaders` failed. You could try looking at the code for that function and see how your file is violating its requirements.

[code]

[2022-08-16 18:04] #3243 closed, assigned to embg

[2022-08-19 09:59] calvin2021y commented on #3240
https://gist.github.com/calvin2021y/955910b52c46773a846dcad856a01fcd

[2022-08-19 10:06] efbicief opened #3246 "Discrepancy in manual for dictionary loading"
In `zstd_manual.html:872`, describing `ZSTD_DCtx_loadDictionary`:

However, in `ZSTD_CCtx_loadDictionary_advanced` (`zstd_compress.c:1123` which `ZSTD_DCtx_loadDictionary` wraps around), this seems not to be true:
[code]

It seems that if adictionary is already used within a context, when loading a new one, the previous dictionary gets cleared from the context. I assumed that it would be retained

[2022-08-19 13:08] alphanso commented on #199
I believe I can use it. I was moving a project from zlib to zstd and we didn't want to maintain zlib dependency

[2022-08-19 15:53] Cyan4973 commented on #3246
The context can only manage one dictionary.
So, when a new dictionary get inserted, the old one get evicted.

There is also a difference between compression and decompression sides, which are quoted in this issue.

On the decompression side, it's possible, and was considered, to manage multiple dictionaries simultaneously. In which case, it would be possible to stack multiple `DDict` references in

[2022-08-20 18:14] Aryan-Jadon18 commented on #3171
I can help. Also, for convenience could you please specify the tasks that are needed to be done.

[2022-08-22 02:53] cgbur commented on #3237
@terrelln I have seen higher than 100% cpu usage without specifying multiple threads. `--single-threaded` fixes this for compression, but is ignored during decompression. I am not sure how the multi threaded writing is implemented yet or what is causing this.

[2022-08-22 04:02] embg commented on #3237
@cgbur zstd CLI with default settings uses one thread for (de)compression and another thread (or threads?) for I/O. Only in `--single-threaded` mode is I/O and (de)compression all in a single thread.

[2022-08-23 08:46] hzh0425 commented on #3237
@terrelln Thank you very much !!!

[2022-08-23 12:26] #3237 closed, assigned to embg

[2022-08-24 09:06] sumeetweb commented on #3186
I'm getting an error while building node runtimes with srtool. It seems it's using zstd and rust isn't able to compile it.

error: failed to run custom build command for `zstd-sys v2.0.1+zstd.1.5.2`

Caused by:
  process didn't exit successfully: `/build/runtime/relay-template/target/srtool/release/build/zstd-sys-d32b56ed5bbb25db/build-script-build` (exit status: 101)
  --- stdout
  TARGET = Some(

[2022-08-24 09:07] hbina commented on #3239
I think the original author wanted to be extra safe with the addition that follows. I believe something like this is enough?

[code]

[2022-08-24 13:41] Andarius opened #3249 "Build library for Android"
Hi,

First, If I'm the wrong place to ask this question feel free to close this issue. I'm also new to using C++ and CMake to there might be an obvious solution to this that I'm missing.

I'm trying to build `zstd` to be used in Android with jni with the following `CMakeLists.txt`:

[code]
However I keep getting the same error:
[code]

Any ideas of what I'm missing?

[2022-08-25 13:44] danlark1 opened #3250 "Building with c++14/17 fails on clang"
**Describe the bug**

When building with C++17, zstd fails

[code]

I believe it came from

https://github.com/facebook/zstd/pull/3225/files

where before it was

[code]

And after it became in reverse order

[code]

I see that the order is slightly inconsistent throughout the file, for example in https://github.com/facebook/zstd/commit/c450f9f952d22033919c71a6279b55adeb343e8e the order of ZSTD_DE

[2022-08-27 16:19] hzh0425 opened #3251 "Question: How to better train a dictionary in a specific scenario"
Hi, teams~
Now I have a special scenario:
There are many chunks with different sizes, with chunk sizes ranging from 1kb to 4mb, most of which are smaller than 64kb.
The total size of chunk is about 1gb.
Now I want to use zstd dictionary mode to compress these chunks, because dictionary mode is more suitable for small data scenarios.
So how can I better train the dictionary to achieve a better comp

[2022-08-27 16:33] hzh0425 commented on #3251
@terrelln @embg @Cyan4973  @ all team members Do you have any better way?

[2022-08-27 16:42] Cyan4973 commented on #3251
The more specialized dictionaries are, the better the compression ratio benefit.
Using buckets to achieve this goal is possible.
You'll need to use the same bucket assignation rule for training and for compression.

[2022-08-27 16:44] hzh0425 commented on #3251
Another question is how to pick a most representative chunk in each bucket? Or do we manually find the content with the highest repetition rate in each bucket, and then use 'ZDICT_finalizeDictionary' to train the dictionary? @Cyan4973

[2022-08-28 08:51] #3249 closed, assigned to nobody

[2022-08-29 22:01] dopatraman commented on #3186
Unfortunately, upgrading `gcc` did not solve this issue for me:

[code]

[2022-08-31 08:17] hzh0425 commented on #3251
Hi, could you please help me to solve this issue? @Cyan4973 @terrelln , thanks~

[2022-09-06 17:38] tasket commented on #999
I would like to see guidelines about versions become a bit more clear.  For example:  v1.4.x output clearly does not match v1.5.x output, but will any 1.4.x output match that of any other 1.4.x version (1.4.1 matching 1.4.9)?

[2022-09-07 17:37] chris8754 opened #3255 "pzstd compressed file begins with skippable frame"
**Describe the bug**
Files compressed with pzstd are beginning with a skippable frame. This makes the compressed file indistinguishable from an lz4 formatted file when reading the first four bytes (magic number). The magic number range of a skippable zstd frame is the same as the magic number range of a skippable lz4 frame.

**To Reproduce**
Steps to reproduce the behavior:
1. Download "dickens" f

[2022-09-09 16:59] itsManjeet opened #3260 "FATAL ERROR: zstd uncompress failed with error code 10"
**Describe the bug**
I am trying to compress a directory containing files of size ~= 2.5GiB via
`mksquashfs /input/path/* /path/to/output.img -comp zstd  -b 256K  -noappend  -Xcompression-level 22`

`/path/to/output.img` is inside a mounted s3fs directory (that's the possible cause of issue, but current architecture of the tool is reason to do that). however the same command work for data less tha

[2022-09-11 19:00] embg commented on #3236
Closed by https://github.com/facebook/zstd/pull/3258

[2022-09-11 19:00] #3236 closed, assigned to embg

[2022-09-13 17:29] Cyan4973 commented on #999
No, there is no such guarantee.

All release versions of `zstd` are allowed to produce different outputs.
Reproducibility is only guaranteed within a single release version.

[2022-09-13 20:31] tasket commented on #999
Seems like zstd should not position itself diametrically opposite to reproducibility / consistency, which is what the current policy is.  I will have to deprecate or discourage zstd use in Wyng to avoid breakdown of deduplication.

OTOH, prioritizing output consistency would place very little burden on the zstd project; all that's required is a willingness to recognize when consistency is broken a

[2022-09-13 23:05] Cyan4973 commented on #999
Just for reference :
output reproducibility (as in bit-identical) in software toolchains is a property _always_ tied to a specific version.

Requiring all versions of a product to always generate the same binary output would prevent the product from improving,
and would also prevent it from fixing any bug that could alter the binary output.

[2022-09-14 05:58] tasket commented on #999
I don't think anyone here is suggesting that; certainly not me.

[2022-09-14 16:47] grothesque commented on #1442
Zstd is great, but I agree with @chungy  that the decision not to make `-q --rm` the default is unfortunate.

If the user wishes to compress some files on the command line, the originals typically serve no purpose, and can be recreated whenever needed.  The user interface of compress and similar tools gets this job done with the least fuzz and effort.

Moreover, in the common use case where one do

[2022-09-14 17:38] felixhandte commented on #999
@tasket, then I'm not really sure what need you're describing that isn't being met. We provide determinism. We bump the library version every time we break determinism. What's missing?

[2022-09-15 11:30] grothesque commented on #1442
A more "philosophical" take on this topic:

Unix has a unique convention for compressed *individual* files (e.g. `README.txt.xz`, `syslog.2.gz`).  This is notably different from archive formats like tar, zip or rar that combine (and optionally compress) whole filesystem trees.

The essence of this convention is that the compressed files almost become work-alikes of the originals.  There is a whole

[2022-09-15 17:24] gcflymoto commented on #1442
I'll add that as part of automation flows, CI/CD pipelines, scripting, and so on, there is almost never a need to keep the originals. Tools like the very convenient [zutils](https://www.nongnu.org/zutils/zutils.html) make working with compressed files very transparent.

Another option is when TERM is defined zstandard is verbose, when it is undefined it is quiet.

[2022-09-18 07:17] ishitatsuyuki commented on #2832
FYI, I just found some benchmark on debuginfo done by MaskRay:
https://maskray.me/blog/2022-09-09-zstd-compressed-debug-sections

Looking at the number the gist seems that using a level around `-9` yields speed comparable to gzip while almost always outperforming its ratio.

[2022-09-18 17:19] dwblaikie commented on #2832
Except that analysis doesn't seem to have data on .debug_str_offsets in particular - which was an outlier in @resistor's analysis.

So this is still an interesting bug - though, yes, DWARF producers can adopt zstd for a win overall - it's just a bit awkward when one section regresses (we could technically keep compressing that one section with zlib for a win there, which is an unfortunate incentiv

[2022-09-20 07:52] revintec opened #3266 "[Help Wanted] should `ZSTD_flushStream` behaves differently from `ZSTD_endStream` when used for flushing purposes?"
Hi, I'm using 1.5.2, through jni(https://github.com/luben/zstd-jni 1.5.2-3), both are latest version as of writing

I use streaming compression to stream some lines of json string, delimited by line feed. After some critical point is reached I would like to flush zstd buffer so that the receiver can decode them immediately. I added a switch to call either `ZSTD_flushStream` or `ZSTD_endStream` for

[2022-09-20 15:49] Cyan4973 commented on #3266
Not sure what "hang" means in your description.

A `flush()` order will immediately create a block, with currently available input data.
The block is then flushed to output buffer, for immediate reading and decoding by a consumer process.
Note that `flush()` may not be able to flush the entire compressed block if the output buffer is not large enough,
I assume from now on that this is not the case

[2022-09-20 16:30] revintec commented on #3266
thanks for helping, the information you give is aligned with mine, I'll try to dig deeper

---

by "hang" I mean the receiver end won't get enough data to make progress. it behaves like the sender doesn't send a complete json line(or zstd block), thus it was blocking on lower network recv call, which is unexpected and shouldn't happen. the sender on the other hand thinks that it has flushed enough

[2022-09-20 20:10] js-writer commented on #3186
Same for me.

[2022-09-21 18:19] joycebrum opened #3269 "Enable the OpenSSF Scorecard Github Action"
Hello, I'm working on behalf of Google and the [Open Source Security Foundation][ossf] to help essential open-source projects improve their supply-chain security. Given relevance that the Zstandard has on countless projects, the OpenSSF has identified it as one of the 100 most critical open source projects.

**Is your feature request related to a problem? Please describe.**
According to [Open Sour

[2022-09-21 20:21] Cyan4973 commented on #3070
Fixed in #3268

[2022-09-21 20:21] #3070 closed, assigned to nobody

[2022-09-21 21:34] MaskRay opened #3271 "Make CMake official? (Makefile build does not provide CMake config file)"
README.md says

When using Makefile, CMake config files like `zstdConfig.cmake` is not installed. This makes projects using CMake awkward to use zstd. E.g. llvm-project has

[code]

It could add pkg-config fallback but that is inconvenient, and logic like `zstd::libzstd_shared` does not have a good replacement.

Related:

* https://bugs.gentoo.org/872254
* https://bugs.debian.org/cgi-bin/bugreport

[2022-09-22 05:08] tasket commented on #999
@felixhandte

Thank you for asking. But that is not how I interpret the dialogue thus far.

It should be asked:  Do all code changes have the same significance?  Why would a buffer overflow fix and a tweak to the compression ratio both affect the version's patch level and not the _major_ or _minor_?

Developers wanting determinism (and zstd efficiency) will face possible discontinuity each and eve

[2022-09-22 19:37] Tachi107 commented on #3271
I instead think that the simplest solution is to use the pkg-config file, as it gets generated regardless of the build system used to build libzstd, and can be easily used by both CMake and non-CMake users

[2022-09-22 22:01] MaskRay commented on #3271
It's unclear how pkg-config works on non-Unix-like systems.

I am not a CMake export, but using a native CMake config file seems to have some advantage that users prefer it instead of CMake's pkg-config support.
See https://github.com/PCSX2/pcsx2/blob/master/cmake/SearchForStuff.cmake#L212 , gdal, qt6-base, sprag, etc.

[2022-09-22 22:26] Tachi107 commented on #3271
I've never used pkg-config/pkgconf on Windows, but I guess that it works just like it does on Unix-like OSes - it reads a .pc file, it extracts a couple of compiler flags and it passes them to the compiler; it's not Unix or GCC specific.

Regardless of how it works, I doubt it's useful on Windows anyway; it doesn't have a package manager and you'll almost never link to system libraries.

Lastly, y

[2022-09-23 00:24] MaskRay commented on #3271
If CMake `find_package(zstd)` doesn't just work, the Cemu solution has to be duplicated by all zstd' CMake users.
This is exactly the situation we want to avoid.
(For zlib, libxml2, curl, and other nearly-always-enabled-on-Linux depndencies llvm-project has, no pkg-config related CMake code is needed.)

It seems that the zstd upstream is in a good position to solve the problem since a CMake build

[2022-09-23 10:41] Tachi107 commented on #3146
I'm pretty sure that the makefile already supports what's being requested here, and the issue is that not everybody is familiar with GNU Make's conventions.

`DESTDIR` shouldn't be used to alter the installation prefix, that's the job of `PREFIX`. `PREFIX` tells make where you want to install the "release" build of the project, while `DESTDIR` is mainly used to override the installation prefix for

[2022-09-27 13:12] kdave opened #3275 "Update linux kernel to latest zstd (from 1.4.10)"
Hi, people of reddit asked (https://old.reddit.com/r/kernel/comments/xp2o53/why_is_the_version_of_zstd_in_the_kernel_outdated/) about updating the linux port of zstd to newer version. This has been promised back then when 1.4.10 was synced a year ago and I'd be glad to see an update (or even a regular update in each kernel release) as btrfs is using zstd and any performance improvement is most wel

[2022-09-27 19:03] mathstuf commented on #3271
The `make` build could generate a `FindZSTD` that chains off to `pkg-config`. It should provide the same set of targets and variables as `zstdConfig.cmake` (though `pkg_config` will undoubtedly leak some more, keeping the documented interface the same should help a lot).

[2022-09-28 12:31] Natrox commented on #3275
Reddit OP here, I have a version of Linux 5.19 with upstream Zstd. If you need help with testing, integration, anything at all - feel free to ask. I can create a preliminary patch on `linux-next` if it helps you.

[2022-09-28 14:58] felixhandte commented on #3275
@kdave thanks for flagging this.

@Natrox, awesome!

@terrelln is the relevant authority for this stuff, so we should defer to him. He's out on vacation at the moment, but I'll make sure he sees this next week.

[2022-09-28 17:30] #3250 closed, assigned to nobody

[2022-10-01 08:16] ishitatsuyuki opened #3278 "Huffman assembly is slower than no asm on Zen 2"
**Describe the bug**
Defining `ZSTD_DISABLE_ASM` results in consistently faster decoding performance.

**To Reproduce**
1. Get a Zen 2 CPU
2. `#define ZSTD_DISABLE_ASM` in portability_macros.h (for simplicity)
3. Observe results

[code]

I observe a similar 10% decoding improvement when running the benchmark for release branch (it doesn't have the `large-literal-and-match-lengths` bench though).

[2022-10-01 08:41] ishitatsuyuki commented on #3278
cc @terrelln (since you implemented the asm variant)

[2022-10-03 07:16] ishitatsuyuki commented on #3278
I don't really have an idea what's going on but I have a guess.

The ASM version uses the [variant 5 "throughput optimized"](https://fgiesen.wordpress.com/2018/09/27/reading-bits-in-far-too-many-ways-part-3/) which has a whooping 1LD+5ALU latency; the portable path uses the [variant 3](https://fgiesen.wordpress.com/2018/02/20/reading-bits-in-far-too-many-ways-part-2/) with 1LD+2ALU, which is quite

[2022-10-04 14:06] terrelln commented on #3278
The Huffman ASM has been tuned for Intel x86, where it is significantly faster than the C code. I don't remember if I benchmarked on a Zen 2 machine. I don't see it in the commit message, so I might not have. However, I have a Zen 2 machine at home, so I can try to reproduce these benchmarks.

Assuming I can reproduce the benchmarks, I agree it would make sense to disable the assembly on non-intel

[2022-10-04 15:02] halifir opened #3280 "Multithreading issue with z_nbWorkers>1, self build zstd with gcc 8 or redhat 9 x64 system build,"
I have a multithreading issue on Linux with self compiled libzstd.a and gcc 7 and gcc 8
and with the prebuild redhat 9 x64 usr/lib64/libzstd.so

The problem with usr/lib64/libzstd.so means - that the problem is not bound to my local gcc compiler.

When I use the ZSTD stream functions with z_nbWorkers >1 (I used 9)

ZSTD_CCtx_setParameter(z_comp_context, ZSTD_c_nbWorkers, z_nbWorkers);
and using th

[2022-10-04 16:00] nickaein commented on #2832
We're having similar issue when compressing our parquet files. `zstd` leads to worse compression ratio compared to `gzip` and only can beat `gzip` at level 18 or higher which is too slow for our use-case.

Here is a sample of parquet sizes compressed with `zstd` at level=9:

[code]

and here is size of same data compressed with `gzip`:
[code]

The data cannot be posted on public domain, but I can

[2022-10-04 18:07] Cyan4973 commented on #2832
These files are rather large.
I suspect the issue is that the compression level heuristic makes a bad bet regarding the `minmatch` value, which in this case is too high and results in too many lost opportunities.

Presuming you are using the `zstd` CLI,
could you try something like :
[code]
and see how compression ratio reacts to this parameter ?

[2022-10-04 18:19] terrelln commented on #3275
We are planning the 1.5.4 zstd release later this year. I will plan on updating the kernel with that release.

However, we don't expect too much more development before the release. So I will put up a patch to `linux-next` for testing with the current `dev` branch in the next 2 weeks. That will allow us to work out any kinks before the 1.5.4 release.

[2022-10-04 20:58] Cyan4973 commented on #3280
It seems like you are experiencing a pretty serious issue.
A blatant corruption when using multi-threading is unexpected : after all, this code path is heavily fuzzed, so we should have experienced an error being triggered during consistency checks.

Obviously, different issues could also lead to the same symptom.
And there might be a nb of conditions required for the bug to happen, maybe that's w

[2022-10-04 21:49] nickaein commented on #2832
I should clarify that lists I posted are size of directories and each one usually contains three parquet files. So the size of files can roughly be estimated by dividing those numbers by 3. Sorry for misleading stats.

I've selected one of the parquet files for testing that is 62 MB in uncompressed format and `gzip` gets it to 33 MB.

With `zstd`'s CLI, here is the output sizes for different confi

[2022-10-05 03:17] Cyan4973 commented on #2832
OK, so these parquet files seem very responsive to `mml=3`.
Likely, these files consist of many 32-bit values.

Unfortunately, `mml=3` is only properly supported with strategy `btopt` and higher.
Without further customization, and presuming "large" files (> 256KB), it means levels 16+.

As a work around, note that strategy is also a parameter that can be enforced manually, like `mml`.
Try for exam

[2022-10-05 03:32] Natrox commented on #3275
@terrelln Thank you for your confirmation! Is there any way I can assist with pre-release testing when the time comes?
Please let me know, I would be happy to run tests whenever necessary.

[2022-10-05 10:41] revintec commented on #3266
Ahhh...I've found the issue, though I don't know if this is expected or not

according to this `http://facebook.github.io/zstd/zstd_manual.html#Chapter9`
[code]
it reads to me that if the return value -- `retv` -- is >0, I should read at least `retv` bytes from the underlying medium before continue decompression, did I understand it correctly? `<-- THIS IS THE QUESTION`

---

however I've observed

[2022-10-05 13:35] halifir commented on #3280
I dont have the problem with clang. And it seem to be, that I dont have the problem if I just set the size/pos variables in zstd.h on volatile.
Something is breaking the access to a variable in my gcc.
I did a debug session for my code and the mutitthreading part on windows (before diving into the compression),  and I dont saw an unexpected problem in the sources.

[2022-10-05 13:35] #3280 closed, assigned to nobody

[2022-10-05 13:38] halifir commented on #3280
Because of defining the variables for size/pos in zstd.h  as volatile - the variable/register optimization problem of my gcc seems to  be in the calling part aka my code. I will reduce the function size of the caller/fetch variables with memcpy or something like that and I am sure that this will fix the problem, because the problem vanishes if I compile my code with clang or on Windows cl.exe or c

[2022-10-05 15:20] gcflymoto commented on #2832
Hi @Cyan4973, we're also seeing that zstd with some datasets requires exploration of fine-tuning the parameters which for the casual user can be very daunting. Has the zstd team explored the possibility of integrating the concept of paramgrill into zstd itself? An "auto-paramater-tuning" capability for zstd would really set it apart from other compression tools. It could alleviate the roadblocks w

[2022-10-05 16:31] Cyan4973 commented on #3266
Yes.
But "continue" in this context is in relation to the frame, not to the block.
Essentially, if the return value is `> 0`, it means the **frame** is not fully decoded.

This is what happens after a `ZSTD_flushStream()` : the sender completes a block, but the frame is still ongoing.
Consequently, even after receiving the complete compressed block, `ZSTD_decompressStream()` will still return a va

[2022-10-05 16:45] Cyan4973 commented on #2832
`paramgrill` unfortunately is not meant to be run "inline". It's essentially brute-force, so that's not energy efficient, and wouldn't fit within `zstd` itself.

`paramgrill` is more meant to be associated with an offline "training stage". This is similar to dictionary generation.

Finding better heuristics to determine parameters is a great topic. One difficulty though is to achieve that goal in

[2022-10-06 12:50] revintec commented on #3266
1. so decompression can(at least sometimes) continue(produce at least 1 byte of decompressed data) even for partial block? I thought it can only continue when the whole block is read...
2. after reading your comment, if I want the decompression to always make progress, it seems the return value(let's call it `retv`) from `ZSTD_decompressStream`(if it's not an error) can only be safely compared aga

[2022-10-06 15:16] nolange commented on #3275
Did 1.5.3 happen, or do you have the convention that uneven means unstable?

[2022-10-06 15:39] Natrox commented on #3275
Sorry to chime in, but I saw it so I figured I would give you a little info in case you did not know.
Far as I can tell it was elected not to release this version due to failed checks, however, there is a changelog you can find here:
[https://github.com/facebook/zstd/blob/dev/CHANGELOG](url)

The version notes show quite a few optimizations, however I do not know what will make it into 1.5.4 nor w

[2022-10-06 15:44] terrelln commented on #3275
We have not released 1.5.3 publicly yet. We were experimenting with a different release process where we release internally first, and publicly second. But other priorities took over and we haven't made the public release yet.

I don't know if we will call it 1.5.3 or 1.5.4, but we will make a public release later this year.

[2022-10-06 15:45] terrelln commented on #3275
Thanks! I will update here when I've put the patch up. At that point any testing would be greatly appreciated!

[2022-10-06 17:14] joycebrum commented on #3269
Hi, I'm closing the issue just to not incorrectly being shown as "not done" for you, considering that it was already done by https://github.com/facebook/zstd/pull/3277. Thanks for the consideration so far and any helps with security concerns or developments I'll be happy to help!

[2022-10-06 17:14] #3269 closed, assigned to nobody

[2022-10-06 18:07] Cyan4973 commented on #3266
_continue_ is **not** defined as "produce at least 1 byte of decompressed data".
`zstd` considers that there is forward as long as one of these conditions is met:
- successfully ingested at least 1 byte of input data
- successfully produced at least 1 byte of output data

If any of these conditions is met, then there is "forward progress", which you could translate into "successful continue".

Wha

[2022-10-08 17:20] revintec commented on #3266
thanks for your time, it has been of great help

[2022-10-08 17:20] #3266 closed, assigned to nobody

[2022-10-09 13:53] danlark1 opened #3283 "Custom Huffman dictionary to ZSTD"
Hi, I have a question.

Say, I have a good set of strings and their frequencies to build a standard Huffman tree that I know nicely compresses small strings when standard Huffman is applied with a greedy strategy. What is the best way to construct a dictionary for ZSTD given these strings and frequences?

I tried concatenating them in both orders with the frequency counts repetitions and without a

[2022-10-10 18:00] terrelln commented on #3283
Just pass the samples to `ZDICT_finalizeDictionary()`. Also make sure to set the compression level to the level you'll be using in the `ZDICT_params_t`.

`ZDICT_finalizeDictionary()` will:
* Compress each sample with the given compression levels
* Extract the literals from the samples, build a Huffman tree from the stats of the literals only, and put it in the dictionary
* Build FSE tables for off

[2022-10-10 18:20] danlark1 commented on #3283
Thanks! I believe I got the answer

Just for the context: I am trying to build an external dictionary which I believe should compress faster and better

I tried the method you described and unfortunately it worked worse :(. I expected ZSTD to be even better feeding a set of strings that is known to compress a set of files even as a literal compression. Given I have this dictionary, I believed I co

[2022-10-10 18:20] #3283 closed, assigned to terrelln

[2022-10-10 18:25] danlark1 commented on #3283
One more thing, I found that it's useful to have most common elements at the end of the dictionary so that offsets are closer to the file itself, that was a little surprising to discover but I should just continue reading code, I guess :+1:

[2022-10-10 18:37] terrelln commented on #3283
`ZDICT_finalizeDictionary()` does not insert any "content" into the dictionary. It only adds the header containing the Huffman & FSE tables to the beginning of a pre-built dictionary. You pass it the pre-built dictionary, and the samples.

`ZDICT_trainFromBuffer()` is the "default" dictionary builder which is reasonably fast and builds a reasonably good dictionary. I'd recommend also trying `ZDICT

[2022-10-12 06:00] paulmenzel opened #3286 "Difference of zstd and Zstandard not explained in manual page"
The  manual page zstd(1) [contains the (long(?)) project name *Zstandard* once](https://github.com/facebook/zstd/blob/3b4e47092ea3e6c6d36b5e71d1f930ace4870e51/programs/zstd.1.md?plain=1#L186). It’d be great, if it could be cleared up, when to use what term. The [RFC abstract](https://datatracker.ietf.org/doc/html/rfc8878) has:

[2022-10-12 06:28] Cyan4973 commented on #3286
`zstd` and Zstandard have been used interchangeably so far. There never was an intention to create a clear boundary between those names.

But it's fair to say that, over time, there are a few situations where `zstd` feels more appropriate than Zstandard, and maybe vice versa.

Typically, when it comes to the reference CLI, provided in this repository, `zstd` feels more appropriate, since it's also

[2022-10-12 06:36] paulmenzel commented on #3286
Thank you.

[2022-10-12 06:36] #3286 closed, assigned to Cyan4973

[2022-10-12 18:08] FRex opened #3287 "Add an option in the zstd CLI to verify that a given .zst file matches an uncompressed file"
**Is your feature request related to a problem? Please describe.**
I'd like a switch or two in the CLI to verify that a given file matches the compressed .zst file hash and/or content, to verify if given .zst file is a compressed version of a given normal file.

**Describe the solution you'd like**
A new switch or two, that'd look and work as such:
[code]
It'd first check the filesize, and then ha

[2022-10-14 22:42] terrelln commented on #3275
FYI I've started working on this. I expect to have a patch up next week. And I am going to be aiming for the v6.2 merge window.

[2022-10-15 08:12] Cyan4973 commented on #3119
This was improperly closed.
#3288 doesn't fix #3119.

[2022-10-17 21:15] Cyan4973 commented on #3287
What about:
[code]

[2022-10-17 21:43] FRex commented on #3287
If FILE's size changed (very common when editing text) it will do (potentially a lot, if the change is very deep into file) needless work, instead of just checking size of FILE on disk vs. size stored in FILE.zst

Right now `-v -l` reports original filesize but not the hash (it only says `Check: XXH64`), if it printed the hash, that'd enable writing a script that does all I said I'm looking for an

[2022-10-17 21:50] Cyan4973 commented on #3287
OK, so you are looking for `zstd -lv` to report the actual value of the content hash, not just the fact that it exists.
This is likely achievable.

[2022-10-17 21:56] FRex commented on #3287
That'd enable scripts to use zstd cli to do what I mentioned. Only problem
I can imagine is multi-frame file with hash per frame.

El lun, 17 oct 2022 23:50, Yann Collet ***@***.***> escribió:

[2022-10-18 02:39] figueroandy commented on #3260
I am posting "me too" to this issue, as reported to bugs.gentoo.org on 4/16 and 4/17/2022 at: https://bugs.gentoo.org/838862

From 4/16/2022
Upon restoring or even reading content of very large tar.zstd archives (11 GB or larger) containing very large files (6 GB or larger) the following error results:

$ tar xf /mnt/backup3/data/vboxmnt.tar.zst
...
"/*stdin*\ : Decoding error (36) : Restored data

[2022-10-18 07:16] nolange commented on #2079
Do you have to give up some compression rate for those guarantees?

ie. is `--single-thread` less restricted and could produce smaller files?

[2022-10-18 16:09] ojeda opened #3293 "Linux kernel: generate SPDX license identifiers"
Since now the generation of the Linux zstd code is fully automated, it would be nice to prefix the generated files with the `SPDX` license identifiers as needed.

[2022-10-18 23:12] terrelln commented on #3275
Quick update:

I'm preparing a patch to update the kernel to v1.5.2 now, aiming for the v6.2 merge window. If the next zstd release is out before then, I will update to that release instead.

I've completed the build, boot, and light btrfs/squashfs/zram testing. I've started performance measurements, however I'm seeing a ~10-20% performance regression for compression levels 5-15. I've bisected it

[2022-10-18 23:35] #3293 closed, assigned to terrelln

[2022-10-19 02:51] Natrox commented on #3275
@terrelln Thank you for the update! And thank you for your work thus far.

Personally speaking, I do not mind the compression regression but it is hard to say whether that is a shared sentiment. I'll leave that for others. I do use 3+ compression levels quite a bit, but my situation does not care for write speed.

Speaking on where to go with it, I think your plan thus far sounds sane, particularl

[2022-10-19 05:36] John-Gee commented on #3275
@terrelln Could you maybe switch compression levels to balance the regression or would that drop compression ratio too much? (ie make 15 in latest be more like current 13 or whatever other level with a similar performance and ratio). Or maybe you could revert the bad commit while you figure it out?

Personally I use 2-5 but I'd be happy to use higher if performance was better (which I believe was

[2022-10-19 11:28] kdave commented on #3275
10-20% is not negligible perf regression, I'd rather not push such update. We got speedups in previous updates so not making it worse should be one of the criteria. I'd understand a minor perf drop (say <3%) in case of some necessary code updates like added safety checks but the linked commit is about improving compilation speed. That's trading time on developer side for all user's run time which

[2022-10-19 15:37] X6B commented on #3275
@terrelln I am interested. Share your patch please.

[2022-10-19 20:39] terrelln commented on #3275
Yeah, I've verified that the indirect function calls are definitely causing the issue. We went this route to reduce code size. But I can try to re-structure the code to keep the code size wins, but without the indirect function calls.

[2022-10-20 00:54] terrelln commented on #3275
I've been able to reduce the regression with PR #3295. There is still a bit of work to do, but we should be able to at least get pretty close to neutral for the compression levels where we saw a regression.

[2022-10-20 09:35] asdfgh870 opened #3296 "split a qcow2 file of which size is 100G to many smaller qcow2 files"
Is there anyway to split a qcow2 file to many qcow2 files just like vmdk file?because qemu-img check qcow2 file need so much memory which is too much to satisfy it。

[2022-10-20 11:29] Cyan4973 commented on #3296
This question is not relevant to this repository. It seems it would make more sense to direct it at the `qemu` project or support groups.

[2022-10-20 11:29] #3296 closed, assigned to nobody

[2022-10-20 11:45] mikhailkoliada opened #3297 "Please produce binaries for the latest versions"
Hello!

I am a member of the team responsible for GitHub Actions hosted runners and Microsoft-provided agents in Azure DevOps.
zstd is a highly-demanded package amongst GitHub customers, apart from that, the [actions/cache](https://github.com/actions/cache) action hardly relies on the zstd installed in the images we provide.

As we only provide the LTS versions of [ubuntu](https://github.com/actio

[2022-10-20 13:29] skycyan opened #3298 "Is the '--format=gzip' parameter used incorrectly?"
# Is the '--format=gzip' parameter used incorrectly?

Centos 7
$ yum -y install zstd

$ zstd -v
*** zstd command line interface 64-bits v1.5.2, by Yann Collet ***

$ zstd --format=gzip test.log
Incorrect parameters

[2022-10-20 15:11] Cyan4973 commented on #3298
Try : `zstd -vV`, this will display the list of supported formats for your installed binary

[2022-10-20 15:31] felixhandte commented on #3297
In general we rely on distros to produce the binaries for their OSes. But yes it's disappointing that the LTS releases don't update the zstd package. Technically, versions before 1.4.9 are affected by a [CVE](https://repology.org/project/zstd/cves).

Have you considered grabbing the .deb from a newer Ubuntu release and installing it manually? I see that 22.10 packages the current version. Given th

[2022-10-20 19:59] FRex commented on #3287
@Cyan4973

I've written the code to add printing checksum for single frame files with `-v -l` here: https://github.com/facebook/zstd/compare/dev...FRex:zstd:feature-zstd-cli-print-xxhash

If you find it acceptable I can create a PR or you can just copy paste it. If it's not acceptable let me know what I can fix to make it fit this requirements.

I skimmed https://github.com/facebook/zstd/blob/dev/

[2022-10-21 02:25] skycyan commented on #3298
$ zstd -vV
*** zstd command line interface 64-bits v1.5.2, by Yann Collet ***
*** supports: zstd, zstd legacy v0.5+

Thanks.
It seems that yum installs the zstd package and does not support the gzip format.

[2022-10-21 02:33] skycyan commented on #3298
# I tested the compression performance, and compared with pigz, it is not ideal. (16C 32G)

$ du -sh test-*
954M    test-pigz.log
954M    test-zstd.log

$ time zstd -2 test-zstd.log
test-zstd.log        : 28.77%   (   954 MiB =>    274 MiB, test-zstd.log.zst)

real    0m5.124s
user    0m5.304s
sys     0m0.548s

$ time pigz -2 test-pigz.log

real    0m2.130s
user    0m24.374s
sys     0m1.177s

$ ti

[2022-10-21 02:36] Cyan4973 commented on #3298
I presume you already know the difference between `gzip` and `pigz` ...

[2022-10-21 02:43] skycyan commented on #3298
pigz, which stands for parallel implementation of gzip, is a fully functional replacement for gzip that exploits multiple processors and multiple cores to the hilt when compressing data.

**yes, thanks for answering.**

[2022-10-21 05:20] mikhailkoliada commented on #3297
Hmm, we have not considered using deb from the newer ubuntu version, will check it out and let you know how it goes.

[2022-10-21 12:31] mikhailkoliada commented on #3297
@felixhandte 1.5.2 from 22.10 works on 22.04, but on 18 & 20 / 04 it depends on the toolchain libs still :(

<img width="642" alt="image" src="https://user-images.githubusercontent.com/88318005/197196219-4098cdbb-9b4e-44df-86c5-fcf109e6c9fe.png">

[2022-10-22 02:34] ryao commented on #246
@Cyan4973 Are you at liberty to say why? I thought Coverity was available to all OSS projects.

[2022-10-22 03:46] Cyan4973 commented on #246
Something like an perceived microscopic legal risk. Most likely blown out of proportion, but just say "wolf".

[2022-10-25 13:09] slinso commented on #3298
Just add -T0 to your zstd command so it uses all your cores.

[2022-10-27 17:49] mikhailkoliada commented on #3297
@felixhandte any thoughts? :)

[2022-10-27 18:00] terrelln opened #3301 "Missing parens in macro definition"
`RANK_POSITION_LOG_BUCKETS_BEGIN` and `RANK_POSITION_DISTINCT_COUNT_CUTOFF` need parens around their definitions.

Their uses are still correct without parens, but this is a code smell.

https://lore.kernel.org/oe-kbuild/20221027075910._PbWJp-5TkY_Ws8XnTmi6N1OnHCeRmO-lRyZj3XRJBk@z/T/#mbfb497176c369eb99f264c8c66cbef8883d29c57

Reported-by: kernel test robot <lkp@intel.com>
Reported-by: Dan Carpente

[2022-10-28 19:28] vogelke opened #3303 "FreeBSD check fails when GNU stat comes first in PATH"
**Describe the bug**
Running `make check` on FreeBSD fails when GNU `stat` is used for file
permissions or mtime.

**To Reproduce**
Steps to reproduce the behavior:

1. On a FreeBSD system, install the GNU version of `stat` in
/usr/local/bin as `stat` instead of `gstat`.

2. Run `make check`

**Expected behavior**
I was expecting regular test output, ending with

    ===>  zstd long distance match

[2022-10-31 13:49] Hlinbit opened #3305 "Where is ZSTD_CCtx allocated when ZSTD_createCCtx is called?"
I have found a curious problem when I write code for compressing data in multi-thread mode.  My code is like following fake code.
[code]

So Where is ZSTD_CCtx allocated when ZSTD_createCCtx is called? Threads created will share heap memory with the main process. But In the above example, the address of zstd_cctx in the sub-thread does not equal the address when it is created.
Because the struct Z

[2022-10-31 15:12] felixhandte commented on #3305
The `ZSTD_CCtx` struct is allocated on the heap via a simple call to `malloc()` ([here](https://github.com/facebook/zstd/blob/v1.5.2/lib/compress/zstd_compress.c#L92-L95) to [here](https://github.com/facebook/zstd/blob/v1.5.2/lib/compress/zstd_compress.c#L114) to [here](https://github.com/facebook/zstd/blob/v1.5.2/lib/common/zstd_common.c#L60) to [here](https://github.com/facebook/zstd/blob/v1.5.2

[2022-10-31 15:36] embg commented on #3303
Thanks for the detailed report and fix!

My only concern with this patch -- could there ever be a situation where `stat --help > /dev/null` returns 0, but we do want to set `GET_PERMS="stat -f %Lp"` etc?

[2022-10-31 16:09] shulib opened #3306 "Question - protocol of zstd"
In Spec I read in FSE- Hufman part:
"he number of symbols to decode is determined by tracking bitStream overflow condition: If updating state after decoding a symbol would require more bits than remain in the stream, it is assumed that extra bits are 0. Then, symbols for each of the final states are decoded and the process is complete."
what is the extra bits?

[2022-10-31 16:36] embg commented on #3306
I think it's saying that if the final symbol in the stream overflows, the bits that go beyond the end of the stream are assumed to be 0.

@Cyan4973 or @terrelln can provide more context.

[2022-10-31 16:37] Cyan4973 commented on #3306
Yes, that's correct

[2022-10-31 16:46] shulib commented on #3306
do you mean to the number of bits or to value of it?

[2022-10-31 16:51] embg commented on #3306
The extra bits have value = 0. The number of extra bits may be greater than 0.

[2022-10-31 16:51] #3306 closed, assigned to Cyan4973, terrelln

[2022-10-31 17:34] shulib commented on #3306
Why do we need this assumption?
the symbol already read.

[2022-10-31 17:40] Cyan4973 commented on #3306
Indeed, this is an implementation detail,
more for people willing the understand what's the resulting value of the state in the reference implementation.

But since the last symbol is already read, this last state value will not be used again.
So the state value could be anything, it would not matter.

[2022-10-31 22:56] vogelke commented on #3303
Under FreeBSD, the system stat command doesn't accept "--" options.  I doubt the other BSDs do, either.  The only alternative I could see was something like using a
full path like /usr/bin/stat, and that didn't seem to fit with the other portability stuff in the script.

If you don't mind assuming that perl is installed, this is portable:

    #!/bin/sh
    export PATH=/usr/local/bin:/bin:/usr/bin

[2022-11-01 11:13] Mysak0CZ opened #3307 "Feature request: Automatic/unlimited decompression memory"
**Is your feature request related to a problem? Please describe.**
When specific compression options are used (for me talking mainly about rather common `--long=31` option), decompression needs to be supplied the same arguments or decompression will fail, because of the massively increased memory requirements, resulting in for user unhelpful messages, such as:

This makes lot of sense in server/sh

[2022-11-01 14:56] embg commented on #3307
We limit memory allocation in the decompressor to 2^27 bytes by default so that applications don't need to worry about unexpected inputs causing OOM issues.

If you want to increase the default limit, simply pass `--long=31` or `-M2048MB` to the zstd CLI for all inputs. If you are using the C API, set [ZSTD_d_windowLogMax](https://github.com/facebook/zstd/blob/dev/lib/zstd.h#L567) to 31. Actual me

[2022-11-01 14:56] #3307 closed, assigned to nobody

[2022-11-01 15:12] Cyan4973 commented on #3307
I believe one of the points in this issue is that the CLI prompt is not descriptive enough to help the user solve the problem :

I made the same test on current `dev` version, and it resulted in the following error:

[code]

Maybe older versions were less descriptive?

[2022-11-01 18:02] joycebrum opened #3308 "Fix Scorecard Github Action error"
**Describe the bug**

I've seen that the Scorecard Github Action is throwing an error (https://github.com/facebook/zstd/actions/runs/3371193183).

This [error](https://github.com/ossf/scorecard-action/issues/998) is solved in the version 2.0.6 (https://github.com/joycebrum/zstd/actions/runs/3371656143), can I open a PR to upgrade the version and solve the issue?

[2022-11-01 18:04] felixhandte commented on #3308
Hi @joycebrum,

Yeah, sure thing! Thanks for taking a look.

[2022-11-01 21:53] #3308 closed, assigned to nobody

[2022-11-02 19:09] embg opened #3310 "Surprising error report for dict id mismatch"
**Describe the bug**
When I change the dict id between compression and decompression, I get `zstd: error 11 : Allocation error : not enough memory`.

**To Reproduce**
[code]

**Expected behavior**
 I would expect to get an error code more closely related to the underlying problem, such as `ZSTD_error_dictionary_wrong` or `ZSTD_error_dictionary_corrupted`.

**Desktop (please complete the following

[2022-11-02 20:15] Cyan4973 commented on #3310
Surprising.
I tried the same test, and got :
[code]

[2022-11-02 20:17] embg commented on #3310
Did you test with a large file like silesia.tar?

[2022-11-02 20:26] Cyan4973 commented on #3310
Yes,
same outcome.

[2022-11-02 20:37] embg commented on #3310
Strange, I'll try to figure out what's causing it then since it doesn't reproduce on your machine...

[2022-11-02 20:51] embg commented on #3310
Problem is a bug in the python code: it should be `8:` rather than `9:`. Fixing that bug causes zstd to return `Decoding error (36) : Dictionary mismatch` as desired.

For future reference, instead of the Python code I could have trained two dictionaries using the `--dictID=#` flag. Thanks @Cyan4973 for helping me debug.

[2022-11-02 20:51] #3310 closed, assigned to embg

[2022-11-03 01:32] #3305 closed, assigned to felixhandte

[2022-11-04 02:57] eli-schwartz commented on #3303
Maybe instead of checking whether `stat --help` exits successfully, you could check whether its stdout contains the string "GNU coreutils".

Although I think it's pretty uncommon to install the GNU version under the unprefixed name on *BSD. :D

[2022-11-04 03:13] eli-schwartz commented on #3271
This is a nice idea, but it's unclear how to actually do this considering the turing tarpit complexity of the file format of what is otherwise, literally, a key/value `*.pc`.

I really would be fascinated to hear more about this option though. It would be handy for the `meson` build as well.

...

Speaking of which, it is *incredibly* frustrating that e839b31dc4eb0f654b0cc47440df1d9377d1815b added

[2022-11-04 13:41] mathstuf commented on #3271
Yes.

[code]

[2022-11-04 13:43] mathstuf commented on #3271
It can be more-or-less declarative. It involves creating targets and setting properties on those targets. Prefix detection is imperative, but…minor. It certainly shouldn't involve loops nevermind open-ended loops in the common or even uncommon case.

[2022-11-04 15:49] bsergean commented on #3271
fyi moving the cmake files to the top level folder, and just changing one variable (that set the top level) is sufficient to have 'normal' behavior. Make a [pr](https://github.com/facebook/zstd/pull/3311) for that.

[2022-11-05 11:16] fool1280 commented on #3301
Hi, can I take on this issue? It seems like a simple fix for a first time contributor like me. Thank you!

[2022-11-07 18:00] terrelln commented on #3301
Absolutely!

[2022-11-09 19:35] islamismailov opened #3312 "New release?"
It's been almost 10 month since the last (1.5.2) zstd release. I was wondering the team is planning to release an updated version any time soon.

[2022-11-09 22:28] terrelln commented on #3312
Yes, we're aiming to make a release later this year.

[2022-11-10 21:01] #3312 closed, assigned to nobody

[2022-11-12 02:31] Hlinbit opened #3313 "Can we set the input buffer point same as the output buffer point? ( just for version 1.3.7)"
This question is just about streaming compression in version 1.3.7 .

Well, after reading the code about using examples in zstd, I wonder why we need to allocate two memory areas to contain input buffer and out buffer respectively. However, I have tested that output and input share the same memory area to compress the data. It works well and the compression result is correct. So can I use the same

[2022-11-14 11:58] jonashaag opened #3314 "Compression level 1 much better than all levels 2-15"
**Describe the bug**

For this file: https://conda.anaconda.org/conda-forge/linux-64/repodata.json the compression level 1 is much better than all levels 2-15.

**To Reproduce**

[code]

Output:

[code]

**Expected behavior**

I would expect a mostly negative correlation between compression level and size.

**Screenshots and charts**
If applicable, add screenshots and charts to help explain your p

[2022-11-14 20:36] daniellerozenblit commented on #3314
This is not necessarily a bug, and can definitely occur. There is _generally_  a negative correlation between compression level and compressed size, however, this is not always the case. Issue [2973](https://github.com/facebook/zstd/issues/2973) observes a similar phenomena.

[2022-11-14 21:56] jonashaag commented on #3314
Thanks, I’m aware that this correlation does not always hold. I just wanted to report this here to have it documented. Feel free to close.

[2022-11-14 22:00] jonashaag commented on #3314
Is there something special about level 1 that makes it perform so well in those cases? If so I guess it is systematic and could be „fixed“/worked around in higher levels.

If nothing special, naïve  idea: implement „multi mode“ compression eg `zstd -1+15` that performs compression with multiple levels and takes the best output. Could easily be done as an external tool as well.

[2022-11-14 22:17] daniellerozenblit commented on #3314
Thank you for documenting! If there is a systematic issue, this sample could be helpful to analyze for future improvements.

I am not sure there is anything special about level 1 in particular. However, as described in the previous issue, we sometimes observe a reinforcing problem in higher levels that lead to suboptimal solutions.

We actually do have a tool, [paramgrill](https://github.com/faceb

[2022-11-14 22:21] #3314 closed, assigned to daniellerozenblit

[2022-11-14 22:53] Cyan4973 commented on #3314
Level 1 is looking for larger matches, at the expense of shorter ones.
It's essentially a "bet", originally selected for better speed.

Level 1 also have less capabilities to find matches, which, in this special case, tends to help because finding more (shorter) matches actually mess with the higher level repetition logic.

But that's really specific to this input. In most cases, more and shorter

[2022-11-15 00:03] enh-google opened #3315 "fuzzer crash in FUZZ_setRandomParameters"
**Describe the bug**

we (Android) saw a crash from your `tests/fuzz/stream_round_trip.c` fuzzer:
[code]
[clusterfuzz-testcase-minimized-zstd_stream_round_trip_fuzzer-5757473591263232.gz](https://github.com/facebook/zstd/files/10007902/clusterfuzz-testcase-minimized-zstd_stream_round_trip_fuzzer-5757473591263232.gz)

**To Reproduce**

this was with version "v1.5.2".

**Desktop (please complete the

[2022-11-15 05:40] jonashaag commented on #3314
Thanks! I have no understanding of the science of compression algorithms so pardon my naive question: would trying a few different match sizes before actually starting to compress solve this? (Or maybe more generally trying a few different levels.)

I’m aware that you can use an external tool to find a good compression level but I wonder if one could come up with a heuristic robust and efficient e

[2022-11-15 09:00] GitMensch commented on #3312
While not keeping the issue open then?

[2022-11-15 09:11] danlark1 commented on #3315
Fixed in https://github.com/facebook/zstd/pull/3291

[2022-11-17 07:19] shulib opened #3316 "Protocol question"
when jump table field is exist what should be the smallest regenerated_size value? because if we take for example regenerated_size==5 than it could not split evenly in the 3 streams but regenerated_size 4 comply the spec formula.

what about regenerated_size=0?

[2022-11-17 20:56] haampie opened #3317 "GNU Jobserver support"
**Is your feature request related to a problem? Please describe.**

When running multiple `zstd` processes in parallel, it's difficult to know how many threads to give to each process. Giving each process as many threads as available results in oversubscription, given them only 1 may not be optimal use of resources.

**Describe the solution you'd like**

GNU Make has this concept of a jobserver, w

[2022-11-17 23:18] GitMensch opened #3318 "please change references to HTTPS"
With both `grep` and via GitHub search you'll find a bunch of entries.
The one that is most visible is in the README.md - the link (currently a http-only forward) should be changed to https://facebook.github.io/zstd/#other-languages [and the two for zlib changed to https://www.zlib.net], similar the one in doc/README.md which should point to https://facebook.github.io/zstd/zstd_manual.html directl

[2022-11-17 23:23] GitMensch opened #3319 "manual on official site outdated"
**Describe the bug**
The link on doc/README.md is going to https://facebook.github.io/zstd/zstd_manual.html which has the 1.5.1 manual, while the one that is linked from the website itself points to the 1.5.2 manual at https://raw.githack.com/facebook/zstd/release/doc/zstd_manual.html.

**Expected behavior**
Both links pointing to the current version, ideally "automatic".

[2022-11-18 01:21] gcflymoto commented on #3317
@haampie Could this be handled by a generic wrapper around ZSTD which implements the observer protocol and executes zstd appropriately under the hood?

[2022-11-20 15:55] cwoffenden commented on #3318
GitHub supports relative paths that will also take the protocol, e.g.:
[code]
Resulting in this link: [Emscripten](//emscripten.org), which takes either HTTP or HTTPS (or whatever else) from parent.

It's also possible to to this with Actions too, so that forks don't have the origin's badges and results, e.g.:
[code]

[2022-11-22 13:47] yyuuttaaoo opened #3322 "[Feature] support flush to SLS with zstd compress type"
ZSTD has higher compression rate than LZ4.
User can choose between these 2 codec to trade off between CPU Usage and Network Usage when sending data to SLS.

[2022-11-22 13:55] #3322 closed, assigned to nobody

[2022-11-22 18:09] #3315 closed, assigned to nobody

[2022-11-22 20:33] mikhailkoliada commented on #3297
@felixhandte and now? :)

[2022-11-22 21:45] felixhandte commented on #3297
Sorry for the radio silence.

Is there a reason you need us to build these binaries? Ultimately, what we would build would just be the result of `git clone https://github.com/facebook/zstd && git checkout v1.5.2 && make zstd-release` on that platform.

Edit: I see you call that out as an option in your original comment. Yeah, I think that's probably the easiest way forward here.

[2022-11-23 11:40] nigeltao opened #3323 "ZSTD_compressBound can silently overflow"
The `size_t ZSTD_compressBound(size_t srcSize)` function is equivalent to the `ZSTD_COMPRESSBOUND` macro and it can silently overflow, as seen by compiling this program with `gcc -m32`:

[code]

Output (per https://godbolt.org/z/W5febq6x3):

[code]

The severity is probably very low, due to the relative unlikeliness of both (1) a 32 bit system and (2) a large (4GB) input. But given that `dstCapaci

[2022-11-23 19:51] Cyan4973 commented on #3323
Hi @nigeltao ,

Thanks for your report. You are right, the macro can be made to overflow. It's not going to result in safety issues though.
The main objective of `ZSTD_compressBound()` is to inform the user about a minimal output buffer size which guarantees `ZSTD_compress()` success. If a smaller value is provided, compression can still proceed, but it may result in failure.
For safety, there are

[2022-11-24 06:51] rongekuta opened #3324 "zstd decompression using "--patch-from" cost memory too high (when the dict is a big file)"
**Is your feature request related to a problem? Please describe.**

`zstd -d -M128MB --patch-from=d:/code-shared/apks/wzry_old.apk  d:/code-shared/apks/wzry.diff -o d:/code-shared/apks/wzry_new_d.apk  `

when i use zstd (--patch-from) to decompress a patch file using a big dict, i find "-M#" option is not valid, the big dict is load to memory all, and cost too many memory.  i search code for reaso

[2022-11-24 23:16] tomByrer commented on #2853
I'm curious how brotli got accepted into browsers?  While it seems brotli's dictionary was pre-set for a few years, it is ~1/3 of the compression work at higher levels.

[2022-11-30 15:49] shulib opened #3325 "Packet corrupted - literal issue"
Hi,
I got a packet with literal section data: 62 80 01 04 10 88 1f 20 40
as you see:
literal header is 0x62 0x80 0x01
header byte is 0x04
a. size mode = 0
b. literal compressed
c. Fse with table for weights 1 and 2
only one weight read (the even one) - weight 1 for symbol 0, I have 1 bit per weight.
why the tool corrupt this packet in literal section?
thanks,